server {
    listen 80 default_server;
    listen [::]:80 default_server;

    server_name "{{ inventory_hostname }}";

    location /.well-known/ {
        root {{ certbot_well_known_root }};
    }

    location / {
        return 302 https://$host$request_uri;
    }
}
