.DS_Store
.bundle
_site
_pdf
.directory
Gemfile
Gemfile.backup
Gemfile.lock
Gemfile.lock.backup
build
node_modules
miniconda.sh
decktape-*/
vendor
*.swp
.jekyll-metadata
.jekyll-cache
plantuml.jar
play-*
video-*
.vscode/*.log
api/*.json
