[submodule "reveal.js"]
	path = shared/reveal.js
	url = https://github.com/hakimel/reveal.js.git
[submodule "shared/font-awesome"]
	path = shared/font-awesome
	url = https://github.com/FortAwesome/Font-Awesome.git
