# See documentation here:
# https://blog.github.com/2017-07-06-introducing-code-owners/
#
# Anybody is free to add their name here

bin/ari*    @hexylena
metadata/   @bebatut @shiltemann @hexylena
_layouts/   @bebatut @shiltemann @hexylena
