# See documentation here:
# https://blog.github.com/2017-07-06-introducing-code-owners/
#
# Anybody is free to add their name here

assets/     @bebatut @shiltemann @hexylena
bin/        @bebatut @shiltemann @hexylena
metadata/   @bebatut @shiltemann @hexylena
badges/     @hexylena
_layouts/   @bebatut @shiltemann @hexylena
_includes/  @bebatut @shiltemann @hexylena
_plugins/   @bebatut @hexylena

# Topic maintainers are placed in github teams @galaxyproject/training-<topic-name>
topics/admin/                      @galaxyproject/training-admin
topics/assembly/                   @galaxyproject/training-assembly
topics/chip-seq/                   @galaxyproject/training-chip-seq
topics/computational-chemistry/    @galaxyproject/training-computational-chemistry
topics/contributing/               @galaxyproject/training-contributing
topics/dev/                        @galaxyproject/training-dev @abretaud
topics/ecology/                    @galaxyproject/training-ecology
topics/epigenetics/                @galaxyproject/training-epigenetics
topics/galaxy-interface/           @galaxyproject/training-galaxy-ui @galaxyproject/training-galaxy-data-manipulation
topics/genome-annotation/          @galaxyproject/training-genome-annotation
topics/instructors/                @galaxyproject/training-instructors
topics/introduction/               @galaxyproject/training-introduction
topics/metabolomics/               @galaxyproject/training-metabolomics
topics/metagenomics/               @galaxyproject/training-metagenomics
topics/proteomics/                 @galaxyproject/training-proteomics
topics/sequence-analysis/          @galaxyproject/training-sequence-analysis
topics/statistics/                 @galaxyproject/training-statistics
topics/transcriptomics/            @galaxyproject/training-transcriptomics
topics/variant-analysis/           @galaxyproject/training-variant-analysis


# Spanish tutorials
topics/introduction/tutorials/galaxy-intro-short/                          @galaxyproject/training-spanish @galaxyproject/training-introduction
topics/transcriptomics/tutorials/droplet-quantification-preprocessing/     @galaxyproject/training-spanish @galaxyproject/training-transcriptomics
topics/transcriptomics/tutorials/scrna-intro/                              @galaxyproject/training-spanish @galaxyproject/training-transcriptomics
topics/transcriptomics/tutorials/scrna-seq-basic-pipeline/                 @galaxyproject/training-spanish @galaxyproject/training-transcriptomics

# Lines starting with '#' are comments.
# # Order is important. The last matching pattern has the most precedence.
