# See documentation here:
# https://blog.github.com/2017-07-06-introducing-code-owners/
#
# Anybody is free to add their name here

assets/     @bebatut @shiltemann @hexylena
bin/        @bebatut @shiltemann @hexylena
metadata/   @bebatut @shiltemann @hexylena
badges/     @hexylena
_layouts/   @bebatut @shiltemann @hexylena
_includes/  @bebatut @shiltemann @hexylena
_plugins/   @bebatut @hexylena


# Topic Editorial Board members
topics/introduction/               @jennaj  @delphine-l
topics/admin/                      @hexylena  @natefoo  @bgruening  @martenson
topics/ai4life/                    @beatrizserrano
topics/assembly/                   @nekrut  @delphine-l
topics/climate/                    @annefou
topics/community/                  @nomadscientist
topics/computational-chemistry/    @chrisbarnettster  @tsenapathi  @simonbray  @bgruening
topics/contributing/               @bebatut  @bgruening
topics/covid19/                    @wm75
topics/data-science/               @hexylena  @shiltemann  @fpsom  @bebatut  @yvanlebras
topics/dev/                        @lecorguille  @bebatut
topics/ecology/                    @yvanlebras
topics/elixir/                     @bebatut  @fpsom
topics/epigenetics/                @lldelisle  @heylf  @joachimwolff
topics/evolution/                  @cstritt  @pvanheus
topics/fair/                       @simleo  @ilveroluca  @stain  @pauldg  @kkamieniecka  @poterlowicz-lab
topics/galaxy-interface/           @jennaj  @delphine-l
topics/genome-annotation/          @hexylena  @abretaud
topics/gmod/                       @hexylena  @abretaud
topics/imaging/                    @kostrykin  @beatrizserrano
topics/materials-science/          @patrick-austin  @leandro-liborio
topics/metabolomics/               @lecorguille  @melpetera  @foellmelanie
topics/microbiome/                 @bebatut  @shiltemann  @paulzierep
topics/one-health/                 @wm75  @pvanheus  @TKlingstrom
topics/plants/                     @deeptivarshney  @shiltemann
topics/proteomics/                 @foellmelanie  @subinamehta  @pratikdjagtap  @bgruening
topics/sequence-analysis/          @yvanlebras  @bebatut  @joachimwolff
topics/single-cell/                @nomadscientist  @mtekman  @pavanvidem  @hexhowells  @MarisaJL  @heylf
topics/statistics/                 @marziacremona  @cumbof  @anuprulez
topics/synthetic-biology/          @kenza12  @tduigou  @breakthewall  @guillaume-gricourt
topics/teaching/                   @bebatut
topics/transcriptomics/            @bebatut  @mblue9  @heylf
topics/variant-analysis/           @bebatut  @wm75  @bgruening  @nekrut
topics/visualisation/              @shiltemann  @hexylena

# Spanish tutorials
# Notify both the spanish team (@beatrizserrano @nomadscientist @davelopez) as the topic team
topics/introduction/tutorials/galaxy-intro-short/             @beatrizserrano @nomadscientist @davelopez    @jennaj
topics/single-cell/tutorials/scrna-case_alevin/               @beatrizserrano @nomadscientist @davelopez    @mtekman  @pavanvidem  @hexhowells  @MarisaJL  @heylf
topics/single-cell/tutorials/scrna-intro/                     @beatrizserrano @nomadscientist @davelopez    @mtekman  @pavanvidem  @hexhowells  @MarisaJL  @heylf
topics/single-cell/tutorials/scrna_case_basic-pipeline/       @beatrizserrano @nomadscientist @davelopez    @mtekman  @pavanvidem  @hexhowells  @MarisaJL  @heylf

# Lines starting with '#' are comments.
# # Order is important. The last matching pattern has the most precedence.
