---
layout: introduction_slides
topic_name: your_topic
tutorial_name: your_tutorial_name
logo: "GTN"
---

# What is the topic?

---

### Topic

Blabla

- Blabla
- Blabla

Blabla

- Blabla
- Blabla

---

### Second slide

![](../images/RNA_seq_zang2016.png)

<small>[*Zang and Mortazavi, Nature, 2012*](https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4138050/)</small>

---

### A Third slide

Some text

???

Slide notes
-> Pressing **P** will toggle presenter mode.


---

# Part 2

---

### An other slide

With text and a resized image

.image-25[![](../images/ecker_2012.jpg)]
