<!DOCTYPE html>
<html>
    <head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Galaxy Training!</title>
        <link media="all" href="https://netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://galaxyproject.github.io/training-material//assets/css/main.css">
        <link rel="stylesheet" href="https://galaxyproject.github.io/training-material//assets/css/font-awesome.css">
        <link rel="stylesheet" href="https://galaxyproject.github.io/training-material//assets/css/syntax_highlighting.css">
    </head>
    <body>
        <div class="wrapper">
            


<header>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a id="site-title" class="navbar-brand" href="https://wiki.galaxyproject.org/Teach/GTN">
              <img class="pull-left img-responsive" src="https://galaxyproject.github.io/training-material///assets/images/GTN.png">
            </a>
            <a id="site-title" class="navbar-brand name-holder" href="https://galaxyproject.github.io/training-material//topics//tutorials//tutorial.html">
              
            </a>
          </div>

          <div class="collapse navbar-collapse" id="navbar">

            <ul id="main-menu" class="nav navbar-nav navbar-right">
              <li><a href="https://galaxyproject.github.io/training-material/" title="Back to front page"><i class="fa fa-home"></i> Home</a></li>
              <li><a href="https://galaxyproject.github.io/training-material//topics/" title="Go back to list of tutorials"><i class="fa fa-file-text-o"></i> </a></li>

              
                <li><a href="https://galaxyproject.github.io/training-material//topics//slides" title="Slides for this tutorial"><i class="fa fa-graduation-cap"></i> Introduction slides</a></li>
              
              <!--<li><a href="https://galaxyproject.github.io/training-material///slides//"><i class="fa fa-file-powerpoint-o"></i> Associated slides</a></li>-->

              

              

              
                <li><a href="" title="Links to data"><i class="fa fa-folder-open"></i> Input Dataset</a></li>
              

              
                <li><a href="https://galaxyproject.github.io/training-material//topics/#references" title="References"><i class="fa fa-book"></i> Literature</a></li>
              

            </ul>
          </div>
        </div>
    </nav>
</header>

<section class="tutorial">
    <h1></h1>

    <blockquote class="overview">
        <h3>Overview</h3>

        <p class="bold"> <img class="emoji" title=":grey_question:" alt=":grey_question:" src="https://assets-cdn.github.com/images/icons/emoji/unicode/2754.png" height="20" width="20" align="absmiddle"> Questions</p>
        <ul>
        
        </ul>

        <p class="bold"> <img class="emoji" title=":dart:" alt=":dart:" src="https://assets-cdn.github.com/images/icons/emoji/unicode/1f3af.png" height="20" width="20" align="absmiddle"> Objectives</p>
        <ul>
        
        </ul>

        

        <p><span class="bold"> <img class="emoji" title=":hourglass:" alt=":hourglass:" src="https://assets-cdn.github.com/images/icons/emoji/unicode/231b.png" height="20" width="20" align="absmiddle"> Time estimation:</span> </p>

    </blockquote>

<h1 class="no_toc" id="introduction">Introduction</h1>

<p>General introduction about the topic and then an introduction of the tutorial (the questions and the objectives). It is nice also to have a scheme to sum up the pipeline used during the tutorial. The idea is to give to trainees insight into the content of the tutorial and the (theoretical and technical) key concepts they will learn.</p>

<blockquote class="agenda">
  <h3 id="agenda">Agenda</h3>

  <p>In this tutorial, we will deal with:</p>

<ol id="markdown-toc">
  <li>
<a href="#part-1" id="markdown-toc-part-1">Part 1</a>    <ol>
      <li><a href="#subpart-1" id="markdown-toc-subpart-1">Subpart 1</a></li>
      <li><a href="#subpart-2" id="markdown-toc-subpart-2">Subpart 2</a></li>
    </ol>
  </li>
  <li><a href="#part-2" id="markdown-toc-part-2">Part 2</a></li>
</ol>

</blockquote>

<h1 id="part-1">Part 1</h1>

<p>Introduction about this part</p>

<h2 id="subpart-1">Subpart 1</h2>

<p>Short introduction about this subpart.</p>

<blockquote class="hands_on">
  <h3 id="pencil2-hands-on-data-upload">
<img class="emoji" title=":pencil2:" alt=":pencil2:" src="https://assets-cdn.github.com/images/icons/emoji/unicode/270f.png" height="20" width="20" align="absmiddle"> Hands-on: Data upload</h3>

  <ol>
    <li>Step1</li>
    <li>
      <p>Step2</p>

      <blockquote class="comment">
        <h3 id="nut_and_bolt-comments">
<img class="emoji" title=":nut_and_bolt:" alt=":nut_and_bolt:" src="https://assets-cdn.github.com/images/icons/emoji/unicode/1f529.png" height="20" width="20" align="absmiddle"> Comments</h3>
        <p>A comment</p>
      </blockquote>

      <blockquote class="tip">
        <h3 id="bulb-tip-a-tip">
<img class="emoji" title=":bulb:" alt=":bulb:" src="https://assets-cdn.github.com/images/icons/emoji/unicode/1f4a1.png" height="20" width="20" align="absmiddle"> Tip: A tip</h3>

        <ul>
          <li>Step1</li>
          <li>Step2</li>
        </ul>
      </blockquote>
    </li>
  </ol>
</blockquote>

<h2 id="subpart-2">Subpart 2</h2>

<p>Short introduction about this subpart.</p>

<blockquote class="hands_on">
  <h3 id="pencil2-hands-on-data-upload-1">
<img class="emoji" title=":pencil2:" alt=":pencil2:" src="https://assets-cdn.github.com/images/icons/emoji/unicode/270f.png" height="20" width="20" align="absmiddle"> Hands-on: Data upload</h3>

  <ol>
    <li>Step1</li>
    <li>
      <p>Step2</p>

      <blockquote class="question">
        <h3 id="question-question">
<img class="emoji" title=":question:" alt=":question:" src="https://assets-cdn.github.com/images/icons/emoji/unicode/2753.png" height="20" width="20" align="absmiddle"> Question</h3>

        <p>Question?</p>

        <details>
<summary>Click to view answers</summary>
Answer to question
</details>
      </blockquote>
    </li>
  </ol>
</blockquote>

<p>Some blabla</p>
<blockquote class="hands_on">
  <h3 id="pencil2-hands-on-data-upload-2">
<img class="emoji" title=":pencil2:" alt=":pencil2:" src="https://assets-cdn.github.com/images/icons/emoji/unicode/270f.png" height="20" width="20" align="absmiddle"> Hands-on: Data upload</h3>

  <ol>
    <li>Step1</li>
    <li>
      <p>Step2</p>

      <blockquote class="question">
        <h3 id="question-questions">
<img class="emoji" title=":question:" alt=":question:" src="https://assets-cdn.github.com/images/icons/emoji/unicode/2753.png" height="20" width="20" align="absmiddle"> Questions</h3>

        <ol>
          <li>Question1?</li>
          <li>
            <p>Question2?</p>

            <details>
<summary>Click to view answers</summary>
<ol type="1">
<li>Answer for question1</li>
<li>Answer for question2</li>
</ol>
</details>
          </li>
        </ol>
      </blockquote>
    </li>
    <li>Step3</li>
  </ol>
</blockquote>

<h1 id="part-2">Part 2</h1>

<p>Short introduction about this subpart.</p>

<blockquote>
  <h3 id="nut_and_bolt-comment">
<img class="emoji" title=":nut_and_bolt:" alt=":nut_and_bolt:" src="https://assets-cdn.github.com/images/icons/emoji/unicode/1f529.png" height="20" width="20" align="absmiddle"> Comment</h3>

  <p class="comment">Do you want to learn more about the principles behind mapping? Follow our <a href="../../NGS-mapping">training</a></p>
</blockquote>

<h1 class="no_toc" id="conclusion">Conclusion</h1>

<p>Conclusion about the technical key points. And then relation between the technics and the biological question to end with a global view.</p>


    

    

    <h3>
<img class="emoji" title=":clap:" alt=":clap:" src="https://assets-cdn.github.com/images/icons/emoji/unicode/1f44f.png" height="20" width="20" align="absmiddle"> Congratulations on successfully completing this tutorial!</h3>


    <hr>
    <blockquote class="overview">
        <h3> <img class="emoji" title=":speech_balloon:" alt=":speech_balloon:" src="https://assets-cdn.github.com/images/icons/emoji/unicode/1f4ac.png" height="20" width="20" align="absmiddle"> Feedback</h3>
        Please take a moment and provide your feedback on this tutorial. Your feedback will help guide and improve future revisions to this tutorial. <a href="https://tinyurl.com/GTNfeedback" target="_blank">Feedback Form</a>
    </blockquote>

    <i>This material is the result of a collaborative work. Thanks the <a href="https://wiki.galaxyproject.org/Teach/GTN">Galaxy Training Network</a> and all the contributors
    
    !<br>
    <br>
    Found a typo? Something is wrong in this tutorial? Edit it on <a href="https://github.com/galaxyproject/training-material/tree/master/topics//tutorials//tutorial.md">GitHub</a>.</i>
</section>

        </div>
    </body>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
</html>
