<job_conf>
    <plugins workers="4">
        <plugin id="local_plugin" type="runner" load="galaxy.jobs.runners.local:LocalJobRunner"/>
    </plugins>
    <destinations default="local_destination">
        <destination id="local_destination" runner="local_plugin"/>
    </destinations>
    <tools>
    </tools>
</job_conf>
