<!--
add a button, include configuration options:

 link: "https://example.com"
 label: this text goes on button
 size: small/medium/large/extralarge
 colour:  blue/purple/green/red/yellow/lightblue/white/black
-->

{% assign buttonsize = include.buttonsize | default: "medium" %}
{% assign buttoncolour = include.colour | default: "yellow" %}

<a href="{% if include.link contains 'https' %}{{include.link}}{% else %}{{include.link | prepend: site.baseurl }}{% endif %}" style="display: inline-flex; align-items: center; white-space:normal" class="btn btn-square-{{buttonsize}} btn-{{buttoncolour}}"><div style="width: 100%;">{{include.label}}</div></a>
