{%- if include.contributors -%}
{%- capture people -%}
{% for id in include.contributors %}{{ include.sep }}{% if include.badge %}{% include _includes/contributor-badge.html id=id %}{% else %}{% assign name = contributors[id].name | default: id -%}{{ name -}}{% endif %}{%- endfor -%}
{%- if include.newcontributors -%}{{ include.sep }}{% if include.badge %}{% include _includes/contributor-badge.html id='newcontributors' %}{% endif %}{% endif %}
{%- endcapture -%}
{%- endif -%}
{{- people | remove_first: include.sep -}}
