{% if include.activity == "authorship" %}
	<abbr title="This person wrote the bulk of the training material, they may have done the analysis, built the workflow, and wrote the text themselves.">✍️</abbr>
{% elsif include.activity == "translation" %}
	<abbr title="This person did the translation and localisation of this text">{% icon language %}</abbr>
{% elsif include.activity == "editing" %}
	<abbr title="This person edited the text, either for spelling and grammar, flow, GTN-fit, or other similar editing categories">📝</abbr>
{% elsif include.activity == "infrastructure" %}
	<abbr title="This person managed and provided infrastructure to the GTN or for training purposes">🖥</abbr>
{% elsif include.activity == "testing" %}
	<abbr title="This person tested the tutorial to ensure it works correctly for students, or reported issues with the tutorial.">⚙️</abbr>
{% elsif include.activity == "ux" %}
	<abbr title="This person contributed UX or Design improvements to this tutorial or the GTN as a whole">✨</abbr>
{% elsif include.activity == "funding" %}
	<abbr title="These individuals or organisations provided funding support for the development of this resource">💵</abbr>
{% else %}
	{{ include.activity }}
{% endif %}
