<div markdown="0">
{% if include.page.contributors %}
	<div class="contributors-line">
		{{ locale['authors'] | default: "Authors" }}: {% include _includes/contributor-list.html contributors=include.page.contributors badge=true newcontributors=include.newcontributors %}
	</div>
{% elsif include.page.contributions %}
	<div class="contributors-line">
		{% include _includes/contributor-list2.html contributors=include.page.contributions badge=true newcontributors=include.newcontributors authorsonly=include.authorsonly %}
	</div>
{% endif %}
</div>
