{% assign locale = site.data.lang[page.lang] %}

{% assign supported_exactly = own_material.supported_servers.exact | length %}
{% assign supported_inexactly = own_material.supported_servers.inexact | length %}
{% assign supported = supported_exactly | plus: supported_inexactly %}
{% if supported > 0 or include.docker %}
    <button class="nav-link dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        {% icon instances %}{% if include.label %}&nbsp;{{ locale['supporting-galaxies'] | default: "Available on these Galaxies" }} {% endif %}
    </button>
    <ul class="dropdown-menu">
	<li class="dropdown-header">
		<b>Known Working</b>
	</li>
	{% assign usegalaxy_exact = include.material.supported_servers.exact | where: "usegalaxy", "true"   %}
	{% assign other_exact = include.material.supported_servers.exact | where: "usegalaxy", "false"   %}

    {% for inst in usegalaxy_exact %}
	<li>
		<a class="dropdown-item" href="{{ inst.url }}" title="{{ inst[0] }}">
			{{ inst.name }} <abbr title="This instance supports the precise tool versions used in this tutorial">✅</abbr> ⭐️
		</a>
	</li>
    {% endfor %}
    {% for inst in other_exact %}
	<li>
		<a class="dropdown-item" href="{{ inst.url }}" title="{{ inst[0] }}">
			{{ inst.name }} <abbr title="This instance supports the precise tool versions used in this tutorial">✅</abbr>
		</a>
	</li>
    {% endfor %}
	<li class="dropdown-header">
		<b>Possibly Working</b>
	</li>
    {% for inst in include.material.supported_servers.inexact %}
	<li>
		<a class="dropdown-item" href="{{ inst.url }}" title="{{ inst[0] }}">
			{{ inst.name }}
		</a>
	</li>
    {% endfor %}

    {% if include.docker %}
	<li class="dropdown-header">
		Containers
	</li>
        <li>
            <a class="dropdown-item" href="{{ site.github_repository }}/tree/{{ site.github_repository_branch }}/topics/{{ include.topic }}/docker" title="Docker image for this tutorial">
                {% icon docker_image %} Docker image
            </a>
        </li>
    {% endif %}
    </ul>
{% endif %}
