<header class="main_header">
    <h1>{{ site.title }}</h1>
    

	<table class="table no-border">
		<tr class="row">
			<td>
				This site contains a collection of tutorials developed and maintained by woldwide Galaxy community:
			</td>
		</tr>
        <tr class="row">
            <td>
              	<div class="embed-responsive embed-responsive-4by3">
      						<iframe class="embed-responsive-item" src="https://www.google.com/maps/d/embed?mid=1r8LJy6la-JeIrg23aZjpwVNjJDE"></iframe>
    			
				</div>
              </td>
        </tr>
   		<tr class="row">
   		 	<td>
    			Galaxy Training Network helps researchers find online training material, and trainers in their geographic area, and helps advertise training events as well.
    		</td>
    	</tr>
    	<tr class="row">
    		<td>
		
    			<a href="https://new.galaxyproject.org/teach/gtn/"><img src="{{ site.url }}/{{ site.logo }}" class="img-responsive" alt="Responsive image"></a>
  		
			</td>
		</tr>
	</table>



    <p><a href="https://gitter.im/Galaxy-Training-Network/Lobby?utm_source=badge&amp;utm_medium=badge&amp;utm_campaign=pr-badge&amp;utm_content=badge"><img src="https://camo.githubusercontent.com/66dbecf63f6c9c68127a18afaca4790a7eb6f1c1/68747470733a2f2f6261646765732e6769747465722e696d2f47616c6178792d547261696e696e672d4e6574776f726b2f747261696e696e672d6d6174657269616c2e737667" alt="Gitter" data-canonical-src="https://badges.gitter.im/Galaxy-Training-Network/training-material.svg" style="max-width:100%;"></a> </p>

</header>
