<script src="{% link assets/js/leaflet-1.9.3.js %}"></script>

<div id="map" style="width: 100%; height: {{ include.height | default:400 }}px"></div>
<script>
	const map = L.map('map').setView([0, 0], 1);

	const tiles = L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
		maxZoom: 19,
		attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
	}).addTo(map);

	function onEachFeature(feature, layer) {
		let orcid = "";
		if(feature.properties.orcid !== null && feature.properties.orcid !== undefined){
			orcid = `<a href="https://orcid.org/${feature.properties.orcid}"><img src="{% link assets/images/orcid.png %}" alt="orcid logo"/></a>`
		}
		let available = "";
		if(feature.properties.contact_for_training === true){
			available = `Available to for trainings 🧑‍🏫`
		}

		let popupContent = `
			<table><tr>
			<td style="min-width: 120px">
				<b>${feature.properties.name}</b> ${orcid}<br>
				<a href="${feature.properties.url}">See Profile</a><br>
				Joined ${feature.properties.joined}<br>
				${available}
			</td>
			<td style="min-width: 120px">
				<img src="https://avatars.githubusercontent.com/${feature.properties.id}?s=120" width="120" height="120" style="width: 120px !important; height: 120px !important;" alt="github avatar">
			</td>
			</tr></table>

		`;
		layer.bindPopup(popupContent);
	}

	const gtn_colors = [
		'#86D486',
		'#8A9AD0',
		'#B8C3EA',
		'#FFA1A1',
		'#FFE19E',
		'#ddd',
		'#de8875',
		'#dfe5f9',
		'#fb99d0',
		'#ffecc1',
	];

	function randomGtnColor(){
		return gtn_colors[Math.floor(Math.random() * gtn_colors.length)];
	}

	fetch('/training-material/api/contributors.geojson')
		.then(response => response.json())
		.then(data => {
			// Do something with the data
			const trainerLayer = L.geoJSON([data], {
				style(feature) {
					return feature.properties && feature.properties.style;
				},
				onEachFeature,
				pointToLayer(feature, latlng) {
					return L.circleMarker(latlng, {
						radius: 8,
						fillColor: randomGtnColor(),
						color: '#000',
						weight: 1,
						opacity: 1,
						fillOpacity: 0.8
					});
				}
			}).addTo(map);

		})
		.catch(error => {
			console.error('Error:', error);
		});

</script>
