{% assign locale = site.data.lang[page.lang] %}

{% assign tut = include.material.url | default: page.url %}
{% assign id-tutorial = tut | remove: '/topics/' | remove: "/tutorials" | remove: '.html' %}
{% assign id-slides = id-tutorial | replace: '/tutorial', '/slides' %}
{% assign id-demo = id-tutorial | replace: '/tutorial', '/demo' %}
{% assign id-both = id-tutorial | replace: '/tutorial', '' %}

{% assign hasvideo_tutorial = include.material['video_library']['tutorial'] %}
{% assign hasvideo_slides = include.material['video_library']['slides'] %}
{% assign hasvideo_demo = include.material['video_library']['demo'] %}
{% assign hasvideo_both = include.material['video_library']['both'] %}
{% assign hassession = include.material['video_library']['session'] %}

  {% if hasvideo_tutorial or hasvideo_slides or hasvideo_both or hasvideo_demo or hassession %}
  <li class="btn btn-default supporting_material">
    <a href="#" class="btn btn-default dropdown-toggle topic-icon" data-toggle="dropdown" aria-expanded="false" title="Latest recordings of this tutorial in the GTN Video Library">
        {% icon video %}{% if include.label %}&nbsp;Recordings{% endif %}
    </a>
    <ul class="dropdown-menu">
        {% if hasvideo_both %}
        {% assign allversions = "" | split: ',' %}
        {% for vid in hasvideo_both.versions %}{% assign allversions = allversions | push: vid %}{% endfor %}
        {% assign sortedversions = allversions | sort: 'date' | reverse %}

        <li>

            <a class="dropdown-item" href="https://gallantries.github.io/video-library/videos/{{id-both}}" title="View GTN Video Library for this Tutorial">
                {% icon video %} Lecture & Tutorial ({{sortedversions[0].date | date: "%B %Y" }})
            </a>
        </li>
        {% endif %}
        {% if hasvideo_tutorial %}

        {% assign allversions = "" | split: ',' %}
        {% for vid in hasvideo_tutorial.versions %}{% assign allversions = allversions | push: vid %}{% endfor %}
        {% assign sortedversions = allversions | sort: 'date' | reverse %}

        <li>
            <a class="dropdown-item" href="https://gallantries.github.io/video-library/videos/{{id-tutorial}}" title="View GTN Video Library for this Tutorial">
                {% icon video %} Tutorial ({{sortedversions[0].date | date: "%B %Y" }})
            </a>
        </li>
        {% endif %}
        {% if hasvideo_slides %}
          {% assign allversions = "" | split: ',' %}
          {% for vid in hasvideo_slides.versions %}{% assign allversions = allversions | push: vid %}{% endfor %}
          {% assign sortedversions = allversions | sort: 'date' | reverse %}

        <li>
            <a class="dropdown-item" href="https://gallantries.github.io/video-library/videos/{{id-slides}}" title="View GTN Video Library for these Slides">
                {% icon video %} Lecture ({{sortedversions[0].date | date: "%B %Y" }})
            </a>
        </li>
        {% endif %}
        {% if hasvideo_demo %}
          {% assign allversions = "" | split: ',' %}
          {% for vid in hasvideo_demo.versions %}{% assign allversions = allversions | push: vid %}{% endfor %}
          {% assign sortedversions = allversions | sort: 'date' | reverse %}

        <li>
            <a class="dropdown-item" href="https://gallantries.github.io/video-library/videos/{{id-demo}}" title="View GTN Video Library for these Slides">
                {% icon video %} Demo ({{sortedversions[0].date | date: "%B %Y" }})
            </a>
        </li>
        {% endif %}
        {% if hassession %}
          {% assign allversions = "" | split: ',' %}
          {% assign sessionvid = hasvideo_tutorial.videos[0] %}
          {% for vid in site.data['video-library'][sessionvid].versions %}{% assign allversions = allversions | push: vid %}{% endfor %}
          {% assign sortedversions = allversions | sort: 'date' | reverse %}

        <li>
            <a class="dropdown-item" href="https://gallantries.github.io/video-library/sessions/{{id-both}}" title="View GTN Video Library session for this tutorial ">
                {% icon video %} Multi-video Tutorial ({{sortedversions[0].date | date: "%B %Y" }})

            </a>
        </li>
        {% endif %}
    </ul>
   </li>
   {% endif %}
