{% if include.material.answer_histories %}
    <a href="#" class="btn btn-default dropdown-toggle topic-icon" data-toggle="dropdown" aria-expanded="false" title="Answer Histories">
        {% icon galaxy-history-answer %}{% if include.label %}&nbsp;Answer Histories{% endif %}
    </a>
    <ul class="dropdown-menu">
      {% for key in include.material.answer_histories %}
        <li>
            <a class="dropdown-item" href="{{ key.history }}">
              {{ key.label }}
              {% if key.date %}
              <br/><span class="text-muted">{{ key.date }}</span>
              {% endif %}
            </a>
        </li>
      {% endfor %}
      <li class="dropdown-divider"></li>
      <li>
        <a class="dropdown-item" href="{{ site.baseurl }}/faqs/gtn/gtn_example_histories.html">{% icon help %} How to Use This</a>
      </li>
    </ul>
{% endif %}
