---
layout: tutorial_slides_dataplant
logo: topics/dataplant/images/dataplant-logo.png
video: true

title: "Your presentation title"
tags:
- ARCs
- FAIR data
questions:
- A question this presentation addresses
- Another question
objectives:
- Learning objective of this presentation
- Use Bloom's Taxonomy to write good objectives
- "Example: Describe the features of an ARC"
key_points:
- take-home message for learner
time_estimation: "10m"
contributions:
  authorship:
    - Brilator
    - CMR248
  editing:
    - contributor2
---

## First slide title

Some text here..

[Here is a link!](https://example.org)

???
- Speaker notes go here
- Helps other instructors prepare to present this
- This text is also used to generate the video slides if you have enabled it.

---

### Another Slide

- Here is a list:
  - point 1
  - point 2

- And here is an image:
  - ![Alt text for image]({% link topics/dataplant/images/dataplant-logo.png %}){: width="30%"}


???
Speaker notes go here

---

### Slide 3

You can do a bit of simple layout tricks, such as columns:

.pull-left[

- Left column contents
- more text
- some **bold text**
- some *italics*

]

.pull-right[

- Right column text goes here
- blablabla

]

and back to one column here again

???

- CSS that can be used here comes from assets/css/slides.scss

---

### Branding your slides

- To apply branding to your own slides, update:
  - `_layouts/base_slides_dataplant.html` (general styling and layout)
  - `_layouts/training_slides_dataplant.html` (e.g. edit the automatic starting and end slides)
