@font-face {
  font-family: 'Yanone Kaffeesatz';
  font-style: normal;
  font-weight: 100 900;
  font-style: normal oblique;
  src: url(/training-material/assets/fonts/yanonekaffeesatz/YanoneKaffeesatz-VariableFont_wght.woff2);
}
