@font-face {
  font-family: "Atkinson Hyperlegible";
  src: url(/training-material/assets/fonts/AtkinsonHyperlegible/Atkinson-Hyperlegible-Regular-102a.woff2);
  font-display: swap;
}

@font-face {
  font-family: "Atkinson Hyperlegible";
  src: url(/training-material/assets/fonts/AtkinsonHyperlegible/Atkinson-Hyperlegible-BoldItalic-102a.woff2);
  font-weight: bold;
  font-style: oblique;
  font-display: swap;
}

@font-face {
  font-family: "Atkinson Hyperlegible";
  src: url(/training-material/assets/fonts/AtkinsonHyperlegible/Atkinson-Hyperlegible-Italic-102a.woff2);
  font-style: oblique;
  font-display: swap;
}

@font-face {
  font-family: "Atkinson Hyperlegible";
  src: url(/training-material/assets/fonts/AtkinsonHyperlegible/Atkinson-Hyperlegible-Bold-102a.woff2);
  font-weight: bold;
  font-display: swap;
}


@font-face {
	font-family: "OpenDyslexic";
	src: url(/training-material/assets/fonts/OpenDyslexic/OpenDyslexic-Bold-Italic.woff2);
	font-weight: bold;
	font-style: oblique;
	font-display: swap;
}
@font-face {
	font-family: "OpenDyslexic";
	src: url(/training-material/assets/fonts/OpenDyslexic/OpenDyslexic-Bold.woff2);
	font-weight: bold;
	font-display: swap;
}
@font-face {
	font-family: "OpenDyslexic";
	src: url(/training-material/assets/fonts/OpenDyslexic/OpenDyslexic-Italic.woff2);
	font-style: oblique;
	font-display: swap;
}
@font-face {
	font-family: "OpenDyslexic";
	src: url(/training-material/assets/fonts/OpenDyslexic/OpenDyslexic-Regular.woff2);
	font-display: swap;
}


@font-face {
	font-family: "Comic Mono";
	src: url(/training-material/assets/fonts/ComicMono/ComicMono-Bold.ttf);
	font-weight: bold;
	font-display: swap;
}
@font-face {
	font-family: "Comic Mono";
	src: url(/training-material/assets/fonts/ComicMono/ComicMono.ttf);
	font-display: swap;
}
