body {
  font-size: 15px;
  word-wrap: break-word;
  position: relative; }

h1,
h2,
h3,
h4 {
  margin-top: 2rem; }

img {
  max-width: 95%;
  margin: 2.5%; }

pre {
  padding: 1rem;
  background-color: #dddddd; }

figure {
  text-align: center;
  margin: 1rem 2rem; }
  figure > img {
    margin-bottom: 1rem; }
  figure .figcaption-prefix {
    font-weight: 600; }
  figure figcaption {
    text-align: justify; }

footer {
  margin-top: 3em;
  text-align: center;
  color: #777;
  font-size: 13px; }

.follow-up p {
  font-size: 18px; }

.navbar {
  background-color: #2c3143 !important; }
  .navbar .navbar-collapse {
    justify-content: flex-end;
    align-items: flex-end;
    min-width: 0; }

.main-content {
  padding-top: 1rem; }

.table td {
  vertical-align: middle; }
.table .fa {
  font-size: 20px; }

.training-network-map {
  width: 90%;
  margin: 0 auto; }

.tutorial > h1:first-child {
  margin-bottom: 1rem; }
.tutorial table {
  display: block;
  width: 100%;
  overflow-x: auto;
  max-width: 100%;
  margin-bottom: 1rem; }
  .tutorial table th,
  .tutorial table td {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #eceeef; }
  .tutorial table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #eceeef; }
.tutorial blockquote ul,
.tutorial blockquote ol, .tutorial blockquote > blockquote,
.tutorial blockquote p {
  margin-bottom: 0px; }
.tutorial blockquote.agenda {
  margin-top: 3rem;
  padding: 1rem 0.89rem 1rem;
  border: 1px solid #86D486;
  box-shadow: 3px 3px #86D486; }
  .tutorial blockquote.agenda > h3 {
    font-size: 18px;
    margin-left: -1rem;
    margin-right: -1rem;
    margin-top: -3.30rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: #86D486;
    color: #292b2c;
    vertical-align: 1em;
    float: left;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px; }
    .tutorial blockquote.agenda > h3 .fa {
      padding-right: 0.2rem; }
.tutorial blockquote.tip {
  margin-top: 3rem;
  padding: 1rem 0.89rem 1rem;
  border: 1px solid #FFE19E;
  box-shadow: 3px 3px #FFE19E; }
  .tutorial blockquote.tip > h3 {
    font-size: 18px;
    margin-left: -1rem;
    margin-right: -1rem;
    margin-top: -3.30rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: #FFE19E;
    color: #292b2c;
    vertical-align: 1em;
    float: left;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px; }
    .tutorial blockquote.tip > h3 .fa {
      padding-right: 0.2rem; }
.tutorial blockquote.question {
  margin-top: 3rem;
  padding: 1rem 0.89rem 1rem;
  border: 1px solid #8A9AD0;
  box-shadow: 3px 3px #8A9AD0; }
  .tutorial blockquote.question > h3 {
    font-size: 18px;
    margin-left: -1rem;
    margin-right: -1rem;
    margin-top: -3.30rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: #8A9AD0;
    color: #292b2c;
    vertical-align: 1em;
    float: left;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px; }
    .tutorial blockquote.question > h3 .fa {
      padding-right: 0.2rem; }
.tutorial blockquote.solution {
  margin-top: 3rem;
  padding: 1rem 0.89rem 1rem;
  border: 1px solid #B8C3EA;
  box-shadow: 3px 3px #B8C3EA; }
  .tutorial blockquote.solution > h3 {
    font-size: 18px;
    margin-left: -1rem;
    margin-right: -1rem;
    margin-top: -3.30rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: #B8C3EA;
    color: #292b2c;
    vertical-align: 1em;
    float: left;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px; }
    .tutorial blockquote.solution > h3 .fa {
      padding-right: 0.2rem; }
.tutorial blockquote.comment {
  margin-top: 3rem;
  padding: 1rem 0.89rem 1rem;
  border: 1px solid #ffecc1;
  box-shadow: 3px 3px #ffecc1; }
  .tutorial blockquote.comment > h3 {
    font-size: 18px;
    margin-left: -1rem;
    margin-right: -1rem;
    margin-top: -3.30rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: #ffecc1;
    color: #292b2c;
    vertical-align: 1em;
    float: left;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px; }
    .tutorial blockquote.comment > h3 .fa {
      padding-right: 0.2rem; }
.tutorial blockquote.hands_on {
  margin-top: 3rem;
  padding: 1rem 0.89rem 1rem;
  border: 1px solid #dfe5f9;
  box-shadow: 3px 3px #dfe5f9; }
  .tutorial blockquote.hands_on > h3 {
    font-size: 18px;
    margin-left: -1rem;
    margin-right: -1rem;
    margin-top: -3.30rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: #dfe5f9;
    color: #292b2c;
    vertical-align: 1em;
    float: left;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px; }
    .tutorial blockquote.hands_on > h3 .fa {
      padding-right: 0.2rem; }
.tutorial blockquote.key_points {
  margin-top: 3rem;
  padding: 1rem 0.89rem 1rem;
  border: 1px solid #FFA1A1;
  box-shadow: 3px 3px #FFA1A1; }
  .tutorial blockquote.key_points > h3 {
    font-size: 18px;
    margin-left: -1rem;
    margin-right: -1rem;
    margin-top: -3.30rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: #FFA1A1;
    color: #292b2c;
    vertical-align: 1em;
    float: left;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px; }
    .tutorial blockquote.key_points > h3 .fa {
      padding-right: 0.2rem; }
.tutorial blockquote.overview {
  margin-top: 3rem;
  padding: 1rem 0.89rem 1rem;
  border: 1px solid #8A9AD0;
  box-shadow: 3px 3px #8A9AD0; }
  .tutorial blockquote.overview > h3 {
    font-size: 18px;
    margin-left: -1rem;
    margin-right: -1rem;
    margin-top: -3.30rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: #8A9AD0;
    color: #292b2c;
    vertical-align: 1em;
    float: left;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px; }
    .tutorial blockquote.overview > h3 .fa {
      padding-right: 0.2rem; }
.tutorial blockquote.warning {
  margin-top: 3rem;
  padding: 1rem 0.89rem 1rem;
  border: 1px solid #de8875;
  box-shadow: 3px 3px #de8875; }
  .tutorial blockquote.warning > h3 {
    font-size: 18px;
    margin-left: -1rem;
    margin-right: -1rem;
    margin-top: -3.30rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: #de8875;
    color: #292b2c;
    vertical-align: 1em;
    float: left;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px; }
    .tutorial blockquote.warning > h3 .fa {
      padding-right: 0.2rem; }
.tutorial blockquote.details {
  margin-top: 3rem;
  padding: 1rem 0.89rem 1rem;
  border: 1px solid #ddd;
  box-shadow: 3px 3px #ddd; }
  .tutorial blockquote.details > h3 {
    font-size: 18px;
    margin-left: -1rem;
    margin-right: -1rem;
    margin-top: -3.30rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: #ddd;
    color: #292b2c;
    vertical-align: 1em;
    float: left;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px; }
    .tutorial blockquote.details > h3 .fa {
      padding-right: 0.2rem; }
.tutorial blockquote.quote {
  border-left: 5px solid #eee;
  padding-left: 1em; }
.tutorial blockquote.matrix table {
  width: unset;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20pt; }
.tutorial blockquote.matrix table thead th {
  border-bottom: 2px solid #777;
  text-align: left; }
.tutorial blockquote.matrix table td:first-child, .tutorial blockquote.matrix table th:first-child {
  border-right: 2px solid #777;
  font-weight: bold;
  text-align: left; }
.tutorial blockquote.matrix table td:not(first-child), .tutorial blockquote.matrix table th:not(first-child) {
  text-align: center;
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd; }
.tutorial blockquote.feedback {
  margin-top: 3rem;
  padding: 1rem 0.89rem 1rem;
  border: 1px solid #86D486;
  box-shadow: 3px 3px #86D486; }
  .tutorial blockquote.feedback > h3 {
    font-size: 18px;
    margin-left: -1rem;
    margin-right: -1rem;
    margin-top: -3.30rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: #86D486;
    color: #292b2c;
    vertical-align: 1em;
    float: left;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px; }
    .tutorial blockquote.feedback > h3 .fa {
      padding-right: 0.2rem; }
.tutorial .fold-unfold {
  margin-left: 1rem; }
.tutorial .google-form {
  width: 100%;
  height: 1100px;
  border: 0; }

.contributors {
  padding: 0; }
  .contributors .carousel-item {
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around; }
  .contributors .carousel-item.active,
  .contributors .carousel-item-next,
  .contributors .carousel-item-prev {
    display: flex; }
  .contributors .hall-of-fame-hero {
    margin: 0;
    width: 20%; }
    .contributors .hall-of-fame-hero .name {
      font-size: 0.7em; }

.contributors-line {
  color: #777;
  font-size: 1.2em;
  margin-bottom: 5rem; }

.hall-of-fame {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around; }

.hall-of-fame-hero {
  width: 140px;
  margin: 1rem;
  text-align: center; }
  .hall-of-fame-hero .name {
    margin-top: 0.5rem; }
  .hall-of-fame-hero .contact-items {
    margin-top: 0.2rem; }
  .hall-of-fame-hero .thumbnail img {
    background-color: white;
    border-radius: 20px;
    border: 1px solid #ddd;
    padding: 5px;
    width: 100%;
    -webkit-transition: border 0.2s ease-in-out;
    -o-transition: border 0.2s ease-in-out;
    transition: border 0.2s ease-in-out; }
  .hall-of-fame-hero a.thumbnail:hover img, .hall-of-fame-hero a.thumbnail:focus img, .hall-of-fame-hero a.thumbnail:active img {
    border-color: #2c3143; }

@media (max-width: 575px) {
  .navbar > .container {
    position: initial;
    margin-left: initial;
    margin-right: initial; } }
@media (max-width: 768px) {
  .navbar .dropdown-menu {
    background-color: transparent;
    border-color: transparent; }
  .navbar .dropdown-item {
    color: rgba(255, 255, 255, 0.5); }
    .navbar .dropdown-item:hover, .navbar .dropdown-item:focus, .navbar .dropdown-item:active {
      background-color: transparent;
      color: rgba(255, 255, 255, 0.75); }
  .navbar .nav-item,
  .navbar .dropdown-item {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; } }
@media (min-width: 768px) {
  .tutorial table,
  .table-responsive {
    display: table; }

  .citation {
    text-align: justify; } }
@media (max-width: 1200px) {
  .navbar-nav i {
    display: none; } }
.label {
  display: inline;
  padding: .2em .6em .3em;
  font-size: 75%;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
  cursor: pointer; }

.label-default {
  background-color: #999999; }

.level {
  color: lightgray;
  margin-right: 0.5em; }
  .level .fa {
    font-size: 0.9em; }
  .level.introductory i:first-of-type {
    color: green; }
  .level.intermediate i:not(:last-of-type) {
    color: orange; }
  .level.advanced {
    color: red; }

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/* WCAG Contrast. These aim to pass AA level for normal sized text. */
a {
  color: #0070e8; }
  a:hover, a:focus, a:active {
    color: #004590; }

code {
  color: #8b3035; }

nav[data-toggle='toc'] {
  margin-top: 30px;
  margin-bottom: 30px; }
  nav[data-toggle='toc'] .nav li a {
    padding-left: 0px; }
    nav[data-toggle='toc'] .nav li a:hover, nav[data-toggle='toc'] .nav li a:focus, nav[data-toggle='toc'] .nav li a:active {
      padding-left: 0px;
      color: #004590;
      border-left: none; }
  nav[data-toggle='toc'] .nav li .active {
    padding-left: 0px;
    color: #004590;
    border-left: none; }
  nav[data-toggle='toc'] .nav .nav li a,
  nav[data-toggle='toc'] .nav .nav li .active {
    padding-left: 10px; }
    nav[data-toggle='toc'] .nav .nav li a:hover, nav[data-toggle='toc'] .nav .nav li a:focus, nav[data-toggle='toc'] .nav .nav li a:active,
    nav[data-toggle='toc'] .nav .nav li .active:hover,
    nav[data-toggle='toc'] .nav .nav li .active:focus,
    nav[data-toggle='toc'] .nav .nav li .active:active {
      padding-left: 10px; }
  nav[data-toggle='toc'] .nav .nav li:hover, nav[data-toggle='toc'] .nav .nav li:focus, nav[data-toggle='toc'] .nav .nav li:active {
    padding-left: 10px; }
  nav[data-toggle='toc'] .nav-link.active:hover {
    padding-left: 0px;
    color: #004590;
    border-left: none; }

.col-sm-2 {
  padding-left: 0px; }

/* small screens */
@media screen and (max-width: 768px) {
  nav[data-toggle='toc'] {
    display: none !important; }

  .col-sm-10 {
    max-width: 100%; } }
.contributor-badge {
  /* prevent breaking across lines */
  white-space: nowrap; }
  .contributor-badge img {
    height: 1.25em;
    border-radius: 50%;
    margin: 0.25em; }

div.highlight {
  position: relative; }

div.highlight .btn {
  -webkit-transition: opacity .3s ease-in-out;
  -o-transition: opacity .3s ease-in-out;
  transition: opacity .3s ease-in-out;
  opacity: 0;
  padding: 2px 6px;
  position: absolute;
  right: 4px;
  top: 4px;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif; }

div.highlight:hover .btn, div.highlight .btn:focus {
  opacity: 1; }

#tutorial_list h2, #tutorial_list h3 {
  display: inline; }
#tutorial_list .search_box {
  float: right; }
  #tutorial_list .search_box i {
    padding-right: .5rem; }
#tutorial_list #clear_search {
  cursor: pointer; }
#tutorial_list .topic-icon {
  padding: .5rem .75rem; }

div.supporting_material .btn {
  padding-left: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 10px;
  font-size: 15px; }

.alert-heading {
  margin-top: 1rem; }
