@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic);
@font-face {
  font-family: "Atkinson Hyperlegible";
  src: url(/training-material/assets/fonts/AtkinsonHyperlegible/Atkinson-Hyperlegible-Regular-102a.woff2), url(/training-material/assets/fonts/AtkinsonHyperlegible/Atkinson-Hyperlegible-Regular-102.woff);
  font-display: swap;
}
@font-face {
  font-family: "Atkinson Hyperlegible";
  src: url(/training-material/assets/fonts/AtkinsonHyperlegible/Atkinson-Hyperlegible-BoldItalic-102a.woff2), url(/training-material/assets/fonts/AtkinsonHyperlegible/Atkinson-Hyperlegible-BoldItalic-102.woff);
  font-weight: bold;
  font-style: oblique;
  font-display: swap;
}
@font-face {
  font-family: "Atkinson Hyperlegible";
  src: url(/training-material/assets/fonts/AtkinsonHyperlegible/Atkinson-Hyperlegible-Italic-102a.woff2), url(/training-material/assets/fonts/AtkinsonHyperlegible/Atkinson-Hyperlegible-Italic-102.woff);
  font-style: oblique;
  font-display: swap;
}
@font-face {
  font-family: "Atkinson Hyperlegible";
  src: url(/training-material/assets/fonts/AtkinsonHyperlegible/Atkinson-Hyperlegible-Bold-102a.woff2), url(/training-material/assets/fonts/AtkinsonHyperlegible/Atkinson-Hyperlegible-Bold-102.woff);
  font-weight: bold;
  font-display: swap;
}
:root {
  --color-background: #fff;
  --text-color: #292b2c;
  --text-color-muted: #555;
  --text-color-inverted: #eee;
  --text-color-boxtitle: var(--text-color);
  --slide-heading-color: var(--text-color);
  --code-foreground: #fff;
  --code-background: #000;
  --border-light: #ddd;
  --hyperlink: #0056b3;
  --hyperlink-hover: #004590;
  --brand-color: #2c3143;
  --brand-color-contrast: #fff;
  --navbar-border-size: 0px;
  --navbar-border-color: white;
  --navbar-item-background: transparent;
  --navbar-item-hover: transparent;
  --secondary-color: #e9ecef;
  --secondary-color-text: #000;
  --outline-color: red;
  --h1-theme-before: "";
  --h1-theme-after: "";
  --h2-theme-before: "";
  --h2-theme-after: "";
}

/* SLIDES */
body.remark-container {
  font-family: "Droid Serif";
  /* no fun allowed on slides */
  --h1-theme-before: "";
  --h1-theme-after: "";
  --h2-theme-before: "";
  --h2-theme-after: "";
  /* for icons */
  /* via https://github.com/gnab/remark/issues/481#issuecomment-340313168 */
}
body.remark-container .remark-slide-content {
  background: var(--color-background);
  color: var(--text-color);
}
body.remark-container h1 {
  color: var(--slide-heading-color);
}
body.remark-container h1,
body.remark-container h2,
body.remark-container h3 {
  font-family: "Yanone Kaffeesatz";
  font-weight: normal;
  text-align: center;
}
body.remark-container h3 {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 100%;
}
body.remark-container .packed h3 {
  position: absolute;
  top: 10px;
  left: 0px;
  width: 100%;
  margin-top: 0px;
}
body.remark-container .hljs-monokai .hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #272822;
  color: #ddd;
}
body.remark-container .remark-code,
body.remark-container .remark-inline-code {
  font-family: "Courier", monospace;
  text-align: left;
}
body.remark-container .remark-code {
  font-size: 18px;
}
body.remark-container .remark-code-line {
  min-height: 1em;
}
body.remark-container ul,
body.remark-container ol {
  text-align: left;
}
body.remark-container img {
  max-height: 400px;
  max-width: min(700px, 100%);
  border: 0 !important;
  box-shadow: none !important;
  background: none !important;
  margin: initial;
}
body.remark-container img.cover-logo {
  max-height: 8em;
}
body.remark-container .image-05 img {
  width: 5%;
}
body.remark-container .image-10 img {
  width: 10%;
}
body.remark-container .image-15 img {
  width: 15%;
}
body.remark-container .image-25 img {
  width: 25%;
}
body.remark-container .image-40 img {
  width: 40%;
}
body.remark-container .image-50 img {
  width: 50%;
}
body.remark-container .image-60 img {
  width: 60%;
}
body.remark-container .image-75 img {
  width: 75%;
}
body.remark-container .image-90 img {
  width: 100%;
}
body.remark-container .image-100 img {
  width: 100%;
}
body.remark-container .table-100 table {
  width: 100%;
}
body.remark-container .footnote {
  position: absolute;
  bottom: 60px;
  left: 0px;
  width: 100%;
  font-size: 15px;
  color: var(--text-color-muted);
}
body.remark-container .my-footer {
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 50px;
  width: 100%;
}
body.remark-container .my-footer span {
  font-size: 10pt;
  position: absolute;
  left: 15px;
  bottom: 2px;
}
body.remark-container .bottom-info-box {
  position: absolute;
  height: 120px;
  bottom: 0px;
  border: 1px solid grey;
  border-radius: 10px 10px 10px 10px;
  font-size: medium;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 5px;
  left: 80px;
  transform: scale(0.8);
}
body.remark-container .bottom-info-box p {
  line-height: 5px;
  color: rgba(0, 22, 255, 0.6);
}
body.remark-container .my-header {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 25px;
  width: 100%;
}
body.remark-container .my-header span {
  font-size: 10pt;
  position: absolute;
  left: 15px;
  bottom: 2px;
}
body.remark-container .remark-slide-number {
  font-size: 12px;
  color: var(--text-color-muted);
  opacity: 1;
}
body.remark-container .top {
  vertical-align: top !important;
}
body.remark-container .red {
  color: red;
}
body.remark-container .green {
  color: green;
}
body.remark-container .orange {
  color: orange;
}
body.remark-container .blue {
  color: blue;
}
body.remark-container a {
  text-decoration: none;
}
body.remark-container td,
body.remark-container th {
  text-align: left;
  padding-left: 5px;
  padding-right: 5px;
  border-bottom: 1px solid #ddd;
}
body.remark-container .left-column5 {
  width: 5%;
  float: left;
}
body.remark-container .right-column95 {
  width: 93%;
  float: right;
}
body.remark-container .left-column95 {
  width: 93%;
  float: left;
}
body.remark-container .right-column5 {
  width: 5%;
  float: right;
}
body.remark-container .left-column40 {
  width: 40%;
  float: left;
}
body.remark-container .right-column40 {
  width: 40%;
  float: right;
}
body.remark-container .left-column50 {
  width: 50%;
  float: left;
}
body.remark-container .right-column50 {
  width: 50%;
  float: right;
}
body.remark-container .left-column60 {
  width: 60%;
  float: left;
}
body.remark-container .right-column60 {
  width: 60%;
  float: right;
}
body.remark-container .left-column70 {
  width: 70%;
  float: left;
}
body.remark-container .right-column30 {
  width: 30%;
  float: right;
}
body.remark-container .left-column30 {
  width: 30%;
  float: left;
}
body.remark-container .right-column70 {
  width: 70%;
  float: right;
}
body.remark-container .reduce90 {
  font-size: 90%;
}
body.remark-container .reduce90 .remark-code {
  font-size: 16px;
}
body.remark-container .reduce70 {
  font-size: 70%;
}
body.remark-container .reduce70 .remark-code {
  font-size: 12px;
}
body.remark-container .reduce50 {
  font-size: 50%;
}
body.remark-container .reduce50 .remark-code {
  font-size: 9px;
}
body.remark-container .enlarge120 {
  font-size: 120%;
}
body.remark-container .enlarge120 .remark-code {
  font-size: 22px;
}
body.remark-container .enlarge150 {
  font-size: 150%;
}
body.remark-container .enlarge150 .remark-code {
  font-size: 30px;
}
body.remark-container .enlarge200 {
  font-size: 200%;
}
body.remark-container .enlarge200 .remark-code {
  font-size: 36px;
}
body.remark-container .strike {
  text-decoration: line-through;
}
body.remark-container .pull-left-large {
  /* this does not break compatibility with .pull-right */
  float: left;
  margin-left: -3em;
  width: 60%;
}
body.remark-container .pull-left {
  float: left;
  width: 47%;
}
body.remark-container .pull-right {
  float: right;
  width: 47%;
}
body.remark-container .force-right {
  position: absolute;
  left: 47%;
}
body.remark-container .pull-right ~ p {
  clear: both;
}
body.remark-container .left {
  text-align: left !important;
}
body.remark-container .requirements li {
  list-style-type: none;
  text-align: left;
}
body.remark-container .me {
  margin: 0 !important;
  text-align: center !important;
}
body.remark-container .me li {
  list-style-type: none;
  text-align: left;
}
body.remark-container .me li a {
  margin-left: 15px;
}
body.remark-container blockquote {
  font-style: italic;
}
body.remark-container .visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
body.remark-container .contributors-line {
  color: var(--text-muted);
  font-size: 0.9em;
  margin-bottom: 2rem;
  display: flex;
  flex-wrap: wrap;
  align-content: baseline;
  justify-content: center;
}
body.remark-container .contributor-badge {
  /* prevent breaking across lines */
  white-space: nowrap;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  border-radius: 1em;
  border: 1px solid #b7daff;
  padding-right: 0.5em;
  margin: 0.2em;
  line-height: 1em;
  flex-shrink: 0;
}
body.remark-container .contributor-badge img {
  height: 1.5em;
  border-radius: 50%;
  margin: 0 0.25em 0 0;
}
body.remark-container .contributor-newcontributors i {
  margin-left: 0.5em;
  margin-right: 0.5em;
}
body.remark-container .btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  line-height: 1.25;
  border-radius: 0.25rem;
  transition: all 0.15s ease-in-out;
}
body.remark-container .remark-code .btn-light {
  color: #111;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
}
body.remark-container .remark-code {
  position: relative;
}
body.remark-container .remark-code .btn {
  -webkit-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
  padding: 2px 6px;
  position: absolute;
  right: 4px;
  top: 4px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}
body.remark-container .remark-code:hover .btn, body.remark-container .remark-code .btn:focus {
  opacity: 1;
}
body.remark-container .remark-slide-container:nth-last-child(1) .my-footer,
body.remark-container .remark-slide-container:nth-child(1) .my-footer {
  display: none;
}
body.remark-container ul.text-list, body.remark-container ol.text-list {
  list-style: none;
  padding-left: 0;
}
body.remark-container ul.text-list li, body.remark-container ol.text-list li {
  display: inline;
}
body.remark-container .row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
body.remark-container .row .col-md-4 {
  width: 33%;
}
body.remark-container .row .col-md-6 {
  width: 50%;
}
body.remark-container .gtn-card {
  border-radius: 10px;
  padding: 0.4em;
}
body.remark-container .gtn-card .card-title {
  font-size: 500%;
  font-weight: 900;
  margin-bottom: 0;
}
body.remark-container .gtn-card .card-text {
  text-align: center;
  font-size: 150%;
  padding: 0.3em;
}

/* SYNTAX */
/* THEMES */
body.theme-night {
  --color-background: #444;
  --text-color: #eee;
  --text-color-muted: #ccc;
  --hyperlink: #7bf;
  --hyperlink-hover: #fff;
  --brand-color: #424a66;
  --slide-heading-color: var(--text-color);
  --secondary-color: #222;
  --secondary-color-text: #fff;
}

body.theme-midnight {
  --brand-color: #000;
  --color-background: #000;
  --hyperlink-hover: #fff;
  --hyperlink: #7bf;
  --navbar-border-size: 1px;
  --text-color-muted: #ccc;
  --text-color: #eee;
  --slide-heading-color: #eee;
  --slide-heading-color: var(--text-color);
  --secondary-color: #222;
  --secondary-color-text: var(--text-color);
}

body.theme-blm {
  --brand-color: #462300;
  --color-background: #000;
  --navbar-item-hover: #000;
  --hyperlink-hover: #fff;
  --hyperlink: #fba870;
  --navbar-border-size: 1px;
  --text-color-muted: #ccc;
  --text-color: #eee;
  --slide-heading-color: #eee;
  --slide-heading-color: var(--text-color);
  --secondary-color: #222;
  --secondary-color-text: var(--text-color);
}
body.theme-blm nav.navbar, body.theme-blm .remark-slide .my-header {
  background: repeating-linear-gradient(135deg, #731 0, #731 2em, #743 2em, #743 4em, #631 4em, #631 6em, #421 6em, #421 8em, #310 8em, #310 10em, #000 10em, #000 12em);
}

body.theme-halloween {
  --brand-color: orange;
  --brand-color-contrast: black;
  --color-background: #000;
  --hyperlink-hover: #fff;
  --hyperlink: #7bf;
  --text-color-muted: #ccc;
  --text-color: #eee;
  --slide-heading-color: var(--brand-color);
  --h1-theme-before: " 🎃 ";
  --h1-theme-after: " 🎃 ";
  --h2-theme-before: " 👻 ";
  --h2-theme-after: " 👻 ";
  --secondary-color: #402900;
  --secondary-color-text: var(--text-color);
}

body.theme-progress, body.theme-rainbow {
  --brand-color: black;
  --brand-color-contrast: white;
  --navbar-item-background: #0008;
  --navbar-item-hover: #000f;
}
body.theme-progress .contributor-hexylena, body.theme-rainbow .contributor-hexylena {
  background: repeating-linear-gradient(45deg, rgba(207, 228, 247, 0.4666666667) 0em, rgba(207, 228, 247, 0.4666666667) 2em, rgba(247, 215, 220, 0.4666666667) 2em, rgba(247, 215, 220, 0.4666666667) 4em, white 4em, white 6em, rgba(247, 215, 220, 0.4666666667) 6em, rgba(247, 215, 220, 0.4666666667) 8em, rgba(207, 228, 247, 0.4666666667) 8em, rgba(207, 228, 247, 0.4666666667) 10em);
}
body.theme-progress .tutorials-list:not(.topic-type-use) table.table-striped tbody tr:nth-of-type(5n+1) td:not(:first-child), body.theme-rainbow .tutorials-list:not(.topic-type-use) table.table-striped tbody tr:nth-of-type(5n+1) td:not(:first-child) {
  color: red;
}
body.theme-progress .tutorials-list:not(.topic-type-use) table.table-striped tbody tr:nth-of-type(5n+1) td:not(:first-child) i, body.theme-rainbow .tutorials-list:not(.topic-type-use) table.table-striped tbody tr:nth-of-type(5n+1) td:not(:first-child) i {
  color: red;
}
body.theme-progress .tutorials-list:not(.topic-type-use) table.table-striped tbody tr:nth-of-type(5n+2) td:not(:first-child), body.theme-rainbow .tutorials-list:not(.topic-type-use) table.table-striped tbody tr:nth-of-type(5n+2) td:not(:first-child) {
  color: orange;
}
body.theme-progress .tutorials-list:not(.topic-type-use) table.table-striped tbody tr:nth-of-type(5n+2) td:not(:first-child) i, body.theme-rainbow .tutorials-list:not(.topic-type-use) table.table-striped tbody tr:nth-of-type(5n+2) td:not(:first-child) i {
  color: orange;
}
body.theme-progress .tutorials-list:not(.topic-type-use) table.table-striped tbody tr:nth-of-type(5n+3) td:not(:first-child), body.theme-rainbow .tutorials-list:not(.topic-type-use) table.table-striped tbody tr:nth-of-type(5n+3) td:not(:first-child) {
  color: green;
}
body.theme-progress .tutorials-list:not(.topic-type-use) table.table-striped tbody tr:nth-of-type(5n+3) td:not(:first-child) i, body.theme-rainbow .tutorials-list:not(.topic-type-use) table.table-striped tbody tr:nth-of-type(5n+3) td:not(:first-child) i {
  color: green;
}
body.theme-progress .tutorials-list:not(.topic-type-use) table.table-striped tbody tr:nth-of-type(5n+4) td:not(:first-child), body.theme-rainbow .tutorials-list:not(.topic-type-use) table.table-striped tbody tr:nth-of-type(5n+4) td:not(:first-child) {
  color: blue;
}
body.theme-progress .tutorials-list:not(.topic-type-use) table.table-striped tbody tr:nth-of-type(5n+4) td:not(:first-child) i, body.theme-rainbow .tutorials-list:not(.topic-type-use) table.table-striped tbody tr:nth-of-type(5n+4) td:not(:first-child) i {
  color: blue;
}
body.theme-progress .tutorials-list:not(.topic-type-use) table.table-striped tbody tr:nth-of-type(5n+5) td:not(:first-child), body.theme-rainbow .tutorials-list:not(.topic-type-use) table.table-striped tbody tr:nth-of-type(5n+5) td:not(:first-child) {
  color: purple;
}
body.theme-progress .tutorials-list:not(.topic-type-use) table.table-striped tbody tr:nth-of-type(5n+5) td:not(:first-child) i, body.theme-rainbow .tutorials-list:not(.topic-type-use) table.table-striped tbody tr:nth-of-type(5n+5) td:not(:first-child) i {
  color: purple;
}
body.theme-progress .tutorials-list.topic-type-use table.table-striped tbody tr td:nth-of-type(6n+2), body.theme-rainbow .tutorials-list.topic-type-use table.table-striped tbody tr td:nth-of-type(6n+2) {
  color: red;
}
body.theme-progress .tutorials-list.topic-type-use table.table-striped tbody tr td:nth-of-type(6n+2) i, body.theme-rainbow .tutorials-list.topic-type-use table.table-striped tbody tr td:nth-of-type(6n+2) i {
  color: red;
}
body.theme-progress .tutorials-list.topic-type-use table.table-striped tbody tr td:nth-of-type(6n+3), body.theme-rainbow .tutorials-list.topic-type-use table.table-striped tbody tr td:nth-of-type(6n+3) {
  color: orange;
}
body.theme-progress .tutorials-list.topic-type-use table.table-striped tbody tr td:nth-of-type(6n+3) i, body.theme-rainbow .tutorials-list.topic-type-use table.table-striped tbody tr td:nth-of-type(6n+3) i {
  color: orange;
}
body.theme-progress .tutorials-list.topic-type-use table.table-striped tbody tr td:nth-of-type(6n+4), body.theme-rainbow .tutorials-list.topic-type-use table.table-striped tbody tr td:nth-of-type(6n+4) {
  color: green;
}
body.theme-progress .tutorials-list.topic-type-use table.table-striped tbody tr td:nth-of-type(6n+4) i, body.theme-rainbow .tutorials-list.topic-type-use table.table-striped tbody tr td:nth-of-type(6n+4) i {
  color: green;
}
body.theme-progress .tutorials-list.topic-type-use table.table-striped tbody tr td:nth-of-type(6n+5), body.theme-rainbow .tutorials-list.topic-type-use table.table-striped tbody tr td:nth-of-type(6n+5) {
  color: blue;
}
body.theme-progress .tutorials-list.topic-type-use table.table-striped tbody tr td:nth-of-type(6n+5) i, body.theme-rainbow .tutorials-list.topic-type-use table.table-striped tbody tr td:nth-of-type(6n+5) i {
  color: blue;
}
body.theme-progress .tutorials-list.topic-type-use table.table-striped tbody tr td:nth-of-type(6n+6), body.theme-rainbow .tutorials-list.topic-type-use table.table-striped tbody tr td:nth-of-type(6n+6) {
  color: purple;
}
body.theme-progress .tutorials-list.topic-type-use table.table-striped tbody tr td:nth-of-type(6n+6) i, body.theme-rainbow .tutorials-list.topic-type-use table.table-striped tbody tr td:nth-of-type(6n+6) i {
  color: purple;
}
body.theme-progress .tutorials-list.topic-type-use table.table-striped thead th:nth-of-type(6n+2), body.theme-rainbow .tutorials-list.topic-type-use table.table-striped thead th:nth-of-type(6n+2) {
  color: red;
}
body.theme-progress .tutorials-list.topic-type-use table.table-striped thead th:nth-of-type(6n+3), body.theme-rainbow .tutorials-list.topic-type-use table.table-striped thead th:nth-of-type(6n+3) {
  color: orange;
}
body.theme-progress .tutorials-list.topic-type-use table.table-striped thead th:nth-of-type(6n+4), body.theme-rainbow .tutorials-list.topic-type-use table.table-striped thead th:nth-of-type(6n+4) {
  color: green;
}
body.theme-progress .tutorials-list.topic-type-use table.table-striped thead th:nth-of-type(6n+5), body.theme-rainbow .tutorials-list.topic-type-use table.table-striped thead th:nth-of-type(6n+5) {
  color: blue;
}
body.theme-progress .tutorials-list.topic-type-use table.table-striped thead th:nth-of-type(6n+6), body.theme-rainbow .tutorials-list.topic-type-use table.table-striped thead th:nth-of-type(6n+6) {
  color: purple;
}

body.theme-rainbow .tutorial {
  --h1-theme-before: " 🌈 ";
  --h1-theme-after: " 🌈 ";
}
body.theme-rainbow .tutorial h1::after {
  display: inline-block;
  transform: scale(-1, 1) translateX(-1rem);
}
body.theme-rainbow nav.navbar, body.theme-rainbow .remark-slide .my-header {
  background: linear-gradient(to bottom, #e2453c 0, #e2453c 16%, #e07e39 16%, #e07e39 32%, #e5d667 32%, #e5d667 48%, #51b95b 48%, #51b95b 66%, #1e72b7 66%, #1e72b7 86%, #6f5ba7 86%) no-repeat !important;
}

body.theme-progress .tutorial {
  --h1-theme-before: "🏳️‍🌈";
  --h1-theme-after: "🏳️‍⚧️ ";
}
body.theme-progress nav.navbar, body.theme-progress .remark-slide .my-header {
  background: linear-gradient(120deg, #2c3143 0px 130px, #fdda0f 131px 139px, #fff 140px 148px, #f4b0c9 149px 157px, #7ccee6 158px 166px, #93540c 167px 175px, #000 176px 184px, transparent 185px), linear-gradient(45deg, #2c3143 0px 110px, rgba(44, 49, 67, 0) 110px), linear-gradient(180deg, #FE0000 16.66%, #FD8C00 16.66% 33.32%, #FFE500 33.32% 49.98%, #119F0B 49.98% 66.64%, #0644B3 66.64% 83.3%, #C22EDC 83.3%);
}
body.theme-progress p:nth-child(8n+7)::selection {
  background: hsl(285, 76%, 57%);
}
body.theme-progress p:nth-child(8n+0)::selection {
  background: hsl(330, 76%, 57%);
}
body.theme-progress p:nth-child(8n+1)::selection {
  background: hsl(15, 76%, 57%);
}
body.theme-progress p:nth-child(8n+2)::selection {
  background: hsl(60, 76%, 57%);
}
body.theme-progress p:nth-child(8n+3)::selection {
  background: hsl(105, 76%, 57%);
}
body.theme-progress p:nth-child(8n+4)::selection {
  background: hsl(150, 76%, 57%);
}
body.theme-progress p:nth-child(8n+5)::selection {
  background: hsl(195, 76%, 57%);
}
body.theme-progress p:nth-child(9n+6)::selection {
  background: hsl(240, 76%, 57%);
}
body.theme-progress li:nth-child(8n+7)::selection {
  background: hsl(285, 76%, 57%);
}
body.theme-progress li:nth-child(8n+0)::selection {
  background: hsl(330, 76%, 57%);
}
body.theme-progress li:nth-child(8n+1)::selection {
  background: hsl(15, 76%, 57%);
}
body.theme-progress li:nth-child(8n+2)::selection {
  background: hsl(60, 76%, 57%);
}
body.theme-progress li:nth-child(8n+3)::selection {
  background: hsl(105, 76%, 57%);
}
body.theme-progress li:nth-child(8n+4)::selection {
  background: hsl(150, 76%, 57%);
}
body.theme-progress li:nth-child(8n+5)::selection {
  background: hsl(195, 76%, 57%);
}
body.theme-progress li:nth-child(9n+6)::selection {
  background: hsl(240, 76%, 57%);
}

body.downunder {
  transform: rotate(180deg);
}

body.theme-straya h1::after {
  content: " 🦘";
}
body.theme-straya h2::after {
  content: " 🐨";
}
body.theme-straya h3::after {
  content: " 🦈";
}

.color-overview {
  background: #8A9AD0;
}

.color-agenda {
  background: #86D486;
}

.color-keypoints {
  background: #FFA1A1;
}

.color-tip {
  background: #FFE19E;
}

.color-warning {
  background: #de8875;
}

.color-comment {
  background: #ffecc1;
}

.color-handson {
  background: #dfe5f9;
}

.color-question {
  background: #8A9AD0;
}

.color-solution {
  background: #B8C3EA;
}

.color-details {
  background: #ddd;
}

.color-feedback {
  background: #86D486;
}

.color-code {
  background: #86D486;
}

.color-code-out {
  background: #fb99d0;
}

body {
  font-family: "Atkinson Hyperlegible", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  background: var(--color-background);
  color: var(--text-color);
  font-size: 15px;
  word-wrap: break-word;
  position: relative;
}
body h1::before {
  content: var(--h1-theme-before);
}
body h1::after {
  content: var(--h1-theme-after);
}
body h2::before {
  content: var(--h2-theme-before);
}
body h2::after {
  content: var(--h2-theme-after);
}

div#theme-selector, div#lang-selector, div#archive-selector {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 200px;
  justify-content: flex-start;
  margin-left: 1em;
}
div#theme-selector label.btn, div#theme-selector a.btn, div#theme-selector button.btn, div#lang-selector label.btn, div#lang-selector a.btn, div#lang-selector button.btn, div#archive-selector label.btn, div#archive-selector a.btn, div#archive-selector button.btn {
  margin: 0.1em;
  border: 1px solid var(--theme-color);
}

h1, h2, h3, h4 {
  margin-top: 2rem;
}

img {
  max-width: 95%;
  margin: 2.5%;
}

:not(pre) > code {
  color: var(--code-foreground);
  background: var(--code-background);
  border: 1px solid var(--text-color-muted);
  border-radius: 0.25rem;
}

pre.highlight {
  padding: 1rem;
  background-color: var(--code-background);
  color: var(--code-foreground);
  border: 1px solid var(--text-color-muted);
}
pre.highlight .c, pre.highlight .ch, pre.highlight .cd, pre.highlight .cpf, pre.highlight .cm, pre.highlight .c1 {
  color: white;
  font-style: italic;
}
pre.highlight .cp {
  color: #86c5d2;
  font-weight: bold;
}
pre.highlight .cs {
  color: #86c5d2;
  font-weight: bold;
  font-style: italic;
}
pre.highlight .err {
  color: #f8f8f2;
  background-color: #403d3d;
}
pre.highlight .gi {
  color: #000;
  background-color: #66d9ef;
}
pre.highlight .gd {
  background-color: #000;
  color: #66d9ef;
  text-decoration: line-through;
}
pre.highlight .ge {
  color: #f8f8f2;
  font-style: italic;
}
pre.highlight .gr {
  color: #fb7caa;
}
pre.highlight .gt {
  color: #fb7caa;
}
pre.highlight .gh {
  color: #b1b0b0;
}
pre.highlight .go {
  color: #b1b0b0;
}
pre.highlight .gp {
  color: #66d9ef;
}
pre.highlight .gs {
  font-weight: bold;
}
pre.highlight .gu {
  color: #b1b0b0;
}
pre.highlight .k, pre.highlight .kv {
  color: #66d9ef;
  font-weight: bold;
}
pre.highlight .kc {
  color: #66d9ef;
  font-weight: bold;
}
pre.highlight .kd {
  color: #66d9ef;
  font-weight: bold;
}
pre.highlight .kp {
  color: #66d9ef;
  font-weight: bold;
}
pre.highlight .kr {
  color: #66d9ef;
  font-weight: bold;
}
pre.highlight .kt {
  color: #66d9ef;
  font-weight: bold;
}
pre.highlight .nt {
  color: rgb(238, 134, 172);
}
pre.highlight .kn {
  color: rgb(238, 134, 172);
  font-weight: bold;
}
pre.highlight .ow {
  color: rgb(238, 134, 172);
  font-weight: bold;
}
pre.highlight .o {
  color: rgb(238, 134, 172);
  font-weight: bold;
}
pre.highlight .mf {
  color: #b997ff;
}
pre.highlight .mh {
  color: #b997ff;
}
pre.highlight .il {
  color: #b997ff;
}
pre.highlight .mi {
  color: #b997ff;
}
pre.highlight .mo {
  color: #b997ff;
}
pre.highlight .m, pre.highlight .mb, pre.highlight .mx {
  color: #b997ff;
}
pre.highlight .se {
  color: #b997ff;
}
pre.highlight .sb {
  color: #d7d787;
}
pre.highlight .sc {
  color: #d7d787;
}
pre.highlight .sd {
  color: #d7d787;
}
pre.highlight .s2 {
  color: #d7d787;
}
pre.highlight .sh {
  color: #d7d787;
}
pre.highlight .si {
  color: #d7d787;
}
pre.highlight .sx {
  color: #d7d787;
}
pre.highlight .sr {
  color: #d7d787;
}
pre.highlight .s1 {
  color: #d7d787;
}
pre.highlight .ss {
  color: #d7d787;
}
pre.highlight .s, pre.highlight .sa, pre.highlight .dl {
  color: #d7d787;
}
pre.highlight .na {
  color: #a6e22e;
}
pre.highlight .nc {
  color: #a6e22e;
  font-weight: bold;
}
pre.highlight .nd {
  color: #a6e22e;
  font-weight: bold;
}
pre.highlight .ne {
  color: #a6e22e;
  font-weight: bold;
}
pre.highlight .nf, pre.highlight .fm {
  color: #a6e22e;
  font-weight: bold;
}
pre.highlight .no {
  color: #66d9ef;
}
pre.highlight .bp {
  color: #f8f8f2;
}
pre.highlight .nb {
  color: #f8f8f2;
}
pre.highlight .ni {
  color: #f8f8f2;
}
pre.highlight .nn {
  color: #f8f8f2;
}
pre.highlight .vc {
  color: #f8f8f2;
}
pre.highlight .vg {
  color: #f8f8f2;
}
pre.highlight .vi {
  color: #f8f8f2;
}
pre.highlight .nv, pre.highlight .vm {
  color: #f8f8f2;
}
pre.highlight .w {
  color: #f8f8f2;
}
pre.highlight .nl {
  color: #f8f8f2;
  font-weight: bold;
}
pre.highlight code > ::selection {
  color: var(--code-background);
  background: var(--code-foreground);
}

/* Make the @@ portions of diffs, which indicate area, much more visible */
div.language-diff .p {
  border-top: 1px solid #66d9ef;
  border-bottom: 1px solid #66d9ef;
  border-left: 5px solid #66d9ef;
  border-right: 5px solid #66d9ef;
  font-weight: 900;
  line-height: 3em;
  margin-right: 1em;
  padding-left: 1em;
  padding-right: 1em;
}

figure {
  text-align: center;
  margin: 1rem 2rem;
}
figure > img {
  margin-bottom: 1rem;
  height: auto;
}
figure figcaption {
  text-align: justify;
}

footer {
  margin-top: 3em;
  text-align: center;
  color: var(--text-color-muted);
  font-size: 13px;
}

.follow-up p {
  font-size: 18px;
}

nav.navbar {
  background-color: var(--brand-color) !important;
  color: var(--brand-color-contrast);
  border-bottom-style: solid;
  border-bottom-width: var(--navbar-border-size);
  border-bottom-color: var(--navbar-border-color);
  padding: 0;
}
nav.navbar.navbar-dark .navbar-brand, nav.navbar.navbar-dark .navbar-nav .nav-link {
  color: var(--brand-color-contrast);
}
nav.navbar a {
  border: none;
}
nav.navbar .navbar-brand, nav.navbar .navbar-nav li {
  padding: 0.5em;
  background: var(--navbar-item-background);
}
nav.navbar .navbar-brand:hover, nav.navbar .navbar-nav li:hover {
  background: var(--navbar-item-hover);
}
nav.navbar a.navbar-brand {
  padding-right: 2.5em;
}
nav.navbar a {
  text-decoration: none;
}
nav.navbar .navbar-collapse {
  justify-content: flex-end;
  align-items: flex-end;
  min-width: 0;
}

input.nicer {
  background: transparent;
  border: none;
  border-radius: 0px;
  padding: 0.4em 0 0 0;
  color: var(--text-color);
  border-bottom: 2px solid var(--text-color);
}
input.nicer::placeholder {
  color: var(--text-color-muted);
}
input.nicer:focus, input.nicer:active {
  background: rgba(255, 255, 255, 0.1333333333);
  text-decoration: underline;
}

nav input.nicer {
  color: var(--brand-color-contrast);
  border-bottom: 2px solid var(--brand-color-contrast);
}
nav input.nicer::placeholder {
  color: var(--brand-color-contrast);
}
nav input.nicer:focus, nav input.nicer:active {
  color: var(--brand-color-contrast);
  border-bottom: 2px solid var(--brand-color-contrast);
}

#search-input {
  margin-right: 1em;
}

/*
#search-container input.nicer {
	@include input-nicer(black);
}
*/
.main-content {
  padding-top: 1rem;
}

.table td {
  vertical-align: middle;
}
.table .fa {
  font-size: 20px;
}

.training-network-map {
  width: 90%;
  margin: 0 auto;
}

.faqs h4.faq-area {
  color: var(--text-color-muted);
}
.faqs h4.faq-area i {
  font-size: 0.5em;
}
.faqs h3 a {
  color: var(--text-color);
}

.tutorial > h1:first-child {
  margin-bottom: 1rem;
}
.tutorial table:not(.contributions) {
  display: block;
  width: 100%;
  overflow-x: auto;
  max-width: 100%;
  margin-bottom: 1rem;
}
.tutorial table:not(.contributions) th,
.tutorial table:not(.contributions) td {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #eceeef;
}
.tutorial table:not(.contributions) thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #eceeef;
}
.tutorial div.container blockquote ul, .tutorial div.container blockquote p, .tutorial div.container blockquote li > p:last-child {
  margin-bottom: 0.5rem;
}
.tutorial div.container blockquote p:last-child {
  margin-bottom: 0;
}
.tutorial .google-form {
  width: 100%;
  height: 1100px;
  border: 0;
}

blockquote ul,
blockquote ol, blockquote > blockquote,
blockquote li p {
  margin-bottom: 0px;
}
blockquote img {
  display: block;
}
blockquote.agenda {
  margin-top: 4rem;
  padding: 0.6rem 0.89rem 1rem;
  border: 1px solid #86D486;
  box-shadow: 3px 3px #86D486;
}
blockquote.agenda > h3,
blockquote.agenda > .box-title {
  font-size: 18px;
  margin-left: -1rem;
  margin-right: -1rem;
  margin-top: -3.3rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: #86D486;
  color: var(--text-color-boxtitle);
  vertical-align: 1em;
  float: left;
  border: 1px solid #86D486;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
blockquote.agenda > h3 .fa,
blockquote.agenda > .box-title .fa {
  padding-right: 0.2rem;
}
blockquote.agenda > h3 button,
blockquote.agenda > .box-title button {
  background: transparent;
  border: none;
  cursor: pointer;
}
blockquote.tip {
  margin-top: 4rem;
  padding: 0.6rem 0.89rem 1rem;
  border: 1px solid #FFE19E;
  box-shadow: 3px 3px #FFE19E;
}
blockquote.tip > h3,
blockquote.tip > .box-title {
  font-size: 18px;
  margin-left: -1rem;
  margin-right: -1rem;
  margin-top: -3.3rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: #FFE19E;
  color: var(--text-color-boxtitle);
  vertical-align: 1em;
  float: left;
  border: 1px solid #FFE19E;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
blockquote.tip > h3 .fa,
blockquote.tip > .box-title .fa {
  padding-right: 0.2rem;
}
blockquote.tip > h3 button,
blockquote.tip > .box-title button {
  background: transparent;
  border: none;
  cursor: pointer;
}
blockquote.question {
  margin-top: 4rem;
  padding: 0.6rem 0.89rem 1rem;
  border: 1px solid #8A9AD0;
  box-shadow: 3px 3px #8A9AD0;
}
blockquote.question > h3,
blockquote.question > .box-title {
  font-size: 18px;
  margin-left: -1rem;
  margin-right: -1rem;
  margin-top: -3.3rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: #8A9AD0;
  color: var(--text-color-boxtitle);
  vertical-align: 1em;
  float: left;
  border: 1px solid #8A9AD0;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
blockquote.question > h3 .fa,
blockquote.question > .box-title .fa {
  padding-right: 0.2rem;
}
blockquote.question > h3 button,
blockquote.question > .box-title button {
  background: transparent;
  border: none;
  cursor: pointer;
}
blockquote.code-in {
  margin-top: 4rem;
  padding: 0.6rem 0.89rem 1rem;
  border: 1px solid #86D486;
  box-shadow: 3px 3px #86D486;
}
blockquote.code-in > h3,
blockquote.code-in > .box-title {
  font-size: 18px;
  margin-left: -1rem;
  margin-right: -1rem;
  margin-top: -3.3rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: #86D486;
  color: var(--text-color-boxtitle);
  vertical-align: 1em;
  float: left;
  border: 1px solid #86D486;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
blockquote.code-in > h3 .fa,
blockquote.code-in > .box-title .fa {
  padding-right: 0.2rem;
}
blockquote.code-in > h3 button,
blockquote.code-in > .box-title button {
  background: transparent;
  border: none;
  cursor: pointer;
}
blockquote.code-out {
  margin-top: 4rem;
  padding: 0.6rem 0.89rem 1rem;
  border: 1px solid #fb99d0;
  box-shadow: 3px 3px #fb99d0;
}
blockquote.code-out > h3,
blockquote.code-out > .box-title {
  font-size: 18px;
  margin-left: -1rem;
  margin-right: -1rem;
  margin-top: -3.3rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: #fb99d0;
  color: var(--text-color-boxtitle);
  vertical-align: 1em;
  float: left;
  border: 1px solid #fb99d0;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
blockquote.code-out > h3 .fa,
blockquote.code-out > .box-title .fa {
  padding-right: 0.2rem;
}
blockquote.code-out > h3 button,
blockquote.code-out > .box-title button {
  background: transparent;
  border: none;
  cursor: pointer;
}
blockquote.code-max-300 pre {
  max-height: 300px;
}
blockquote.solution {
  margin-top: 4rem;
  padding: 0.6rem 0.89rem 1rem;
  border: 1px solid #B8C3EA;
  box-shadow: 3px 3px #B8C3EA;
}
blockquote.solution > h3,
blockquote.solution > .box-title {
  font-size: 18px;
  margin-left: -1rem;
  margin-right: -1rem;
  margin-top: -3.3rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: #B8C3EA;
  color: var(--text-color-boxtitle);
  vertical-align: 1em;
  float: left;
  border: 1px solid #B8C3EA;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
blockquote.solution > h3 .fa,
blockquote.solution > .box-title .fa {
  padding-right: 0.2rem;
}
blockquote.solution > h3 button,
blockquote.solution > .box-title button {
  background: transparent;
  border: none;
  cursor: pointer;
}
blockquote.comment {
  margin-top: 4rem;
  padding: 0.6rem 0.89rem 1rem;
  border: 1px solid #ffecc1;
  box-shadow: 3px 3px #ffecc1;
}
blockquote.comment > h3,
blockquote.comment > .box-title {
  font-size: 18px;
  margin-left: -1rem;
  margin-right: -1rem;
  margin-top: -3.3rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: #ffecc1;
  color: var(--text-color-boxtitle);
  vertical-align: 1em;
  float: left;
  border: 1px solid #ffecc1;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
blockquote.comment > h3 .fa,
blockquote.comment > .box-title .fa {
  padding-right: 0.2rem;
}
blockquote.comment > h3 button,
blockquote.comment > .box-title button {
  background: transparent;
  border: none;
  cursor: pointer;
}
blockquote.hands_on, blockquote.hands-on {
  margin-top: 4rem;
  padding: 0.6rem 0.89rem 1rem;
  border: 1px solid #dfe5f9;
  box-shadow: 3px 3px #dfe5f9;
}
blockquote.hands_on > h3,
blockquote.hands_on > .box-title, blockquote.hands-on > h3,
blockquote.hands-on > .box-title {
  font-size: 18px;
  margin-left: -1rem;
  margin-right: -1rem;
  margin-top: -3.3rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: #dfe5f9;
  color: var(--text-color-boxtitle);
  vertical-align: 1em;
  float: left;
  border: 1px solid #dfe5f9;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
blockquote.hands_on > h3 .fa,
blockquote.hands_on > .box-title .fa, blockquote.hands-on > h3 .fa,
blockquote.hands-on > .box-title .fa {
  padding-right: 0.2rem;
}
blockquote.hands_on > h3 button,
blockquote.hands_on > .box-title button, blockquote.hands-on > h3 button,
blockquote.hands-on > .box-title button {
  background: transparent;
  border: none;
  cursor: pointer;
}
blockquote.key_points {
  margin-top: 4rem;
  padding: 0.6rem 0.89rem 1rem;
  border: 1px solid #FFA1A1;
  box-shadow: 3px 3px #FFA1A1;
}
blockquote.key_points > h3,
blockquote.key_points > .box-title {
  font-size: 18px;
  margin-left: -1rem;
  margin-right: -1rem;
  margin-top: -3.3rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: #FFA1A1;
  color: var(--text-color-boxtitle);
  vertical-align: 1em;
  float: left;
  border: 1px solid #FFA1A1;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
blockquote.key_points > h3 .fa,
blockquote.key_points > .box-title .fa {
  padding-right: 0.2rem;
}
blockquote.key_points > h3 button,
blockquote.key_points > .box-title button {
  background: transparent;
  border: none;
  cursor: pointer;
}
blockquote.overview {
  margin-top: 4rem;
  padding: 0.6rem 0.89rem 1rem;
  border: 1px solid #8A9AD0;
  box-shadow: 3px 3px #8A9AD0;
  margin-top: 5rem;
}
blockquote.overview > h3,
blockquote.overview > .box-title {
  font-size: 18px;
  margin-left: -1rem;
  margin-right: -1rem;
  margin-top: -3.3rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: #8A9AD0;
  color: var(--text-color-boxtitle);
  vertical-align: 1em;
  float: left;
  border: 1px solid #8A9AD0;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
blockquote.overview > h3 .fa,
blockquote.overview > .box-title .fa {
  padding-right: 0.2rem;
}
blockquote.overview > h3 button,
blockquote.overview > .box-title button {
  background: transparent;
  border: none;
  cursor: pointer;
}
blockquote.warning {
  margin-top: 4rem;
  padding: 0.6rem 0.89rem 1rem;
  border: 1px solid #de8875;
  box-shadow: 3px 3px #de8875;
}
blockquote.warning > h3,
blockquote.warning > .box-title {
  font-size: 18px;
  margin-left: -1rem;
  margin-right: -1rem;
  margin-top: -3.3rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: #de8875;
  color: var(--text-color-boxtitle);
  vertical-align: 1em;
  float: left;
  border: 1px solid #de8875;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
blockquote.warning > h3 .fa,
blockquote.warning > .box-title .fa {
  padding-right: 0.2rem;
}
blockquote.warning > h3 button,
blockquote.warning > .box-title button {
  background: transparent;
  border: none;
  cursor: pointer;
}
blockquote.details {
  margin-top: 4rem;
  padding: 0.6rem 0.89rem 1rem;
  border: 1px solid #ddd;
  box-shadow: 3px 3px #ddd;
}
blockquote.details > h3,
blockquote.details > .box-title {
  font-size: 18px;
  margin-left: -1rem;
  margin-right: -1rem;
  margin-top: -3.3rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: #ddd;
  color: var(--text-color-boxtitle);
  vertical-align: 1em;
  float: left;
  border: 1px solid #ddd;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
blockquote.details > h3 .fa,
blockquote.details > .box-title .fa {
  padding-right: 0.2rem;
}
blockquote.details > h3 button,
blockquote.details > .box-title button {
  background: transparent;
  border: none;
  cursor: pointer;
}
blockquote.quote {
  border-left: 5px solid var(--brand-color);
  padding-left: 1em;
}
blockquote.spoken {
  display: none;
}
blockquote.hidden {
  display: none;
}
blockquote.matrix table {
  width: unset;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20pt;
}
blockquote.matrix table thead th {
  border-bottom: 2px solid #777;
  text-align: left;
}
blockquote.matrix table td:first-child, blockquote.matrix table th:first-child {
  border-right: 2px solid #777;
  font-weight: bold;
  text-align: left;
}
blockquote.matrix table td:not(first-child), blockquote.matrix table th:not(first-child) {
  text-align: center;
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
}
blockquote.feedback {
  margin-top: 4rem;
  padding: 0.6rem 0.89rem 1rem;
  border: 1px solid #86D486;
  box-shadow: 3px 3px #86D486;
}
blockquote.feedback > h3,
blockquote.feedback > .box-title {
  font-size: 18px;
  margin-left: -1rem;
  margin-right: -1rem;
  margin-top: -3.3rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: #86D486;
  color: var(--text-color-boxtitle);
  vertical-align: 1em;
  float: left;
  border: 1px solid #86D486;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
blockquote.feedback > h3 .fa,
blockquote.feedback > .box-title .fa {
  padding-right: 0.2rem;
}
blockquote.feedback > h3 button,
blockquote.feedback > .box-title button {
  background: transparent;
  border: none;
  cursor: pointer;
}

.fold-unfold {
  margin-left: 1rem;
}

.pre-break-lines code {
  white-space: pre-wrap;
}

.card {
  background: transparent;
  border: 1px solid var(--border-light);
}
.card .card-title {
  background: var(--brand-color);
  border-bottom: 1px solid var(--border-light);
  padding: 1.25rem;
  color: var(--brand-color-contrast);
}
.card .card-body {
  padding: 0em;
}

.pathway {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 2rem;
}
.pathway .pathwayitem {
  width: 100%;
  background: transparent;
  border: 1px solid var(--border-light);
}
.pathway .pathwayitem .card-header {
  background: var(--brand-color);
  border-bottom: 1px solid var(--border-light);
}
.pathway .pathwaycover {
  width: 100%;
  object-fit: cover;
  margin-top: auto;
  margin-bottom: auto;
  background-color: white;
  border-radius: 2rem;
  padding: 1rem;
  -webkit-transition: border 0.2s ease-in-out;
  -o-transition: border 0.2s ease-in-out;
  transition: border 0.2s ease-in-out;
}
.pathway h3 {
  margin-top: 0.25rem;
}

.newslist {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 2rem;
}
.newslist .newsitem {
  width: 100%;
  background: transparent;
  border: 1px solid var(--border-light);
}
.newslist .newsitem .card-header {
  background: var(--brand-color);
  border-bottom: 1px solid var(--border-light);
}
.newslist .newscover {
  width: 100%;
  object-fit: cover;
  margin-top: auto;
  margin-bottom: auto;
  background-color: white;
  border-radius: 2rem;
  padding: 1rem;
  -webkit-transition: border 0.2s ease-in-out;
  -o-transition: border 0.2s ease-in-out;
  transition: border 0.2s ease-in-out;
}
.newslist h3 {
  margin-top: 1rem;
}

.newstable div {
  margin-top: 0px;
  color: var(--text-color) !important;
  font-weight: bold;
  background: transparent;
}
.newstable div a {
  background: transparent;
  border: 1px solid var(--border-light);
}
.newstable div a:hover {
  border: 1px solid var(--hyperlink);
}
.newstable p {
  margin: 0px;
}

.contributors {
  padding: 0;
}
.contributors .carousel-item {
  align-items: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}
.contributors .carousel-item.active,
.contributors .carousel-item-next,
.contributors .carousel-item-prev {
  display: flex;
}
.contributors .hall-of-fame-hero {
  margin: 0;
  width: 18%;
}
.contributors .hall-of-fame-hero .name {
  font-size: 0.7em;
}

#feedback-button {
  width: 100%;
  cursor: pointer;
  border: 5px solid transparent;
}
#feedback-button:hover {
  border: 5px solid var(--hyperlink);
}
#feedback-button img {
  margin: 0;
  max-width: 100%;
  width: 100%;
}

.hall-of-fame {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

.hall-of-fame-hero {
  width: 140px;
  margin: 1rem;
  text-align: center;
}
.hall-of-fame-hero .name {
  margin-top: 0.5rem;
}
.hall-of-fame-hero .contact-items {
  margin-top: 0.2rem;
}
.hall-of-fame-hero .thumbnail {
  display: inline-block;
}
.hall-of-fame-hero .thumbnail img {
  background-color: white;
  border-radius: 20px;
  border: 1px solid var(--border-light);
  padding: 5px;
  width: 100%;
  -webkit-transition: border 0.2s ease-in-out;
  -o-transition: border 0.2s ease-in-out;
  transition: border 0.2s ease-in-out;
}
.hall-of-fame-hero a.thumbnail:hover img, .hall-of-fame-hero a.thumbnail:focus img, .hall-of-fame-hero a.thumbnail:active img {
  border-color: var(--brand-color);
}

@media (max-width: 575px) {
  .navbar > .container {
    position: initial;
    margin-left: initial;
    margin-right: initial;
  }
}
@media (max-width: 768px) {
  .navbar .dropdown-menu {
    background-color: transparent;
    border-color: transparent;
  }
  .navbar .dropdown-item {
    color: var(--text-color-muted);
  }
  .navbar .dropdown-item:hover, .navbar .dropdown-item:focus, .navbar .dropdown-item:active {
    background-color: transparent;
    color: var(--text-color);
  }
  .navbar .nav-item,
  .navbar .dropdown-item {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
@media (min-width: 768px) {
  .tutorial table,
  .table-responsive {
    display: table;
  }
  .citation {
    text-align: justify;
  }
}
@media (max-width: 1200px) {
  .navbar-nav i {
    display: none;
  }
}
:root {
  --color-primary: #999;
  --color-darker: #777;
  --color-dimmed: #555;
}

.label {
  display: inline;
  padding: 0.2em 0.6em 0.3em;
  font-size: 75%;
  line-height: 1;
  color: #000;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25em;
  border-style: solid;
  border-width: 0 2px 1px 0;
  background-color: var(--color-primary);
  border-color: var(--color-darker);
  cursor: pointer;
}
.label:hover {
  color: #000;
  background-color: var(--color-dimmed);
}

.level {
  color: lightgray;
  margin-right: 0.5em;
}
.level .fa {
  font-size: 0.9em;
}
.level.introductory i:first-of-type {
  color: green;
}
.level.intermediate i:not(:last-of-type) {
  color: orange;
}
.level.advanced {
  color: red;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* WCAG Contrast. These aim to pass AAA level for normal sized text. */
a {
  color: var(--hyperlink);
  border-bottom: 1px dotted var(--hyperlink);
}
a:hover, a:focus, a:focus-visible, a:active {
  color: var(--hyperlink-hover);
  border-bottom: 1px solid var(--hyperlink-hover);
  text-decoration: none;
}
a.logo {
  border: none;
}

.text-muted {
  color: var(--text-color-muted) !important;
}

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
  text-decoration: underline;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
}

.gitter-open-chat-button {
  background-color: var(--brand-color) !important;
  color: var(--brand-color-contrast) !important;
}

nav[data-toggle=toc] {
  margin-top: 30px;
  margin-bottom: 30px;
}
nav[data-toggle=toc] .nav-link:focus, nav[data-toggle=toc] .nav-link:hover {
  text-decoration: underline;
}
nav[data-toggle=toc] .nav-link.active,
nav[data-toggle=toc] .nav-link.active:focus,
nav[data-toggle=toc] .nav-link.active:hover {
  color: var(--hyperlink);
  border-left: 2px solid var(--hyperlink);
}
nav[data-toggle=toc] .nav li a {
  color: var(--text-color-muted);
  padding-left: 0px;
}
nav[data-toggle=toc] .nav li a:hover, nav[data-toggle=toc] .nav li a:focus, nav[data-toggle=toc] .nav li a:active {
  padding-left: 0px;
  color: var(--hyperlink);
  border-left: none;
}

.col-sm-2 {
  padding-left: 0px;
}

/* small screens */
@media screen and (max-width: 768px) {
  nav[data-toggle=toc] {
    display: none !important;
  }
  .col-sm-10 {
    max-width: 100%;
  }
}
.contributors-line {
  color: var(--text-color-muted);
  font-size: 1.2em;
  display: flex;
  flex-wrap: wrap;
  align-content: baseline;
  line-height: 1.5em;
}
.contributors-line .contributor-badge img {
  height: 1.5em;
  line-height: 1.5em;
}
.contributors-line .contributor-badge i {
  height: 1.5em;
  line-height: 1.5em;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.contributor-badge {
  /* prevent breaking across lines */
  white-space: nowrap;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  border-radius: 1em;
  border: 1px dotted var(--hyperlink);
  padding-right: 0.5em;
  margin: 0.2em;
  line-height: 1em;
  flex-shrink: 0;
}
.contributor-badge img {
  height: 1em;
  border-radius: 50%;
  margin: 0 0.25em 0 0;
}
.contributor-badge:hover {
  background: var(--brand-color);
  color: var(--brand-color-contrast);
  border: 1px solid var(--hyperlink-hover);
}

table.contributions tr td:nth-child(1) {
  display: flex;
  flex-wrap: wrap;
}

div.highlight {
  position: relative;
}

div.highlight .btn {
  -webkit-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
  padding: 2px 6px;
  position: absolute;
  right: 4px;
  top: 4px;
}

div.highlight:hover .btn, div.highlight .btn:focus {
  opacity: 1;
}

#tutorial_list h2, #tutorial_list h3 {
  display: inline;
}
#tutorial_list .search_box {
  float: right;
}
#tutorial_list .search_box i {
  padding-right: 0.5rem;
}
#tutorial_list #clear_search {
  cursor: pointer;
}

ul.supporting_material .btn {
  padding-left: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 10px;
  font-size: 15px;
}

.alert-heading {
  margin-top: 1rem;
}

@media (min-width: 1200px) {
  .code-2col {
    display: flex;
    flex-direction: row;
  }
  .code-2col .code-in {
    width: 47.5%;
  }
  .code-2col .code-out {
    margin-left: 5%;
    width: 47.5%;
  }
}
.card {
  margin-top: 1em;
}

span.tool, span.workflow {
  border: 1px solid #999;
  padding: 2px;
  border-radius: 5px;
}
span.tool:hover, span.workflow:hover {
  border: 1px solid blue;
}
span.tool.galaxy-proxy-active, span.workflow.galaxy-proxy-active {
  cursor: pointer;
  color: var(--brand-color-contrast);
  background-color: var(--brand-color);
  border-color: var(--brand-color);
  padding: 0.2em 0.5em;
}
span.tool.galaxy-proxy-active:hover, span.workflow.galaxy-proxy-active:hover {
  background-color: var(--hyperlink);
  border-color: var(--hyperlink);
}

body.galaxy-proxy-active .galaxy-proxy-active-hide {
  display: none;
}

@media (max-width: 992px) {
  .container {
    max-width: unset;
  }
}
video::cue {
  background: rgba(0, 0, 0, 0.8);
  color: white;
}

#playlist {
  display: flex;
  flex-direction: row;
  overflow: auto;
}
#playlist.vertical {
  flex-direction: column;
}
#playlist .pl-item a {
  display: flex;
  flex-direction: column;
}
#playlist .pl-item a .title {
  font-weight: 700;
}
#playlist .pl-item a .topic {
  font-style: italic;
}
#playlist .pl-item a .cover {
  width: 200px;
}

#transcript {
  height: 400px;
  overflow-y: scroll;
}
#transcript tr td:nth-child(1) {
  padding-right: 1em;
  color: var(--text-color-muted);
}

abbr {
  text-decoration: underline dotted;
  cursor: help;
  font-variant: none;
}

.fdbk .card .card-title {
  font-size: 2rem;
  text-align: center;
}
.fdbk .accordion {
  margin-top: 20px;
}
.fdbk .accordion .accordion-card {
  margin-top: 0px;
}
.fdbk .accordion .accordion-card .mb-0 {
  margin-top: 0px;
}

div.contributors-line dl {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0;
}
div.contributors-line dt {
  width: 8em;
  text-align: right;
  font-weight: initial;
}
div.contributors-line dd {
  margin-left: auto;
  width: calc(100% - 9em);
  display: flex;
}

a.btn {
  display: inline-flex;
  align-items: center;
  white-space: normal;
}
a.btn div {
  width: 100%;
  font-size: 1rem;
}

.btn-red {
  background-color: #bf4646;
  color: white;
}

.btn-orange {
  background-color: #de8875;
  color: black;
}

.btn-yellow {
  background-color: #FFE19E;
  color: black;
}

.btn-green {
  background-color: #86D486;
  color: black;
}

.btn-blue {
  background-color: #dfe5f9;
  color: black;
}

.btn-purple {
  background-color: #8A9AD0;
  color: black;
}

.btn-pink {
  background-color: #FFA1A1;
  color: black;
}

.btn-square-small {
  width: 50px !important;
  max-width: 100% !important;
  max-height: 100% !important;
  height: 50px !important;
  text-align: center;
  padding: 5px;
  font-size: 0.75rem;
  margin: 5px;
}

.btn-square-medium {
  width: 100px !important;
  max-width: 100% !important;
  max-height: 100% !important;
  height: 100px !important;
  text-align: center;
  padding: 5px;
  font-size: 1rem;
  margin: 5px;
}

.btn-square-large {
  width: 150px !important;
  max-width: 100% !important;
  max-height: 100% !important;
  height: 150px !important;
  text-align: center;
  padding: 5px;
  font-size: 1.25rem;
  margin: 5px;
}

.btn-square-extralarge {
  width: 200px !important;
  max-width: 100% !important;
  max-height: 100% !important;
  height: 200px !important;
  text-align: center;
  padding: 5px;
  font-size: 1.5rem;
  margin: 5px;
}

.btn-primary {
  background-color: var(--brand-color);
  border-color: var(--brand-color);
}

.btn-success {
  background-color: #1d7531;
  border-color: #1d7531;
}

/* CYOA */
.gtn-cyoa input[type=radio] {
  display: none;
}
.gtn-cyoa input[type=radio]:checked + label {
  background-color: #8A9AD0;
}
.gtn-cyoa .btn-secondary {
  color: var(--text-color);
  background-color: #dfe5f9;
  border-color: transparent;
}
.gtn-cyoa .btn-secondary:hover {
  background-color: #B8C3EA;
}
.gtn-cyoa label {
  padding: 1em;
  display: inline-block;
}

.gtn-cyoa-hidden {
  height: 0px;
  visibility: hidden;
  display: none;
  padding: 0rem;
}

/*
Maybe something like this for the case where they do not select anything?
.openstack {
	border-left: 2px solid red;
}
.digitalocean {
	border-left: 2px solid blue;
}
*/
ul.text-list, ol.text-list {
  list-style: none;
  padding-left: 0;
}
ul.text-list li, ol.text-list li {
  display: inline;
}

.gtn-card {
  border-radius: 10px;
}
.gtn-card .card-title {
  font-size: 500%;
  font-weight: 900;
  margin-bottom: 0;
  text-align: center;
}
.gtn-card .card-text {
  text-align: center;
  font-size: 150%;
  padding: 0.3em;
}

.dropdown-item:focus-visible {
  outline: var(--outline-color) 3px solid;
}
.dropdown-item:focus, .dropdown-item:hover {
  background: var(--brand-color);
  color: var(--brand-color-contrast);
}

ol.breadcrumb {
  background: var(--secondary-color);
}
ol.breadcrumb .breadcrumb-item.active {
  color: var(--secondary-color-text);
}

a[target=_blank]::after {
  content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==) " (opens in new tab)";
  display: inline-block;
  margin-left: 0.2em;
  height: 1em;
}

.tutorials-list {
  /* Big */
  /* Skinny */
}
@media (min-width: 768px) {
  .tutorials-list .duplicate {
    display: none;
  }
}
@media (max-width: 767px) {
  .tutorials-list table.table.table-responsive {
    display: inline-table;
  }
  .tutorials-list tr th:not(:first-child) {
    display: none;
  }
  .tutorials-list tr td:not(:first-child) {
    display: none;
  }
  .tutorials-list r .duplicate {
    display: unset;
  }
}

/*# sourceMappingURL=main.css.map */