@charset "UTF-8";
.color-overview { background: #8A9AD0; }

.color-agenda { background: #86D486; }

.color-keypoints { background: #FFA1A1; }

.color-tip { background: #FFE19E; }

.color-warning { background: #de8875; }

.color-comment { background: #ffecc1; }

.color-handson { background: #dfe5f9; }

.color-question { background: #8A9AD0; }

.color-solution { background: #B8C3EA; }

.color-details { background: #ddd; }

.color-feedback { background: #86D486; }

.color-code { background: #86D486; }

.color-code-out { background: #fb99d0; }

body { font-size: 15px; word-wrap: break-word; position: relative; }

/*! Dark; http://bytefluent.com/devify/ */
div#theme-selector, div#lang-selector, div#archive-selector { display: flex; flex-direction: row; flex-wrap: wrap; width: 200px; justify-content: flex-start; margin-left: 1em; }

div#theme-selector label.btn, div#theme-selector a.btn, div#lang-selector label.btn, div#lang-selector a.btn, div#archive-selector label.btn, div#archive-selector a.btn { margin: 0.1em; }

body.theme-night { color: #eee; background-color: #444444; /* Comment */ /* Error */ /* Generic */ /* Keyword */ /* Literal */ /* Name */ /* Operator */ /* Other */ /* Punctuation */ /* Comment.Multiline */ /* Comment.Preproc */ /* Comment.Single */ /* Comment.Special */ /* Generic.Deleted */ /* Generic.Emph */ /* Generic.Error */ /* Generic.Heading */ /* Generic.Inserted */ /* Generic.Output */ /* Generic.Prompt */ /* Generic.Strong */ /* Generic.Subheading */ /* Generic.Traceback */ /* Keyword.Constant */ /* Keyword.Declaration */ /* Keyword.Namespace */ /* Keyword.Pseudo */ /* Keyword.Reserved */ /* Keyword.Type */ /* Literal.Date */ /* Literal.Number */ /* Literal.String */ /* Name.Attribute */ /* Name.Builtin */ /* Name.Class */ /* Name.Constant */ /* Name.Decorator */ /* Name.Entity */ /* Name.Exception */ /* Name.Function */ /* Name.Label */ /* Name.Namespace */ /* Name.Other */ /* Name.Property */ /* Name.Tag */ /* Name.Variable */ /* Operator.Word */ /* Text.Whitespace */ /* Literal.Number.Float */ /* Literal.Number.Hex */ /* Literal.Number.Integer */ /* Literal.Number.Oct */ /* Literal.String.Backtick */ /* Literal.String.Char */ /* Literal.String.Doc */ /* Literal.String.Double */ /* Literal.String.Escape */ /* Literal.String.Heredoc */ /* Literal.String.Interpol */ /* Literal.String.Other */ /* Literal.String.Regex */ /* Literal.String.Single */ /* Literal.String.Symbol */ /* Name.Builtin.Pseudo */ /* Name.Variable.Class */ /* Name.Variable.Global */ /* Name.Variable.Instance */ /* Literal.Number.Integer.Long */ }

body.theme-night .highlight, body.theme-night .highlight pre, body.theme-night .highlight table { background: #333333 !important; color: #f8f8ff !important; }

body.theme-night .highlight .hll { background-color: #ffffcc !important; }

body.theme-night .highlight .c { color: #87ceeb !important; }

body.theme-night .highlight .err { color: #f8f8ff; background-color: #8a6161; }

body.theme-night .highlight .g { color: #f8f8ff !important; }

body.theme-night .highlight .k { color: #d2b48c !important; }

body.theme-night .highlight .l { color: #f8f8ff !important; }

body.theme-night .highlight .n, body.theme-night .highlight .h { color: #f8f8ff !important; }

body.theme-night .highlight .o { color: #f8f8ff !important; }

body.theme-night .highlight .x { color: #f8f8ff !important; }

body.theme-night .highlight .p { color: #f8f8ff !important; }

body.theme-night .highlight .cm { color: #87ceeb !important; }

body.theme-night .highlight .cp { color: #ee7ae9 !important; }

body.theme-night .highlight .c1 { color: #87ceeb !important; }

body.theme-night .highlight .cs { color: #87ceeb !important; }

body.theme-night .highlight .gd { color: #000 !important; }

body.theme-night .highlight .ge { color: #f8f8ff !important; }

body.theme-night .highlight .gr { color: #f8f8ff !important; background-color: #cd0000 !important; }

body.theme-night .highlight .gh { color: #f8f8ff !important; }

body.theme-night .highlight .gi { color: #000 !important; }

body.theme-night .highlight .go { color: #cdcd00 !important; background-color: #262626 !important; }

body.theme-night .highlight .gp { color: #f8f8ff !important; }

body.theme-night .highlight .gs { color: #f8f8ff !important; }

body.theme-night .highlight .gu { color: #f8f8ff !important; }

body.theme-night .highlight .gt { color: #f8f8ff !important; }

body.theme-night .highlight .kc { color: #d2b48c !important; }

body.theme-night .highlight .kd { color: #d2b48c !important; }

body.theme-night .highlight .kn { color: #d2b48c !important; }

body.theme-night .highlight .kp { color: #d2b48c !important; }

body.theme-night .highlight .kr { color: #d2b48c !important; }

body.theme-night .highlight .kt { color: #ffa500 !important; }

body.theme-night .highlight .ld { color: #f8f8ff !important; }

body.theme-night .highlight .m { color: #FF7070 !important; }

body.theme-night .highlight .s { color: #ffa0a0 !important; }

body.theme-night .highlight .na { color: #60DD60 !important; }

body.theme-night .highlight .nb { color: #f8f8ff !important; }

body.theme-night .highlight .nc { color: #f8f8ff !important; }

body.theme-night .highlight .no { color: #FF7070 !important; }

body.theme-night .highlight .nd { color: #f8f8ff !important; }

body.theme-night .highlight .ni { color: #DDDD00 !important; }

body.theme-night .highlight .ne { color: #ffa500 !important; }

body.theme-night .highlight .nf { color: #60DD60 !important; }

body.theme-night .highlight .nl { color: #ffa500 !important; }

body.theme-night .highlight .nn { color: #f8f8ff !important; }

body.theme-night .highlight .nx { color: #f8f8ff !important; }

body.theme-night .highlight .py { color: #f8f8ff !important; }

body.theme-night .highlight .nt { color: #d2b48c !important; }

body.theme-night .highlight .nv { color: #60DD60 !important; }

body.theme-night .highlight .ow { color: #ffa500 !important; }

body.theme-night .highlight .w { color: #f8f8ff !important; }

body.theme-night .highlight .mf { color: #FF7070 !important; }

body.theme-night .highlight .mh { color: #FF7070 !important; }

body.theme-night .highlight .mi { color: #FF7070 !important; }

body.theme-night .highlight .mo { color: #FF7070 !important; }

body.theme-night .highlight .sb { color: #ffa0a0 !important; }

body.theme-night .highlight .sc { color: #ffa0a0 !important; }

body.theme-night .highlight .sd { color: #ffa0a0 !important; }

body.theme-night .highlight .s2 { color: #ffa0a0 !important; }

body.theme-night .highlight .se { color: #ffa0a0 !important; }

body.theme-night .highlight .sh { color: #ffa0a0 !important; }

body.theme-night .highlight .si { color: #ffa0a0 !important; }

body.theme-night .highlight .sx { color: #ffa0a0 !important; }

body.theme-night .highlight .sr { color: #ffa0a0 !important; }

body.theme-night .highlight .s1 { color: #ffa0a0 !important; }

body.theme-night .highlight .ss { color: #ffa0a0 !important; }

body.theme-night .highlight .bp { color: #f8f8ff !important; }

body.theme-night .highlight .vc { color: #60DD60 !important; }

body.theme-night .highlight .vg { color: #60DD60 !important; }

body.theme-night .highlight .vi { color: #60DD60 !important; }

body.theme-night .highlight .il { color: #FF7070 !important; }

body.theme-night .contributors-line { color: #eee; }

body.theme-night img { background: #aaa; }

body.theme-night .navbar-brand img { background: none; }

body.theme-night .navbar { background-color: #424a66 !important; }

body.theme-night div[data-toggle="toc"] .nav > li > a { color: #ccc; }

body.theme-night div[data-toggle="toc"] .nav li .active { color: #eee; }

body.theme-night a { color: #7bf; }

body.theme-night :not(a) > code { background-color: #333333; color: #ffa0a0; }

body.theme-night .card { background-color: transparent; border: 1px solid rgba(255, 255, 255, 0.125); }

body.theme-night #search-container input.nicer { background: transparent; color: white; border: none; border-bottom: 2px solid white; border-radius: 0px; padding: 0.4em 0 0 0; }

body.theme-night #search-container input.nicer::placeholder { color: white; }

body.theme-night #search-container input.nicer:focus, body.theme-night #search-container input.nicer:active { color: white; background: #fff2; border-bottom: 2px solid white; text-decoration: underline; }

body.theme-midnight { color: #eee; background-color: #222; /* Comment */ /* Error */ /* Generic */ /* Keyword */ /* Literal */ /* Name */ /* Operator */ /* Other */ /* Punctuation */ /* Comment.Multiline */ /* Comment.Preproc */ /* Comment.Single */ /* Comment.Special */ /* Generic.Deleted */ /* Generic.Emph */ /* Generic.Error */ /* Generic.Heading */ /* Generic.Inserted */ /* Generic.Output */ /* Generic.Prompt */ /* Generic.Strong */ /* Generic.Subheading */ /* Generic.Traceback */ /* Keyword.Constant */ /* Keyword.Declaration */ /* Keyword.Namespace */ /* Keyword.Pseudo */ /* Keyword.Reserved */ /* Keyword.Type */ /* Literal.Date */ /* Literal.Number */ /* Literal.String */ /* Name.Attribute */ /* Name.Builtin */ /* Name.Class */ /* Name.Constant */ /* Name.Decorator */ /* Name.Entity */ /* Name.Exception */ /* Name.Function */ /* Name.Label */ /* Name.Namespace */ /* Name.Other */ /* Name.Property */ /* Name.Tag */ /* Name.Variable */ /* Operator.Word */ /* Text.Whitespace */ /* Literal.Number.Float */ /* Literal.Number.Hex */ /* Literal.Number.Integer */ /* Literal.Number.Oct */ /* Literal.String.Backtick */ /* Literal.String.Char */ /* Literal.String.Doc */ /* Literal.String.Double */ /* Literal.String.Escape */ /* Literal.String.Heredoc */ /* Literal.String.Interpol */ /* Literal.String.Other */ /* Literal.String.Regex */ /* Literal.String.Single */ /* Literal.String.Symbol */ /* Name.Builtin.Pseudo */ /* Name.Variable.Class */ /* Name.Variable.Global */ /* Name.Variable.Instance */ /* Literal.Number.Integer.Long */ }

body.theme-midnight .highlight, body.theme-midnight .highlight pre, body.theme-midnight .highlight table { background: #333333 !important; color: #f8f8ff !important; }

body.theme-midnight .highlight .hll { background-color: #ffffcc !important; }

body.theme-midnight .highlight .c { color: #87ceeb !important; }

body.theme-midnight .highlight .err { color: #f8f8ff; background-color: #8a6161; }

body.theme-midnight .highlight .g { color: #f8f8ff !important; }

body.theme-midnight .highlight .k { color: #d2b48c !important; }

body.theme-midnight .highlight .l { color: #f8f8ff !important; }

body.theme-midnight .highlight .n, body.theme-midnight .highlight .h { color: #f8f8ff !important; }

body.theme-midnight .highlight .o { color: #f8f8ff !important; }

body.theme-midnight .highlight .x { color: #f8f8ff !important; }

body.theme-midnight .highlight .p { color: #f8f8ff !important; }

body.theme-midnight .highlight .cm { color: #87ceeb !important; }

body.theme-midnight .highlight .cp { color: #ee7ae9 !important; }

body.theme-midnight .highlight .c1 { color: #87ceeb !important; }

body.theme-midnight .highlight .cs { color: #87ceeb !important; }

body.theme-midnight .highlight .gd { color: #000 !important; }

body.theme-midnight .highlight .ge { color: #f8f8ff !important; }

body.theme-midnight .highlight .gr { color: #f8f8ff !important; background-color: #cd0000 !important; }

body.theme-midnight .highlight .gh { color: #f8f8ff !important; }

body.theme-midnight .highlight .gi { color: #000 !important; }

body.theme-midnight .highlight .go { color: #cdcd00 !important; background-color: #262626 !important; }

body.theme-midnight .highlight .gp { color: #f8f8ff !important; }

body.theme-midnight .highlight .gs { color: #f8f8ff !important; }

body.theme-midnight .highlight .gu { color: #f8f8ff !important; }

body.theme-midnight .highlight .gt { color: #f8f8ff !important; }

body.theme-midnight .highlight .kc { color: #d2b48c !important; }

body.theme-midnight .highlight .kd { color: #d2b48c !important; }

body.theme-midnight .highlight .kn { color: #d2b48c !important; }

body.theme-midnight .highlight .kp { color: #d2b48c !important; }

body.theme-midnight .highlight .kr { color: #d2b48c !important; }

body.theme-midnight .highlight .kt { color: #ffa500 !important; }

body.theme-midnight .highlight .ld { color: #f8f8ff !important; }

body.theme-midnight .highlight .m { color: #FF7070 !important; }

body.theme-midnight .highlight .s { color: #ffa0a0 !important; }

body.theme-midnight .highlight .na { color: #60DD60 !important; }

body.theme-midnight .highlight .nb { color: #f8f8ff !important; }

body.theme-midnight .highlight .nc { color: #f8f8ff !important; }

body.theme-midnight .highlight .no { color: #FF7070 !important; }

body.theme-midnight .highlight .nd { color: #f8f8ff !important; }

body.theme-midnight .highlight .ni { color: #DDDD00 !important; }

body.theme-midnight .highlight .ne { color: #ffa500 !important; }

body.theme-midnight .highlight .nf { color: #60DD60 !important; }

body.theme-midnight .highlight .nl { color: #ffa500 !important; }

body.theme-midnight .highlight .nn { color: #f8f8ff !important; }

body.theme-midnight .highlight .nx { color: #f8f8ff !important; }

body.theme-midnight .highlight .py { color: #f8f8ff !important; }

body.theme-midnight .highlight .nt { color: #d2b48c !important; }

body.theme-midnight .highlight .nv { color: #60DD60 !important; }

body.theme-midnight .highlight .ow { color: #ffa500 !important; }

body.theme-midnight .highlight .w { color: #f8f8ff !important; }

body.theme-midnight .highlight .mf { color: #FF7070 !important; }

body.theme-midnight .highlight .mh { color: #FF7070 !important; }

body.theme-midnight .highlight .mi { color: #FF7070 !important; }

body.theme-midnight .highlight .mo { color: #FF7070 !important; }

body.theme-midnight .highlight .sb { color: #ffa0a0 !important; }

body.theme-midnight .highlight .sc { color: #ffa0a0 !important; }

body.theme-midnight .highlight .sd { color: #ffa0a0 !important; }

body.theme-midnight .highlight .s2 { color: #ffa0a0 !important; }

body.theme-midnight .highlight .se { color: #ffa0a0 !important; }

body.theme-midnight .highlight .sh { color: #ffa0a0 !important; }

body.theme-midnight .highlight .si { color: #ffa0a0 !important; }

body.theme-midnight .highlight .sx { color: #ffa0a0 !important; }

body.theme-midnight .highlight .sr { color: #ffa0a0 !important; }

body.theme-midnight .highlight .s1 { color: #ffa0a0 !important; }

body.theme-midnight .highlight .ss { color: #ffa0a0 !important; }

body.theme-midnight .highlight .bp { color: #f8f8ff !important; }

body.theme-midnight .highlight .vc { color: #60DD60 !important; }

body.theme-midnight .highlight .vg { color: #60DD60 !important; }

body.theme-midnight .highlight .vi { color: #60DD60 !important; }

body.theme-midnight .highlight .il { color: #FF7070 !important; }

body.theme-midnight .contributors-line { color: #eee; }

body.theme-midnight img { background: #aaa; }

body.theme-midnight .navbar-brand img { background: none; }

body.theme-midnight .navbar { background-color: #424a66 !important; }

body.theme-midnight div[data-toggle="toc"] .nav > li > a { color: #ccc; }

body.theme-midnight div[data-toggle="toc"] .nav li .active { color: #eee; }

body.theme-midnight a { color: #7bf; }

body.theme-midnight :not(a) > code { background-color: #333333; color: #ffa0a0; }

body.theme-midnight .card { background-color: transparent; border: 1px solid rgba(255, 255, 255, 0.125); }

body.theme-midnight #search-container input.nicer { background: transparent; color: white; border: none; border-bottom: 2px solid white; border-radius: 0px; padding: 0.4em 0 0 0; }

body.theme-midnight #search-container input.nicer::placeholder { color: white; }

body.theme-midnight #search-container input.nicer:focus, body.theme-midnight #search-container input.nicer:active { color: white; background: #fff2; border-bottom: 2px solid white; text-decoration: underline; }

body.theme-halloween { color: #eee; background-color: #222; /* Comment */ /* Error */ /* Generic */ /* Keyword */ /* Literal */ /* Name */ /* Operator */ /* Other */ /* Punctuation */ /* Comment.Multiline */ /* Comment.Preproc */ /* Comment.Single */ /* Comment.Special */ /* Generic.Deleted */ /* Generic.Emph */ /* Generic.Error */ /* Generic.Heading */ /* Generic.Inserted */ /* Generic.Output */ /* Generic.Prompt */ /* Generic.Strong */ /* Generic.Subheading */ /* Generic.Traceback */ /* Keyword.Constant */ /* Keyword.Declaration */ /* Keyword.Namespace */ /* Keyword.Pseudo */ /* Keyword.Reserved */ /* Keyword.Type */ /* Literal.Date */ /* Literal.Number */ /* Literal.String */ /* Name.Attribute */ /* Name.Builtin */ /* Name.Class */ /* Name.Constant */ /* Name.Decorator */ /* Name.Entity */ /* Name.Exception */ /* Name.Function */ /* Name.Label */ /* Name.Namespace */ /* Name.Other */ /* Name.Property */ /* Name.Tag */ /* Name.Variable */ /* Operator.Word */ /* Text.Whitespace */ /* Literal.Number.Float */ /* Literal.Number.Hex */ /* Literal.Number.Integer */ /* Literal.Number.Oct */ /* Literal.String.Backtick */ /* Literal.String.Char */ /* Literal.String.Doc */ /* Literal.String.Double */ /* Literal.String.Escape */ /* Literal.String.Heredoc */ /* Literal.String.Interpol */ /* Literal.String.Other */ /* Literal.String.Regex */ /* Literal.String.Single */ /* Literal.String.Symbol */ /* Name.Builtin.Pseudo */ /* Name.Variable.Class */ /* Name.Variable.Global */ /* Name.Variable.Instance */ /* Literal.Number.Integer.Long */ }

body.theme-halloween .highlight, body.theme-halloween .highlight pre, body.theme-halloween .highlight table { background: #333333 !important; color: #f8f8ff !important; }

body.theme-halloween .highlight .hll { background-color: #ffffcc !important; }

body.theme-halloween .highlight .c { color: #87ceeb !important; }

body.theme-halloween .highlight .err { color: #f8f8ff; background-color: #8a6161; }

body.theme-halloween .highlight .g { color: #f8f8ff !important; }

body.theme-halloween .highlight .k { color: #d2b48c !important; }

body.theme-halloween .highlight .l { color: #f8f8ff !important; }

body.theme-halloween .highlight .n, body.theme-halloween .highlight .h { color: #f8f8ff !important; }

body.theme-halloween .highlight .o { color: #f8f8ff !important; }

body.theme-halloween .highlight .x { color: #f8f8ff !important; }

body.theme-halloween .highlight .p { color: #f8f8ff !important; }

body.theme-halloween .highlight .cm { color: #87ceeb !important; }

body.theme-halloween .highlight .cp { color: #ee7ae9 !important; }

body.theme-halloween .highlight .c1 { color: #87ceeb !important; }

body.theme-halloween .highlight .cs { color: #87ceeb !important; }

body.theme-halloween .highlight .gd { color: #000 !important; }

body.theme-halloween .highlight .ge { color: #f8f8ff !important; }

body.theme-halloween .highlight .gr { color: #f8f8ff !important; background-color: #cd0000 !important; }

body.theme-halloween .highlight .gh { color: #f8f8ff !important; }

body.theme-halloween .highlight .gi { color: #000 !important; }

body.theme-halloween .highlight .go { color: #cdcd00 !important; background-color: #262626 !important; }

body.theme-halloween .highlight .gp { color: #f8f8ff !important; }

body.theme-halloween .highlight .gs { color: #f8f8ff !important; }

body.theme-halloween .highlight .gu { color: #f8f8ff !important; }

body.theme-halloween .highlight .gt { color: #f8f8ff !important; }

body.theme-halloween .highlight .kc { color: #d2b48c !important; }

body.theme-halloween .highlight .kd { color: #d2b48c !important; }

body.theme-halloween .highlight .kn { color: #d2b48c !important; }

body.theme-halloween .highlight .kp { color: #d2b48c !important; }

body.theme-halloween .highlight .kr { color: #d2b48c !important; }

body.theme-halloween .highlight .kt { color: #ffa500 !important; }

body.theme-halloween .highlight .ld { color: #f8f8ff !important; }

body.theme-halloween .highlight .m { color: #FF7070 !important; }

body.theme-halloween .highlight .s { color: #ffa0a0 !important; }

body.theme-halloween .highlight .na { color: #60DD60 !important; }

body.theme-halloween .highlight .nb { color: #f8f8ff !important; }

body.theme-halloween .highlight .nc { color: #f8f8ff !important; }

body.theme-halloween .highlight .no { color: #FF7070 !important; }

body.theme-halloween .highlight .nd { color: #f8f8ff !important; }

body.theme-halloween .highlight .ni { color: #DDDD00 !important; }

body.theme-halloween .highlight .ne { color: #ffa500 !important; }

body.theme-halloween .highlight .nf { color: #60DD60 !important; }

body.theme-halloween .highlight .nl { color: #ffa500 !important; }

body.theme-halloween .highlight .nn { color: #f8f8ff !important; }

body.theme-halloween .highlight .nx { color: #f8f8ff !important; }

body.theme-halloween .highlight .py { color: #f8f8ff !important; }

body.theme-halloween .highlight .nt { color: #d2b48c !important; }

body.theme-halloween .highlight .nv { color: #60DD60 !important; }

body.theme-halloween .highlight .ow { color: #ffa500 !important; }

body.theme-halloween .highlight .w { color: #f8f8ff !important; }

body.theme-halloween .highlight .mf { color: #FF7070 !important; }

body.theme-halloween .highlight .mh { color: #FF7070 !important; }

body.theme-halloween .highlight .mi { color: #FF7070 !important; }

body.theme-halloween .highlight .mo { color: #FF7070 !important; }

body.theme-halloween .highlight .sb { color: #ffa0a0 !important; }

body.theme-halloween .highlight .sc { color: #ffa0a0 !important; }

body.theme-halloween .highlight .sd { color: #ffa0a0 !important; }

body.theme-halloween .highlight .s2 { color: #ffa0a0 !important; }

body.theme-halloween .highlight .se { color: #ffa0a0 !important; }

body.theme-halloween .highlight .sh { color: #ffa0a0 !important; }

body.theme-halloween .highlight .si { color: #ffa0a0 !important; }

body.theme-halloween .highlight .sx { color: #ffa0a0 !important; }

body.theme-halloween .highlight .sr { color: #ffa0a0 !important; }

body.theme-halloween .highlight .s1 { color: #ffa0a0 !important; }

body.theme-halloween .highlight .ss { color: #ffa0a0 !important; }

body.theme-halloween .highlight .bp { color: #f8f8ff !important; }

body.theme-halloween .highlight .vc { color: #60DD60 !important; }

body.theme-halloween .highlight .vg { color: #60DD60 !important; }

body.theme-halloween .highlight .vi { color: #60DD60 !important; }

body.theme-halloween .highlight .il { color: #FF7070 !important; }

body.theme-halloween .contributors-line { color: #eee; }

body.theme-halloween img { background: #aaa; }

body.theme-halloween h1, body.theme-halloween h2, body.theme-halloween h3, body.theme-halloween h4 { color: orange; }

body.theme-halloween h1::before { content: "🎃 "; }

body.theme-halloween h1::after { content: " 🎃"; }

body.theme-halloween h2::before { content: "👻 "; }

body.theme-halloween h2::after { content: " 👻"; }

body.theme-halloween .navbar-brand img { background: none; }

body.theme-halloween .navbar { background-color: orange !important; }

body.theme-halloween div[data-toggle="toc"] .nav > li > a { color: #ccc; }

body.theme-halloween div[data-toggle="toc"] .nav li .active { color: #eee; }

body.theme-halloween div[data-toggle="toc"] .nav li .active::after { content: " 🧙‍♀️"; }

body.theme-halloween .navbar-brand, body.theme-halloween .navbar-dark .navbar-nav .nav-link { color: black; }

body.theme-halloween .navbar-brand:hover, body.theme-halloween .navbar-dark .navbar-nav .nav-link:focus, body.theme-halloween .navbar-dark .navbar-nav .nav-link:hover { color: black; text-decoration: underline; }

body.theme-halloween a { color: #0067d6; }

body.theme-halloween :not(a) > code { background-color: #333333; color: #ffa0a0; }

body.theme-halloween .card { background-color: transparent; border: 1px solid rgba(255, 255, 255, 0.125); }

body.theme-halloween #search-container input.nicer { background: transparent; color: black; border: none; border-bottom: 2px solid black; border-radius: 0px; padding: 0.4em 0 0 0; }

body.theme-halloween #search-container input.nicer::placeholder { color: black; }

body.theme-halloween #search-container input.nicer:focus, body.theme-halloween #search-container input.nicer:active { color: black; background: #fff2; border-bottom: 2px solid black; text-decoration: underline; }

body.downunder { transform: rotate(180deg); }

body.theme-straya h1::before { content: "🇳🇿 "; }

body.theme-straya h1::after { content: " 🇳🇿"; }

body.theme-straya h2::before { content: "🦘 "; }

body.theme-straya h2::after { content: " 🐨"; display: inline-block; transform: scale(-1, 1) translateX(-1rem); }

body.theme-rainbow h1::before { content: "🌈 "; }

body.theme-rainbow h1::after { content: " 🌈 "; display: inline-block; transform: scale(-1, 1) translateX(-1rem); }

body.theme-rainbow header nav.navbar { background: linear-gradient(to bottom, #e2453c 0, #e2453c 16%, #e07e39 16%, #e07e39 32%, #e5d667 32%, #e5d667 48%, #51b95b 48%, #51b95b 66%, #1e72b7 66%, #1e72b7 86%, #6f5ba7 86%) no-repeat !important; padding: 0; }

body.theme-rainbow header .navbar-brand { background: #3337; height: 100%; left: 0px; padding: .5rem 0rem; width: 17rem; }

body.theme-rainbow header .navbar-nav > li .nav-link { color: white; }

body.theme-rainbow header .navbar-nav > li { background: #3337; height: 100%; left: 0px; padding: .5rem 0rem; }

body.theme-rainbow .tutorials-list:not(.topic-type-use) table.table-striped tbody tr:nth-of-type(5n+1) td:not(:first-child) { color: red; }

body.theme-rainbow .tutorials-list:not(.topic-type-use) table.table-striped tbody tr:nth-of-type(5n+1) td:not(:first-child) i { color: red; }

body.theme-rainbow .tutorials-list:not(.topic-type-use) table.table-striped tbody tr:nth-of-type(5n+2) td:not(:first-child) { color: orange; }

body.theme-rainbow .tutorials-list:not(.topic-type-use) table.table-striped tbody tr:nth-of-type(5n+2) td:not(:first-child) i { color: orange; }

body.theme-rainbow .tutorials-list:not(.topic-type-use) table.table-striped tbody tr:nth-of-type(5n+3) td:not(:first-child) { color: green; }

body.theme-rainbow .tutorials-list:not(.topic-type-use) table.table-striped tbody tr:nth-of-type(5n+3) td:not(:first-child) i { color: green; }

body.theme-rainbow .tutorials-list:not(.topic-type-use) table.table-striped tbody tr:nth-of-type(5n+4) td:not(:first-child) { color: blue; }

body.theme-rainbow .tutorials-list:not(.topic-type-use) table.table-striped tbody tr:nth-of-type(5n+4) td:not(:first-child) i { color: blue; }

body.theme-rainbow .tutorials-list:not(.topic-type-use) table.table-striped tbody tr:nth-of-type(5n+5) td:not(:first-child) { color: purple; }

body.theme-rainbow .tutorials-list:not(.topic-type-use) table.table-striped tbody tr:nth-of-type(5n+5) td:not(:first-child) i { color: purple; }

body.theme-rainbow .tutorials-list.topic-type-use table.table-striped tbody tr td:nth-of-type(6n+2) { color: red; }

body.theme-rainbow .tutorials-list.topic-type-use table.table-striped tbody tr td:nth-of-type(6n+2) i { color: red; }

body.theme-rainbow .tutorials-list.topic-type-use table.table-striped tbody tr td:nth-of-type(6n+3) { color: orange; }

body.theme-rainbow .tutorials-list.topic-type-use table.table-striped tbody tr td:nth-of-type(6n+3) i { color: orange; }

body.theme-rainbow .tutorials-list.topic-type-use table.table-striped tbody tr td:nth-of-type(6n+4) { color: green; }

body.theme-rainbow .tutorials-list.topic-type-use table.table-striped tbody tr td:nth-of-type(6n+4) i { color: green; }

body.theme-rainbow .tutorials-list.topic-type-use table.table-striped tbody tr td:nth-of-type(6n+5) { color: blue; }

body.theme-rainbow .tutorials-list.topic-type-use table.table-striped tbody tr td:nth-of-type(6n+5) i { color: blue; }

body.theme-rainbow .tutorials-list.topic-type-use table.table-striped tbody tr td:nth-of-type(6n+6) { color: purple; }

body.theme-rainbow .tutorials-list.topic-type-use table.table-striped tbody tr td:nth-of-type(6n+6) i { color: purple; }

body.theme-rainbow .tutorials-list.topic-type-use table.table-striped thead th:nth-of-type(6n+2) { color: red; }

body.theme-rainbow .tutorials-list.topic-type-use table.table-striped thead th:nth-of-type(6n+3) { color: orange; }

body.theme-rainbow .tutorials-list.topic-type-use table.table-striped thead th:nth-of-type(6n+4) { color: green; }

body.theme-rainbow .tutorials-list.topic-type-use table.table-striped thead th:nth-of-type(6n+5) { color: blue; }

body.theme-rainbow .tutorials-list.topic-type-use table.table-striped thead th:nth-of-type(6n+6) { color: purple; }

body.theme-progress h1::before { content: "🌈 "; }

body.theme-progress h1::after { content: " 🌈 "; display: inline-block; transform: scale(-1, 1) translateX(-1rem); }

body.theme-progress header nav.navbar { background: linear-gradient(to bottom, #100f0d 0, #100f0d 9%, #a05a2e 9%, #a05a2e 18%, #5eb9da 18%, #5eb9da 27%, #f255ad 27%, #f255ad 36%, #f4f6f5 36%, #f4f6f5 45%, #e21b2c 45%, #e21b2c 54%, #f68824 54%, #f68824 63%, #f4ec1a 63%, #f4ec1a 72%, #26824a 72%, #26824a 81%, #244a8e 81%, #244a8e 90%, #433476 90%) no-repeat !important; padding: 0; }

body.theme-progress header .navbar-brand { background: #3337; height: 100%; left: 0px; padding: .5rem 0rem; width: 17rem; }

body.theme-progress header .navbar-nav > li .nav-link { color: white; }

body.theme-progress header .navbar-nav > li { background: #3337; height: 100%; left: 0px; padding: .5rem 0rem; }

body.theme-progress .contributor-hexylena { background: linear-gradient(to right, #cfe4f777 0%, #cfe4f777 20%, #f7d7dc77 20%, #f7d7dc77 40%, white 40%, white 60%, #f7d7dc77 60%, #f7d7dc77 80%, #cfe4f777 80%, #cfe4f777 100%); }

body.theme-progress .tutorials-list:not(.topic-type-use) table.table-striped tbody tr:nth-of-type(5n+1) td:not(:first-child) { color: red; }

body.theme-progress .tutorials-list:not(.topic-type-use) table.table-striped tbody tr:nth-of-type(5n+1) td:not(:first-child) i { color: red; }

body.theme-progress .tutorials-list:not(.topic-type-use) table.table-striped tbody tr:nth-of-type(5n+2) td:not(:first-child) { color: orange; }

body.theme-progress .tutorials-list:not(.topic-type-use) table.table-striped tbody tr:nth-of-type(5n+2) td:not(:first-child) i { color: orange; }

body.theme-progress .tutorials-list:not(.topic-type-use) table.table-striped tbody tr:nth-of-type(5n+3) td:not(:first-child) { color: green; }

body.theme-progress .tutorials-list:not(.topic-type-use) table.table-striped tbody tr:nth-of-type(5n+3) td:not(:first-child) i { color: green; }

body.theme-progress .tutorials-list:not(.topic-type-use) table.table-striped tbody tr:nth-of-type(5n+4) td:not(:first-child) { color: blue; }

body.theme-progress .tutorials-list:not(.topic-type-use) table.table-striped tbody tr:nth-of-type(5n+4) td:not(:first-child) i { color: blue; }

body.theme-progress .tutorials-list:not(.topic-type-use) table.table-striped tbody tr:nth-of-type(5n+5) td:not(:first-child) { color: purple; }

body.theme-progress .tutorials-list:not(.topic-type-use) table.table-striped tbody tr:nth-of-type(5n+5) td:not(:first-child) i { color: purple; }

body.theme-progress .tutorials-list.topic-type-use table.table-striped tbody tr td:nth-of-type(6n+2) { color: red; }

body.theme-progress .tutorials-list.topic-type-use table.table-striped tbody tr td:nth-of-type(6n+2) i { color: red; }

body.theme-progress .tutorials-list.topic-type-use table.table-striped tbody tr td:nth-of-type(6n+3) { color: orange; }

body.theme-progress .tutorials-list.topic-type-use table.table-striped tbody tr td:nth-of-type(6n+3) i { color: orange; }

body.theme-progress .tutorials-list.topic-type-use table.table-striped tbody tr td:nth-of-type(6n+4) { color: green; }

body.theme-progress .tutorials-list.topic-type-use table.table-striped tbody tr td:nth-of-type(6n+4) i { color: green; }

body.theme-progress .tutorials-list.topic-type-use table.table-striped tbody tr td:nth-of-type(6n+5) { color: blue; }

body.theme-progress .tutorials-list.topic-type-use table.table-striped tbody tr td:nth-of-type(6n+5) i { color: blue; }

body.theme-progress .tutorials-list.topic-type-use table.table-striped tbody tr td:nth-of-type(6n+6) { color: purple; }

body.theme-progress .tutorials-list.topic-type-use table.table-striped tbody tr td:nth-of-type(6n+6) i { color: purple; }

body.theme-progress .tutorials-list.topic-type-use table.table-striped thead th:nth-of-type(6n+2) { color: red; }

body.theme-progress .tutorials-list.topic-type-use table.table-striped thead th:nth-of-type(6n+3) { color: orange; }

body.theme-progress .tutorials-list.topic-type-use table.table-striped thead th:nth-of-type(6n+4) { color: green; }

body.theme-progress .tutorials-list.topic-type-use table.table-striped thead th:nth-of-type(6n+5) { color: blue; }

body.theme-progress .tutorials-list.topic-type-use table.table-striped thead th:nth-of-type(6n+6) { color: purple; }

body.theme-progress p:nth-child(8n+7)::selection { background: #bb3ee5; }

body.theme-progress p:nth-child(8n+0)::selection { background: #e53e91; }

body.theme-progress p:nth-child(8n+1)::selection { background: #e5683e; }

body.theme-progress p:nth-child(8n+2)::selection { background: #e5e53e; }

body.theme-progress p:nth-child(8n+3)::selection { background: #68e53e; }

body.theme-progress p:nth-child(8n+4)::selection { background: #3ee591; }

body.theme-progress p:nth-child(8n+5)::selection { background: #3ebbe5; }

body.theme-progress p:nth-child(9n+6)::selection { background: #3e3ee5; }

body.theme-progress li:nth-child(8n+7)::selection { background: #bb3ee5; }

body.theme-progress li:nth-child(8n+0)::selection { background: #e53e91; }

body.theme-progress li:nth-child(8n+1)::selection { background: #e5683e; }

body.theme-progress li:nth-child(8n+2)::selection { background: #e5e53e; }

body.theme-progress li:nth-child(8n+3)::selection { background: #68e53e; }

body.theme-progress li:nth-child(8n+4)::selection { background: #3ee591; }

body.theme-progress li:nth-child(8n+5)::selection { background: #3ebbe5; }

body.theme-progress li:nth-child(9n+6)::selection { background: #3e3ee5; }

h1, h2, h3, h4 { margin-top: 2rem; }

img { max-width: 95%; margin: 2.5%; }

pre { padding: 1rem; background-color: #bbbbbb; }

figure { text-align: center; margin: 1rem 2rem; }

figure > img { margin-bottom: 1rem; }

figure .figcaption-prefix { font-weight: 600; }

figure figcaption { text-align: justify; }

footer { margin-top: 3em; text-align: center; color: #555; font-size: 13px; }

.follow-up p { font-size: 18px; }

.navbar { background-color: #2c3143 !important; }

.navbar .navbar-collapse { justify-content: flex-end; align-items: flex-end; min-width: 0; }

nav input.nicer { background: transparent; color: white; border: none; border-bottom: 2px solid white; border-radius: 0px; padding: 0.4em 0 0 0; }

nav input.nicer::placeholder { color: white; }

nav input.nicer:focus, nav input.nicer:active { color: white; background: #fff2; border-bottom: 2px solid white; text-decoration: underline; }

#search-container input.nicer { background: transparent; color: black; border: none; border-bottom: 2px solid black; border-radius: 0px; padding: 0.4em 0 0 0; }

#search-container input.nicer::placeholder { color: black; }

#search-container input.nicer:focus, #search-container input.nicer:active { color: black; background: #fff2; border-bottom: 2px solid black; text-decoration: underline; }

#search-input { margin-right: 1em; }

.main-content { padding-top: 1rem; }

.table td { vertical-align: middle; }

.table .fa { font-size: 20px; }

.training-network-map { width: 90%; margin: 0 auto; }

.faqs h4.faq-area { color: #888888; }

.faqs h4.faq-area i { font-size: 0.5em; }

.faqs h3 a { color: black; }

.tutorial > h1:first-child { margin-bottom: 1rem; }

.tutorial table:not(.contributions) { display: block; width: 100%; overflow-x: auto; max-width: 100%; margin-bottom: 1rem; }

.tutorial table:not(.contributions) th, .tutorial table:not(.contributions) td { padding: .75rem; vertical-align: top; border-top: 1px solid #eceeef; }

.tutorial table:not(.contributions) thead th { vertical-align: bottom; border-bottom: 2px solid #eceeef; }

.tutorial div.container blockquote ul, .tutorial div.container blockquote p, .tutorial div.container blockquote li > p:last-child { margin-bottom: 0.5rem; }

.tutorial div.container blockquote p:last-child { margin-bottom: 0; }

.tutorial .google-form { width: 100%; height: 1100px; border: 0; }

blockquote ul, blockquote ol, blockquote > blockquote, blockquote li p { margin-bottom: 0px; }

blockquote img { display: block; }

blockquote.agenda { margin-top: 4rem; padding: 0.6rem 0.89rem 1rem; border: 1px solid #86D486; box-shadow: 3px 3px #86D486; }

blockquote.agenda > h3, blockquote.agenda > .box-title { font-size: 18px; margin-left: -1rem; margin-right: -1rem; margin-top: -3.30rem; padding-top: 0.5rem; padding-bottom: 0.5rem; padding-left: 1rem; padding-right: 1rem; background-color: #86D486; color: #292b2c; vertical-align: 1em; float: left; border: none; border-top-left-radius: 8px; border-top-right-radius: 8px; }

blockquote.agenda > h3 .fa, blockquote.agenda > .box-title .fa { padding-right: 0.2rem; }

blockquote.agenda > h3 button, blockquote.agenda > .box-title button { background: transparent; border: none; cursor: pointer; }

blockquote.tip { margin-top: 4rem; padding: 0.6rem 0.89rem 1rem; border: 1px solid #FFE19E; box-shadow: 3px 3px #FFE19E; }

blockquote.tip > h3, blockquote.tip > .box-title { font-size: 18px; margin-left: -1rem; margin-right: -1rem; margin-top: -3.30rem; padding-top: 0.5rem; padding-bottom: 0.5rem; padding-left: 1rem; padding-right: 1rem; background-color: #FFE19E; color: #292b2c; vertical-align: 1em; float: left; border: none; border-top-left-radius: 8px; border-top-right-radius: 8px; }

blockquote.tip > h3 .fa, blockquote.tip > .box-title .fa { padding-right: 0.2rem; }

blockquote.tip > h3 button, blockquote.tip > .box-title button { background: transparent; border: none; cursor: pointer; }

blockquote.question { margin-top: 4rem; padding: 0.6rem 0.89rem 1rem; border: 1px solid #8A9AD0; box-shadow: 3px 3px #8A9AD0; }

blockquote.question > h3, blockquote.question > .box-title { font-size: 18px; margin-left: -1rem; margin-right: -1rem; margin-top: -3.30rem; padding-top: 0.5rem; padding-bottom: 0.5rem; padding-left: 1rem; padding-right: 1rem; background-color: #8A9AD0; color: #292b2c; vertical-align: 1em; float: left; border: none; border-top-left-radius: 8px; border-top-right-radius: 8px; }

blockquote.question > h3 .fa, blockquote.question > .box-title .fa { padding-right: 0.2rem; }

blockquote.question > h3 button, blockquote.question > .box-title button { background: transparent; border: none; cursor: pointer; }

blockquote.code-in { margin-top: 4rem; padding: 0.6rem 0.89rem 1rem; border: 1px solid #86D486; box-shadow: 3px 3px #86D486; }

blockquote.code-in > h3, blockquote.code-in > .box-title { font-size: 18px; margin-left: -1rem; margin-right: -1rem; margin-top: -3.30rem; padding-top: 0.5rem; padding-bottom: 0.5rem; padding-left: 1rem; padding-right: 1rem; background-color: #86D486; color: #292b2c; vertical-align: 1em; float: left; border: none; border-top-left-radius: 8px; border-top-right-radius: 8px; }

blockquote.code-in > h3 .fa, blockquote.code-in > .box-title .fa { padding-right: 0.2rem; }

blockquote.code-in > h3 button, blockquote.code-in > .box-title button { background: transparent; border: none; cursor: pointer; }

blockquote.code-out { margin-top: 4rem; padding: 0.6rem 0.89rem 1rem; border: 1px solid #fb99d0; box-shadow: 3px 3px #fb99d0; }

blockquote.code-out > h3, blockquote.code-out > .box-title { font-size: 18px; margin-left: -1rem; margin-right: -1rem; margin-top: -3.30rem; padding-top: 0.5rem; padding-bottom: 0.5rem; padding-left: 1rem; padding-right: 1rem; background-color: #fb99d0; color: #292b2c; vertical-align: 1em; float: left; border: none; border-top-left-radius: 8px; border-top-right-radius: 8px; }

blockquote.code-out > h3 .fa, blockquote.code-out > .box-title .fa { padding-right: 0.2rem; }

blockquote.code-out > h3 button, blockquote.code-out > .box-title button { background: transparent; border: none; cursor: pointer; }

blockquote.code-max-300 pre { max-height: 300px; }

blockquote.solution { margin-top: 4rem; padding: 0.6rem 0.89rem 1rem; border: 1px solid #B8C3EA; box-shadow: 3px 3px #B8C3EA; }

blockquote.solution > h3, blockquote.solution > .box-title { font-size: 18px; margin-left: -1rem; margin-right: -1rem; margin-top: -3.30rem; padding-top: 0.5rem; padding-bottom: 0.5rem; padding-left: 1rem; padding-right: 1rem; background-color: #B8C3EA; color: #292b2c; vertical-align: 1em; float: left; border: none; border-top-left-radius: 8px; border-top-right-radius: 8px; }

blockquote.solution > h3 .fa, blockquote.solution > .box-title .fa { padding-right: 0.2rem; }

blockquote.solution > h3 button, blockquote.solution > .box-title button { background: transparent; border: none; cursor: pointer; }

blockquote.comment { margin-top: 4rem; padding: 0.6rem 0.89rem 1rem; border: 1px solid #ffecc1; box-shadow: 3px 3px #ffecc1; }

blockquote.comment > h3, blockquote.comment > .box-title { font-size: 18px; margin-left: -1rem; margin-right: -1rem; margin-top: -3.30rem; padding-top: 0.5rem; padding-bottom: 0.5rem; padding-left: 1rem; padding-right: 1rem; background-color: #ffecc1; color: #292b2c; vertical-align: 1em; float: left; border: none; border-top-left-radius: 8px; border-top-right-radius: 8px; }

blockquote.comment > h3 .fa, blockquote.comment > .box-title .fa { padding-right: 0.2rem; }

blockquote.comment > h3 button, blockquote.comment > .box-title button { background: transparent; border: none; cursor: pointer; }

blockquote.hands_on, blockquote.hands-on { margin-top: 4rem; padding: 0.6rem 0.89rem 1rem; border: 1px solid #dfe5f9; box-shadow: 3px 3px #dfe5f9; }

blockquote.hands_on > h3, blockquote.hands_on > .box-title, blockquote.hands-on > h3, blockquote.hands-on > .box-title { font-size: 18px; margin-left: -1rem; margin-right: -1rem; margin-top: -3.30rem; padding-top: 0.5rem; padding-bottom: 0.5rem; padding-left: 1rem; padding-right: 1rem; background-color: #dfe5f9; color: #292b2c; vertical-align: 1em; float: left; border: none; border-top-left-radius: 8px; border-top-right-radius: 8px; }

blockquote.hands_on > h3 .fa, blockquote.hands_on > .box-title .fa, blockquote.hands-on > h3 .fa, blockquote.hands-on > .box-title .fa { padding-right: 0.2rem; }

blockquote.hands_on > h3 button, blockquote.hands_on > .box-title button, blockquote.hands-on > h3 button, blockquote.hands-on > .box-title button { background: transparent; border: none; cursor: pointer; }

blockquote.key_points { margin-top: 4rem; padding: 0.6rem 0.89rem 1rem; border: 1px solid #FFA1A1; box-shadow: 3px 3px #FFA1A1; }

blockquote.key_points > h3, blockquote.key_points > .box-title { font-size: 18px; margin-left: -1rem; margin-right: -1rem; margin-top: -3.30rem; padding-top: 0.5rem; padding-bottom: 0.5rem; padding-left: 1rem; padding-right: 1rem; background-color: #FFA1A1; color: #292b2c; vertical-align: 1em; float: left; border: none; border-top-left-radius: 8px; border-top-right-radius: 8px; }

blockquote.key_points > h3 .fa, blockquote.key_points > .box-title .fa { padding-right: 0.2rem; }

blockquote.key_points > h3 button, blockquote.key_points > .box-title button { background: transparent; border: none; cursor: pointer; }

blockquote.overview { margin-top: 4rem; padding: 0.6rem 0.89rem 1rem; border: 1px solid #8A9AD0; box-shadow: 3px 3px #8A9AD0; margin-top: 5rem; }

blockquote.overview > h3, blockquote.overview > .box-title { font-size: 18px; margin-left: -1rem; margin-right: -1rem; margin-top: -3.30rem; padding-top: 0.5rem; padding-bottom: 0.5rem; padding-left: 1rem; padding-right: 1rem; background-color: #8A9AD0; color: #292b2c; vertical-align: 1em; float: left; border: none; border-top-left-radius: 8px; border-top-right-radius: 8px; }

blockquote.overview > h3 .fa, blockquote.overview > .box-title .fa { padding-right: 0.2rem; }

blockquote.overview > h3 button, blockquote.overview > .box-title button { background: transparent; border: none; cursor: pointer; }

blockquote.warning { margin-top: 4rem; padding: 0.6rem 0.89rem 1rem; border: 1px solid #de8875; box-shadow: 3px 3px #de8875; }

blockquote.warning > h3, blockquote.warning > .box-title { font-size: 18px; margin-left: -1rem; margin-right: -1rem; margin-top: -3.30rem; padding-top: 0.5rem; padding-bottom: 0.5rem; padding-left: 1rem; padding-right: 1rem; background-color: #de8875; color: #292b2c; vertical-align: 1em; float: left; border: none; border-top-left-radius: 8px; border-top-right-radius: 8px; }

blockquote.warning > h3 .fa, blockquote.warning > .box-title .fa { padding-right: 0.2rem; }

blockquote.warning > h3 button, blockquote.warning > .box-title button { background: transparent; border: none; cursor: pointer; }

blockquote.details { margin-top: 4rem; padding: 0.6rem 0.89rem 1rem; border: 1px solid #ddd; box-shadow: 3px 3px #ddd; }

blockquote.details > h3, blockquote.details > .box-title { font-size: 18px; margin-left: -1rem; margin-right: -1rem; margin-top: -3.30rem; padding-top: 0.5rem; padding-bottom: 0.5rem; padding-left: 1rem; padding-right: 1rem; background-color: #ddd; color: #292b2c; vertical-align: 1em; float: left; border: none; border-top-left-radius: 8px; border-top-right-radius: 8px; }

blockquote.details > h3 .fa, blockquote.details > .box-title .fa { padding-right: 0.2rem; }

blockquote.details > h3 button, blockquote.details > .box-title button { background: transparent; border: none; cursor: pointer; }

blockquote.quote { border-left: 5px solid #eee; padding-left: 1em; }

blockquote.spoken { display: none; }

blockquote.hidden { display: none; }

blockquote.matrix table { width: unset; margin-left: auto; margin-right: auto; margin-top: 20pt; }

blockquote.matrix table thead th { border-bottom: 2px solid #777; text-align: left; }

blockquote.matrix table td:first-child, blockquote.matrix table th:first-child { border-right: 2px solid #777; font-weight: bold; text-align: left; }

blockquote.matrix table td:not(first-child), blockquote.matrix table th:not(first-child) { text-align: center; border-right: 1px solid #ddd; border-left: 1px solid #ddd; }

blockquote.feedback { margin-top: 4rem; padding: 0.6rem 0.89rem 1rem; border: 1px solid #86D486; box-shadow: 3px 3px #86D486; }

blockquote.feedback > h3, blockquote.feedback > .box-title { font-size: 18px; margin-left: -1rem; margin-right: -1rem; margin-top: -3.30rem; padding-top: 0.5rem; padding-bottom: 0.5rem; padding-left: 1rem; padding-right: 1rem; background-color: #86D486; color: #292b2c; vertical-align: 1em; float: left; border: none; border-top-left-radius: 8px; border-top-right-radius: 8px; }

blockquote.feedback > h3 .fa, blockquote.feedback > .box-title .fa { padding-right: 0.2rem; }

blockquote.feedback > h3 button, blockquote.feedback > .box-title button { background: transparent; border: none; cursor: pointer; }

.fold-unfold { margin-left: 1rem; }

.pre-break-lines code { white-space: pre-wrap; }

.newslist { display: flex; flex-wrap: wrap; flex-direction: row; justify-content: space-around; margin-bottom: 2rem; }

.newslist .newsitem { width: 100%; }

.newslist .newscover { width: 100%; object-fit: cover; margin-top: auto; margin-bottom: auto; background-color: white; border-radius: 2rem; padding: 1rem; -webkit-transition: border 0.2s ease-in-out; -o-transition: border 0.2s ease-in-out; transition: border 0.2s ease-in-out; }

.newslist h3 { margin-top: 1rem; }

.newstable div { margin-top: 0px; color: #292b2c !important; font-weight: bold; }

.newstable a.newstitle { font-color: #292b2c; }

.newstable p { margin: 0px; }

.contributors { padding: 0; }

.contributors .carousel-item { align-items: flex-start; flex-wrap: wrap; flex-direction: row; justify-content: space-around; }

.contributors .carousel-item.active, .contributors .carousel-item-next, .contributors .carousel-item-prev { display: flex; }

.contributors .hall-of-fame-hero { margin: 0; width: 18%; }

.contributors .hall-of-fame-hero .name { font-size: 0.7em; }

#feedback-button { width: 100%; cursor: pointer; border: 5px solid transparent; }

#feedback-button:hover { border: 5px solid #0067d6; }

#feedback-button img { margin: 0; max-width: 100%; width: 100%; }

.hall-of-fame { display: flex; flex-wrap: wrap; flex-direction: row; justify-content: space-around; }

.hall-of-fame-hero { width: 140px; margin: 1rem; text-align: center; }

.hall-of-fame-hero .name { margin-top: 0.5rem; }

.hall-of-fame-hero .contact-items { margin-top: 0.2rem; }

.hall-of-fame-hero .thumbnail { display: inline-block; }

.hall-of-fame-hero .thumbnail img { background-color: white; border-radius: 20px; border: 1px solid #ddd; padding: 5px; width: 100%; -webkit-transition: border 0.2s ease-in-out; -o-transition: border 0.2s ease-in-out; transition: border 0.2s ease-in-out; }

.hall-of-fame-hero a.thumbnail:hover img, .hall-of-fame-hero a.thumbnail:focus img, .hall-of-fame-hero a.thumbnail:active img { border-color: #2c3143; }

@media (max-width: 575px) { .navbar > .container { position: initial; margin-left: initial; margin-right: initial; } }

@media (max-width: 768px) { .navbar .dropdown-menu { background-color: transparent; border-color: transparent; } .navbar .dropdown-item { color: rgba(255, 255, 255, 0.5); } .navbar .dropdown-item:hover, .navbar .dropdown-item:focus, .navbar .dropdown-item:active { background-color: transparent; color: rgba(255, 255, 255, 0.75); } .navbar .nav-item, .navbar .dropdown-item { overflow: hidden; white-space: nowrap; text-overflow: ellipsis; } }

@media (min-width: 768px) { .tutorial table, .table-responsive { display: table; } .citation { text-align: justify; } }

@media (max-width: 1200px) { .navbar-nav i { display: none; } }

.label { display: inline; padding: .2em .6em .3em; font-size: 75%; font-weight: bold; line-height: 1; color: #fff; text-align: center; white-space: nowrap; vertical-align: baseline; border-radius: .25em; cursor: pointer; }

.label-default { background-color: #999999; }

.level { color: lightgray; margin-right: 0.5em; }

.level .fa { font-size: 0.9em; }

.level.introductory i:first-of-type { color: green; }

.level.intermediate i:not(:last-of-type) { color: orange; }

.level.advanced { color: red; }

.visually-hidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* WCAG Contrast. These aim to pass AA level for normal sized text. */
a { color: #0067d6; }

a:hover, a:focus, a:active { color: #004590; text-decoration: underline; }

.text-muted { color: #555 !important; }

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover { text-decoration: underline; }

.navbar-dark .navbar-nav .nav-link { color: white; }

.gitter-open-chat-button { background-color: #2c3143 !important; }

code { color: #8b3035; }

nav[data-toggle='toc'] { margin-top: 30px; margin-bottom: 30px; }

nav[data-toggle='toc'] .nav li a { padding-left: 0px; }

nav[data-toggle='toc'] .nav li a:hover, nav[data-toggle='toc'] .nav li a:focus, nav[data-toggle='toc'] .nav li a:active { padding-left: 0px; color: #004590; border-left: none; }

nav[data-toggle='toc'] .nav li .active { padding-left: 0px; color: #004590; border-left: none; }

nav[data-toggle='toc'] .nav .nav li a, nav[data-toggle='toc'] .nav .nav li .active { padding-left: 10px; }

nav[data-toggle='toc'] .nav .nav li a:hover, nav[data-toggle='toc'] .nav .nav li a:focus, nav[data-toggle='toc'] .nav .nav li a:active, nav[data-toggle='toc'] .nav .nav li .active:hover, nav[data-toggle='toc'] .nav .nav li .active:focus, nav[data-toggle='toc'] .nav .nav li .active:active { padding-left: 10px; }

nav[data-toggle='toc'] .nav .nav li:hover, nav[data-toggle='toc'] .nav .nav li:focus, nav[data-toggle='toc'] .nav .nav li:active { padding-left: 10px; }

nav[data-toggle='toc'] .nav-link.active:hover { padding-left: 0px; color: #004590; border-left: none; }

.col-sm-2 { padding-left: 0px; }

/* small screens */
@media screen and (max-width: 768px) { nav[data-toggle='toc'] { display: none !important; } .col-sm-10 { max-width: 100%; } }

.contributors-line { color: #555; font-size: 1.2em; display: flex; flex-wrap: wrap; align-content: baseline; line-height: 1.5em; }

.contributors-line .contributor-badge img { height: 1.5em; line-height: 1.5em; }

.contributors-line .contributor-badge i { height: 1.5em; line-height: 1.5em; margin-left: 0.5em; margin-right: 0.5em; }

.contributor-badge { /* prevent breaking across lines */ white-space: nowrap; display: inline-flex; flex-direction: row; align-items: center; border-radius: 1em; border: 1px solid #b7daff; padding-right: 0.5em; margin: 0.2em; line-height: 1em; flex-shrink: 0; }

.contributor-badge img { height: 1em; border-radius: 50%; margin: 0 0.25em 0 0; }

table.contributions tr td:nth-child(1) { display: flex; flex-wrap: wrap; }

div.highlight { position: relative; }

div.highlight .btn { -webkit-transition: opacity .3s ease-in-out; -o-transition: opacity .3s ease-in-out; transition: opacity .3s ease-in-out; opacity: 0; padding: 2px 6px; position: absolute; right: 4px; top: 4px; font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif; }

div.highlight:hover .btn, div.highlight .btn:focus { opacity: 1; }

#tutorial_list h2, #tutorial_list h3 { display: inline; }

#tutorial_list .search_box { float: right; }

#tutorial_list .search_box i { padding-right: .5rem; }

#tutorial_list #clear_search { cursor: pointer; }

#tutorial_list .topic-icon { padding: .5rem .75rem; }

ul.supporting_material .btn { padding-left: 0px; padding-top: 0px; padding-bottom: 0px; padding-right: 10px; font-size: 15px; }

.alert-heading { margin-top: 1rem; }

@media (min-width: 1200px) { .code-2col { display: flex; flex-direction: row; } .code-2col .code-in { width: 47.5%; } .code-2col .code-out { margin-left: 5%; width: 47.5%; } }

.card { margin-top: 1em; }

span.tool { border: 1px solid #999; padding: 2px; border-radius: 5px; }

span.tool:hover { border: 1px solid blue; }

span.tool.galaxy-proxy-active { cursor: pointer; color: #fff; background-color: #007bff; border-color: #007bff; padding: 0.2em 0.5em; }

span.tool.galaxy-proxy-active:hover { background-color: #0067d6; border-color: #0067d6; }

@media (max-width: 992px) { .container { max-width: unset; } }

video::cue { background: #000000cc; color: white; }

#playlist { display: flex; flex-direction: row; overflow: auto; }

#playlist.vertical { flex-direction: column; }

#playlist .pl-item a { display: flex; flex-direction: column; }

#playlist .pl-item a .title { font-weight: 700; }

#playlist .pl-item a .topic { font-style: italic; }

#playlist .pl-item a .cover { width: 200px; }

#transcript { height: 400px; overflow-y: scroll; }

#transcript tr td:nth-child(1) { padding-right: 1em; color: #555; }

abbr { text-decoration: underline dotted; cursor: help; font-variant: none; }

.fdbk .card .card-title { font-size: 2rem; text-align: center; }

.fdbk .accordion { margin-top: 20px; }

.fdbk .accordion .accordion-card { margin-top: 0px; }

.fdbk .accordion .accordion-card .mb-0 { margin-top: 0px; }

div.contributors-line dl { display: flex; flex-wrap: wrap; margin-bottom: 0; }

div.contributors-line dt { width: 8em; text-align: right; font-weight: initial; }

div.contributors-line dd { margin-left: auto; width: calc(100% - 9em); display: flex; }

a.btn { display: inline-flex; align-items: center; white-space: normal; }

a.btn div { width: 100%; font-size: 1rem; }

.btn-red { background-color: #bf4646; color: white; }

.btn-orange { background-color: #de8875; color: black; }

.btn-yellow { background-color: #FFE19E; color: black; }

.btn-green { background-color: #86D486; color: black; }

.btn-blue { background-color: #dfe5f9; color: black; }

.btn-purple { background-color: #8A9AD0; color: white; }

.btn-pink { background-color: #FFA1A1; color: black; }

.btn-square-small { width: 50px !important; max-width: 100% !important; max-height: 100% !important; height: 50px !important; text-align: center; padding: 5px; font-size: 0.75rem; margin: 5px; }

.btn-square-medium { width: 100px !important; max-width: 100% !important; max-height: 100% !important; height: 100px !important; text-align: center; padding: 5px; font-size: 1rem; margin: 5px; }

.btn-square-large { width: 150px !important; max-width: 100% !important; max-height: 100% !important; height: 150px !important; text-align: center; padding: 5px; font-size: 1.25rem; margin: 5px; }

.btn-square-extralarge { width: 200px !important; max-width: 100% !important; max-height: 100% !important; height: 200px !important; text-align: center; padding: 5px; font-size: 1.5rem; margin: 5px; }

/* CYOA */
.gtn-cyoa input[type="radio"] { display: none; }

.gtn-cyoa input[type="radio"]:checked + label { background-color: #8A9AD0; }

.gtn-cyoa .btn-secondary { color: #292b2c; background-color: #dfe5f9; border-color: transparent; }

.gtn-cyoa .btn-secondary:hover { background-color: #B8C3EA; }

.gtn-cyoa label { padding: 1em; display: inline-block; }

.gtn-cyoa-hidden { height: 0px; visibility: hidden; display: none; padding: 0rem; }

/* Maybe something like this for the case where they do not select anything? .openstack { border-left: 2px solid red; } .digitalocean { border-left: 2px solid blue; } */
ul.text-list, ol.text-list { list-style: none; padding-left: 0; }

ul.text-list li, ol.text-list li { display: inline; }

.gtn-card { border-radius: 10px; }

.gtn-card .card-title { font-size: 500%; font-weight: 900; margin-bottom: 0; text-align: center; }

.gtn-card .card-text { text-align: center; font-size: 150%; padding: 0.3em; }

.dropdown-item:focus-visible { outline: red 3px solid; }

a[target="_blank"]::after { content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==) " (opens in new tab)"; display: inline-block; margin-left: 0.2em; height: 1em; }

.tutorials-list { /* Big */ /* Skinny */ }

@media (min-width: 768px) { .tutorials-list .duplicate { display: none; } }

@media (max-width: 767px) { .tutorials-list table.table.table-responsive { display: inline-table; } .tutorials-list tr th:not(:first-child) { display: none; } .tutorials-list tr td:not(:first-child) { display: none; } .tutorials-list r .duplicate { display: unset; } }

/*# sourceMappingURL=main.css.map */