---
---

$font-size: 15px;
$tutorial-box-spacing: 1rem;

// palette
$white: #fff;
$gray: #555; // WCAG2 AA
$light-gray: #ddd;
$text-color: #292b2c;

$red: #f00000;
$orange: #f06d00;
$yellow: #be9900;
$green: #339e3a;
$blue: #009090;
$dark-blue: #2c3143;
$light-blue: #5daadd;
$purple: #882d60;
$mid-gray: #9d9d9d;

// colors general
$bg-color: $dark-blue;
$menu-color: $dark-blue;

// colors tutorial boxes
$overview-color: #8A9AD0;
$agenda-color: #86D486;
$keypoints-color: #FFA1A1;
$tip-color: #FFE19E;
$warning-color: #de8875;
$comment-color: #ffecc1;
$handson-color: #dfe5f9;
$question-color: #8A9AD0;
$solution-color: #B8C3EA;
$details-color: $light-gray;
$feedback-color: #86D486;
$code-color: #86D486;
$code-out-color: #fb99d0;


$hyperlink: #0067d6;

@mixin tutorial-box ($bg-color, $color: rgba(255,255,255,.75)) {
    margin-top: 3 * $tutorial-box-spacing;
    margin-bottom: 2 * $tutorial-box-spacing;

    padding: $tutorial-box-spacing $tutorial-box-spacing - 0.11rem $tutorial-box-spacing;
    border: 1px solid $bg-color;
    box-shadow: 3px 3px $bg-color;
    & > h3 {
        font-size: $font-size + 3;
        margin-left: -$tutorial-box-spacing;
        margin-right: -$tutorial-box-spacing;
        margin-top: -3.30rem;
        padding-top: $tutorial-box-spacing / 2;
        padding-bottom: $tutorial-box-spacing / 2;
        padding-left: $tutorial-box-spacing;
        padding-right: $tutorial-box-spacing;
        background-color: $bg-color;
        color: $color;
        vertical-align: 1em;
        float: left;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;

        .fa {
            padding-right: $tutorial-box-spacing / 5;
        }
    }
}

@mixin matrix-table (){
  table {
      width:unset;
      margin-left:auto;
      margin-right:auto;
      margin-top: 20pt;
  }

  table thead th {
      border-bottom: 2px solid #777;
      text-align: left;
  }

  table td:first-child, table th:first-child  {
      border-right: 2px solid #777;
      font-weight: bold;
      text-align: left;
  }

  table td:not(first-child), table th:not(first-child) {
      text-align: center;
      border-right: 1px solid #ddd;
      border-left: 1px solid #ddd;
  }
}


body {
    font-size: $font-size;
    word-wrap: break-word;
    position: relative;
}


@import "assets/css/syntax_highlighting-dark.scss";

div#theme-selector,div#lang-selector,div#archive-selector {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 200px;
	justify-content: flex-start;
    margin-left: 1em;

	label.btn,a.btn {
		margin: 0.1em;
	}
}


@mixin input-nicer($color) {
	background: transparent;
	color: $color;
	border: none;
	border-bottom: 2px solid $color;
	border-radius: 0px;
	padding: 0.4em 0 0 0;

	&::placeholder {
		color: $color;
	}

	&:focus,
	&:active {
		color: $color;
		background: #fff2;
		border-bottom: 2px solid $color;
		text-decoration: underline;
	}
}

body.theme-night {
    color: #eee;
    background-color: #444444;
    @include syntax-dark;

    .contributors-line{
        color: #eee;
    }
	img {
		background: #aaa;
	}

	.navbar-brand {
		img{
			background: none;
		}
	}
    .navbar {
        background-color: #424a66 !important;
    }

	div[data-toggle="toc"] .nav > li > a {
		color: #ccc;
	}
	div[data-toggle="toc"] .nav li .active {
		color: #eee;
	}

    a {
		color: #7bf;
	}

    :not(a) > code {
        background-color: #333333;
        color: #ffa0a0;
    }

	.card {
		background-color: transparent;
		border: 1px solid rgba(255, 255, 255, .125);
	}

	#search-container input.nicer {
		@include input-nicer(white);
	}

}

body.theme-midnight {
    color: #eee;
    background-color: #222;
    @include syntax-dark;

    .contributors-line{
        color: #eee;
    }
	img {
		background: #aaa;
	}

	.navbar-brand {
		img{
			background: none;
		}
	}
    .navbar {
        background-color: #424a66 !important;
    }

	div[data-toggle="toc"] .nav > li > a {
		color: #ccc;
	}
	div[data-toggle="toc"] .nav li .active {
		color: #eee;
	}

    a {
		color: #7bf;
	}

    :not(a) > code {
        background-color: #333333;
        color: #ffa0a0;
    }

	.card {
		background-color: transparent;
		border: 1px solid rgba(255, 255, 255, .125);
	}

	#search-container input.nicer {
		@include input-nicer(white);
	}

}

body.theme-halloween {
    color: #eee;
    background-color: #222;
    @include syntax-dark;

    .contributors-line{
        color: #eee;
    }
	img {
		background: #aaa;
	}

	h1, h2, h3, h4 {
		color: orange;
	}

	h1::before {
		content: "🎃 ";
	}
	h1::after {
		content: " 🎃";
	}
	h2::before {
		content: "👻 ";
	}
	h2::after {
		content: " 👻";
	}

	.navbar-brand {
		img{
			background: none;
		}
	}
    .navbar {
        background-color: orange !important;
    }

	div[data-toggle="toc"] .nav > li > a {
		color: #ccc;
	}
	div[data-toggle="toc"] .nav li .active {
		color: #eee;

		&::after {
			content: " 🧙‍♀️";
		}
	}
	.navbar-brand, .navbar-dark .navbar-nav .nav-link {
		color: black;
	}
	.navbar-brand:hover, .navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
		color: black;
		text-decoration: underline;
	}

	a {
		color: $hyperlink;
	}

	:not(a) > code {
		background-color: #333333;
		color: #ffa0a0;
	}

	.card {
		background-color: transparent;
		border: 1px solid rgba(255, 255, 255, .125);
	}

	#search-container input.nicer {
		@include input-nicer(black);
	}

}


body.downunder {
	transform:rotate(180deg);
}

body.theme-straya {
	h1::before {
		content: "🇳🇿 ";
	}
	h1::after {
		content: " 🇳🇿";
	}
	h2::before {
		content: "🦘 ";
	}
	h2::after {
		content: " 🐨";
		display: inline-block;
		transform: scale(-1, 1) translateX(-1rem);
	}
}

body.theme-rainbow {
	h1::before {
		content: "🌈 "
	}
	h1::after {
		content: " 🌈 ";
		display: inline-block;
		transform: scale(-1, 1) translateX(-1rem);
	}
	header {
		nav.navbar {
			background: linear-gradient(to bottom,#e2453c 0,#e2453c 16%,#e07e39 16%,#e07e39 32%,#e5d667 32%,#e5d667 48%,#51b95b 48%,#51b95b 66%,#1e72b7 66%,#1e72b7 86%,#6f5ba7 86%) no-repeat !important;
			padding: 0;
		}

		.navbar-brand {
			background: #3337;
			height: 100%;
			left: 0px;
			padding: .5rem 0rem;
			width: 17rem;

		}
		.navbar-nav > li .nav-link {
			color: white;

		}
		.navbar-nav > li {
			background: #3337;
			height: 100%;
			left: 0px;
			padding: .5rem 0rem;

		}
	}

	.tutorials-list:not(.topic-type-use) table.table-striped {
		tbody tr:nth-of-type(5n+1) td:not(:first-child) { color: red; i{color: red} }
		tbody tr:nth-of-type(5n+2) td:not(:first-child) { color: orange; i{color: orange} }
		tbody tr:nth-of-type(5n+3) td:not(:first-child) { color: green; i{color: green} }
		tbody tr:nth-of-type(5n+4) td:not(:first-child) { color: blue; i{color: blue} }
		tbody tr:nth-of-type(5n+5) td:not(:first-child) { color: purple; i{color: purple} }
	}
	.tutorials-list.topic-type-use table.table-striped {
		tbody tr td:nth-of-type(6n+2) { color: red; i{color: red} }
		tbody tr td:nth-of-type(6n+3) { color: orange; i{color: orange} }
		tbody tr td:nth-of-type(6n+4) { color: green; i{color: green} }
		tbody tr td:nth-of-type(6n+5) { color: blue; i{color: blue} }
		tbody tr td:nth-of-type(6n+6) { color: purple; i{color: purple} }

        thead th:nth-of-type(6n+2) { color: red }
		thead th:nth-of-type(6n+3) { color: orange }
		thead th:nth-of-type(6n+4) { color: green }
		thead th:nth-of-type(6n+5) { color: blue }
		thead th:nth-of-type(6n+6) { color: purple }

	}

}


body.theme-progress {
	h1::before {
		content: "🌈 "
	}
	h1::after {
		content: " 🌈 ";
		display: inline-block;
		transform: scale(-1, 1) translateX(-1rem);
	}
	header {
		nav.navbar {
			background: linear-gradient(to bottom,#100f0d 0,#100f0d 9%,#a05a2e 9%,#a05a2e 18%,#5eb9da 18%,#5eb9da 27%,#f255ad 27%,#f255ad 36%,#f4f6f5 36%,#f4f6f5 45%,#e21b2c 45%,#e21b2c 54%,#f68824 54%,#f68824 63%,#f4ec1a 63%,#f4ec1a 72%,#26824a 72%,#26824a 81%,#244a8e 81%,#244a8e 90%,#433476 90%) no-repeat !important;
			padding: 0;
		}

		.navbar-brand {
			background: #3337;
			height: 100%;
			left: 0px;
			padding: .5rem 0rem;
			width: 17rem;

		}
		.navbar-nav > li .nav-link {
			color: white;

		}
		.navbar-nav > li {
			background: #3337;
			height: 100%;
			left: 0px;
			padding: .5rem 0rem;

		}
	}

    .contributor-hexylena {background: linear-gradient(to right, #cfe4f777 0%, #cfe4f777 20%, #f7d7dc77 20%, #f7d7dc77 40%, white 40%, white 60%, #f7d7dc77 60%, #f7d7dc77 80%, #cfe4f777 80%, #cfe4f777 100%);}

	.tutorials-list:not(.topic-type-use) table.table-striped {
		tbody tr:nth-of-type(5n+1) td:not(:first-child) { color: red; i{color: red} }
		tbody tr:nth-of-type(5n+2) td:not(:first-child) { color: orange; i{color: orange} }
		tbody tr:nth-of-type(5n+3) td:not(:first-child) { color: green; i{color: green} }
		tbody tr:nth-of-type(5n+4) td:not(:first-child) { color: blue; i{color: blue} }
		tbody tr:nth-of-type(5n+5) td:not(:first-child) { color: purple; i{color: purple} }
	}

	.tutorials-list.topic-type-use table.table-striped {
		tbody tr td:nth-of-type(6n+2) { color: red; i{color: red} }
		tbody tr td:nth-of-type(6n+3) { color: orange; i{color: orange} }
		tbody tr td:nth-of-type(6n+4) { color: green; i{color: green} }
		tbody tr td:nth-of-type(6n+5) { color: blue; i{color: blue} }
		tbody tr td:nth-of-type(6n+6) { color: purple; i{color: purple} }

        thead th:nth-of-type(6n+2) { color: red }
		thead th:nth-of-type(6n+3) { color: orange }
		thead th:nth-of-type(6n+4) { color: green }
		thead th:nth-of-type(6n+5) { color: blue }
		thead th:nth-of-type(6n+6) { color: purple }

	}

	p:nth-child(8n+7)::selection {background: hsl(285,76%,57%)}
	p:nth-child(8n+0)::selection {background: hsl(330,76%,57%)}
	p:nth-child(8n+1)::selection {background: hsl(15,76%,57%)}
	p:nth-child(8n+2)::selection {background: hsl(60,76%,57%)}
	p:nth-child(8n+3)::selection {background: hsl(105,76%,57%)}
	p:nth-child(8n+4)::selection {background: hsl(150,76%,57%)}
	p:nth-child(8n+5)::selection {background: hsl(195,76%,57%)}
	p:nth-child(9n+6)::selection {background: hsl(240,76%,57%)}
	li:nth-child(8n+7)::selection {background: hsl(285,76%,57%)}
	li:nth-child(8n+0)::selection {background: hsl(330,76%,57%)}
	li:nth-child(8n+1)::selection {background: hsl(15,76%,57%)}
	li:nth-child(8n+2)::selection {background: hsl(60,76%,57%)}
	li:nth-child(8n+3)::selection {background: hsl(105,76%,57%)}
	li:nth-child(8n+4)::selection {background: hsl(150,76%,57%)}
	li:nth-child(8n+5)::selection {background: hsl(195,76%,57%)}
	li:nth-child(9n+6)::selection {background: hsl(240,76%,57%)}

}

h1,
h2,
h3,
h4 {
    margin-top: 2rem;
}

img {
    max-width: 95%;
    margin: 2.5%;
}

pre {
    padding: 1rem;
    background-color: lighten($gray, 40%);
}

figure {
  text-align: center;
  margin: 1rem 2rem;

  & > img {
      margin-bottom: 1rem;
  }

  .figcaption-prefix {
      font-weight: 600;
  }

  figcaption {
    text-align: justify;
  }
}

footer {
    margin-top: 3em;
    text-align: center;
    color: $gray;
    font-size: $font-size - 2;
}

.follow-up {
    p {
        font-size: 18px;
    }
}

.navbar {
    background-color: $bg-color!important;

    .navbar-collapse {
        justify-content: flex-end;
        align-items: flex-end;
        min-width: 0;
    }

}


nav input.nicer {
	@include input-nicer(white);
}

#search-container input.nicer {
	@include input-nicer(white);
}

#search-input {
	margin-right:1em;
}

.main-content {
    padding-top: 1rem;
}

.table {
    td {
        vertical-align: middle;
    }

    .fa {
        font-size: $font-size + 5;
    }

}

.training-network-map {
    width: 90%;
    margin: 0 auto;
}

.faqs{
  h3.faq-area{
    color: #888888;
    i {
     font-size: 0.5em;
    }
  }
  h2{
   a{
     color: black;
    }
  }
}

.tutorial {
    & > h1:first-child {
        margin-bottom: 1rem;
    }

    table {
        display: block;
        width: 100%;
        overflow-x: auto;
        max-width: 100%;
        margin-bottom: 1rem;

        th,
        td {
            padding: .75rem;
            vertical-align: top;
            border-top: 1px solid #eceeef;
        }

        thead th {
            vertical-align: bottom;
            border-bottom: 2px solid #eceeef;
        }
    }

	div.container blockquote {
		ul, p, li > p:last-child {
			margin-bottom: 0.5rem;
		}
		p:last-child {
			margin-bottom: 0;
		}
	}

    // tutorial boxes
    blockquote {
        ul,
        ol,
        & > blockquote,
        p {
            margin-bottom: 0px;
        }

        img {
            display: block;
        }

        &.agenda {
            @include tutorial-box($agenda-color, $text-color);
        }

        &.tip {
            @include tutorial-box($tip-color, $text-color);
        }

        &.question {
            @include tutorial-box($question-color, $text-color);
        }

        &.code-in {
            @include tutorial-box($code-color, $text-color);
        }

        &.code-out {
            @include tutorial-box($code-out-color, $text-color);
        }

        &.code-max-300 {
            pre {
                max-height: 300px
            }
        }

        &.solution {
            @include tutorial-box($solution-color, $text-color);
        }

        &.comment {
            @include tutorial-box($comment-color, $text-color);
        }

        &.hands_on {
            @include tutorial-box($handson-color, $text-color);
        }

        &.key_points {
            @include tutorial-box($keypoints-color, $text-color);
        }

        &.overview {
            @include tutorial-box($overview-color, $text-color);
            margin-top: 5rem;
        }

        &.warning {
            @include tutorial-box($warning-color, $text-color);
        }

        &.details {
            @include tutorial-box($details-color, $text-color);
        }

        &.quote {
            border-left: 5px solid #eee;
            padding-left: 1em;
        }

        &.spoken {
            display: none;
        }

        &.hidden {
            display: none;
        }

        &.matrix {
            @include matrix-table();
        }

        &.feedback{
            @include tutorial-box($feedback-color, $text-color);
        }
    }

	.pre-break-lines code {
		white-space: pre-wrap;
	}

    .fold-unfold {
        margin-left: $tutorial-box-spacing;
    }

    .google-form {
        width: 100%;
        height: 1100px;
        border: 0;
    }
}

.newslist {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 2rem;

    .newsitem {
      width: 100%;
    }
    .newscover {
        width: 100%;
        object-fit: cover;
        margin-top: auto;
        margin-bottom: auto;
        background-color: white;
        border-radius: 2rem;;
        //border: 1px solid $light-gray;
        padding: 1rem;
        -webkit-transition: border 0.2s ease-in-out;
        -o-transition: border 0.2s ease-in-out;
        transition: border 0.2s ease-in-out;
    }
    h3 {
        margin-top: 1rem;
    }
}


.newstable{
  div {
    margin-top: 0px;
    color: $text-color !important;
    font-weight: bold;
  }
  a.newstitle{
    font-color: $text-color;
  }
  p {
    margin: 0px;
  }
}

.contributors {
    padding: 0;

    .carousel-item {
        align-items: flex-start;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
    }

    .carousel-item.active,
    .carousel-item-next,
    .carousel-item-prev {
        display: flex;
    }

    .hall-of-fame-hero {
        margin: 0;
        width: 18%;

        .name {
            font-size: 0.7em;
        }
    }
}

#feedback-button {
	width: 100%;
	cursor: pointer;
	border: 5px solid transparent;

	&:hover {
		border: 5px solid $hyperlink;
	}

	img {
		margin: 0;
		max-width: 100%;
		width: 100%;
	}
}

.hall-of-fame {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.hall-of-fame-hero {
    width: 140px;
    margin: 1rem;
    text-align: center;

    .name {
        margin-top: 0.5rem;
    }

    .contact-items {
        margin-top: 0.2rem;
    }

    .thumbnail {
        display:inline-block;

        img {
            background-color: white;
            border-radius: 20px;
            border: 1px solid $light-gray;
            padding: 5px;
            width: 100%;
            -webkit-transition: border 0.2s ease-in-out;
            -o-transition: border 0.2s ease-in-out;
            transition: border 0.2s ease-in-out;
        }
    }

    a.thumbnail {
        &:hover,
        &:focus,
        &:active {
            img {
                border-color: $menu-color;
            }
        }
    }
}

// This is a fix to get the hamburger button (menu/navbar) correctly placed on
// small screens.
@media (max-width: 575px) {
    .navbar > .container {
        position: initial;
        margin-left: initial;
        margin-right: initial;
    }
}

// This applies a "dark" style to the dropdown menus on small devices since
// Bootstrap v4 does not do that by default.
@media (max-width: 768px) {
    .navbar {
        .dropdown-menu {
            background-color: transparent;
            border-color: transparent;
        }

        .dropdown-item {
            color: rgba($white, .5);

            &:hover,
            &:focus,
            &:active {
                background-color: transparent;
                color: rgba($white, .75);
            }
        }

        .nav-item,
        .dropdown-item {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }
}

@media (min-width: 768px) {
    .tutorial table,
    .table-responsive {
        display: table;
    }

    .citation {
        text-align: justify;
    }
}

@media (max-width: 1200px) {
    .navbar-nav i {
        display: none;
    }
}

.label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: bold;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
    cursor: pointer;
}

.label-default {
    background-color: #999999;
}

.level {
    color: lightgray;
    margin-right: 0.5em;

    .fa {
        font-size: 0.9em;
    }
    &.introductory i:first-of-type {
        color: green;
    }
    &.intermediate i:not(:last-of-type) {
        color: orange;
    }
    &.advanced {
        color: red;
    }
}



.visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}


/* WCAG Contrast. These aim to pass AA level for normal sized text. */
a {
    color: $hyperlink;

    &:hover,
    &:focus,
    &:active {
        color: #004590;
        text-decoration: underline;
    }
}

// More a11y stuff
.text-muted {
	color: $gray !important;
}
.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
	text-decoration: underline;
}
.navbar-dark .navbar-nav .nav-link {
	color: white;
}
.gitter-open-chat-button {
    background-color: $dark-blue !important;
}

code {
    color: #8b3035;
}


nav[data-toggle='toc'] {
    margin-top: 30px;
    margin-bottom: 30px;
    .nav {
        li {
            a {
                padding-left: 0px;
                &:hover,
                &:focus,
                &:active{
                    padding-left: 0px;
                    color: #004590;
                    border-left: none;
                }
            }

            .active {
                padding-left: 0px;
                color: #004590;
                border-left: none;
            }
        }

        .nav li {
            a,
            .active {
                padding-left: 10px;
                &:hover,
                &:focus,
                &:active{
                    padding-left: 10px;
                }
            }

            &:hover,
            &:focus,
            &:active{
                padding-left: 10px;
            }
        }
    }

    .nav-link.active:hover {
        padding-left: 0px;
        color: #004590;
        border-left: none;
    }
}

.col-sm-2 {
    padding-left: 0px;
}

/* small screens */
@media screen and (max-width: 768px) {
    nav[data-toggle='toc'] {
        display: none !important;
    }

    .col-sm-10 {
        max-width: 100%;
    }
}

.contributors-line {
    color: $gray;
    font-size: 1.2em;

    display: flex;
    flex-wrap: wrap;
    align-content: baseline;
    line-height: 1.5em;

    .contributor-badge {
        img {
            height: 1.5em;
        }
        i {
            margin-left: 0.5em;
            margin-right: 0.5em;
        }
    }

}

.contributor-badge {
    /* prevent breaking across lines */
    white-space: nowrap;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    border-radius: 1em;
    border: 1px solid #b7daff;
    padding-right: 0.5em;
    margin: 0.2em;
    line-height: 1em;

    img {
        height: 1em;
        border-radius: 50%;
        margin: 0 0.25em 0 0;
    }
}


div.highlight {
	position: relative;
}
div.highlight .btn{
	-webkit-transition:opacity .3s ease-in-out;
	-o-transition:opacity .3s ease-in-out;
	transition:opacity .3s ease-in-out;
	opacity:0;
	padding:2px 6px;
	position:absolute;
	right:4px;
	top:4px;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}

div.highlight:hover .btn,div.highlight .btn:focus{
	opacity:1
}

#tutorial_list{
    h2,h3 {
        display: inline;
    }
    .search_box {
        float: right;
        i {padding-right: .5rem;}
    }
    #clear_search{
        cursor: pointer;
    }

    .topic-icon {
        padding: .5rem .75rem;
    }
}

ul.supporting_material{
    .btn{
        padding-left: 0px;
        padding-top: 0px;
        padding-bottom: 0px;
        padding-right: 10px;
        font-size: 15px;
    }
}

.alert-heading {
    margin-top: 1rem;
}

// Code In/Out blocks
@media (min-width: 1200px) {
    .code-2col{
        display: flex;
        flex-direction: row;
        .code-in {
            width: 47.5%;
        }
        .code-out {
            margin-left: 5%;
            width: 47.5%;
        }
    }
}

.card {
  margin-top: 1em;
}

span.tool {
	border: 1px solid #999;
	padding: 2px;
	border-radius: 5px;

	&:hover {
		border: 1px solid blue;

	}

	&.galaxy-proxy-active {
		cursor: pointer;
		color:#fff;
		background-color:#007bff;
		border-color:#007bff;
		padding: 0.2em 0.5em;
	}

	&.galaxy-proxy-active:hover {
		background-color:$hyperlink;
		border-color:$hyperlink;
	}
}


// Don't have such a wide whitespace surrounding on small screen sizes.

@media (max-width:992px) {
 .container {
  max-width: unset;
 }
}

// Videos

video::cue {
  background: #000000cc;
  color: white;
}

#playlist {
    display: flex;
    flex-direction: row;
    overflow: auto;

    &.vertical {
        flex-direction: column;
    }

    .pl-item a {
        display: flex;
        flex-direction: column;

        .title {
            font-weight: 700;
        }
        .topic {
            font-style: italic;
        }

        .cover {
            width: 200px;
        }
    }
}


#transcript {
    height: 400px;
    overflow-y: scroll;

    tr td:nth-child(1) {
        padding-right: 1em;
        color: $gray;
    }
}

abbr {
	// Based on https://developer.mozilla.org/en-US/docs/Web/HTML/Element/abbr#default_styling
	text-decoration: underline dotted;
	cursor: help;
	font-variant: none;
}

.fdbk {
    .card {
        .card-title {
            font-size: 2rem;
            text-align: center;
        }
    }

    .accordion {
        margin-top: 20px;

        .accordion-card {
            margin-top: 0px;

            .mb-0{
                margin-top: 0px;
            }
        }
    }
}

