.overview { padding: 0 1em; margin: 1em 0.2em; border: 2px solid #8A9AD0 }
.agenda { padding: 0 1em; margin: 1em 0.2em; border: 2px solid #86D486 }
.keypoints { padding: 0 1em; margin: 1em 0.2em; border: 2px solid #FFA1A1 }
.tip { padding: 0 1em; margin: 1em 0.2em; border: 2px solid #FFE19E }
.warning { padding: 0 1em; margin: 1em 0.2em; border: 2px solid #de8875 }
.comment { padding: 0 1em; margin: 1em 0.2em; border: 2px solid #ffecc1 }
.hands_on { padding: 0 1em; margin: 1em 0.2em; border: 2px solid #dfe5f9 }
.question { padding: 0 1em; margin: 1em 0.2em; border: 2px solid #8A9AD0 }
.solution { padding: 0 1em; margin: 1em 0.2em; border: 2px solid #B8C3EA }
.details { padding: 0 1em; margin: 1em 0.2em; border: 2px solid #ddd }
.feedback { padding: 0 1em; margin: 1em 0.2em; border: 2px solid #86D486 }
.code-in { padding: 0 1em; margin: 1em 0.2em; border: 2px solid #86D486 }
.code-out { padding: 0 1em; margin: 1em 0.2em; border: 2px solid #fb99d0 }