@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic);
@import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic);

body {
  font-family: 'Droid Serif';
}

h1,
h2,
h3 {
  font-family: 'Yanone Kaffeesatz';
  font-weight: normal;
  text-align: center;
}

h3 {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 100%;
}

.packed h3 {
  position: absolute;
  top: 10px;
  left: 0px;
  width: 100%;
  margin-top: 0px;
}

.hljs-monokai .hljs {
  display: block;
  overflow-x: auto;
  padding: .5em;
  background: #272822;
  color: #ddd;
}


.remark-code,
.remark-inline-code {
  font-family: 'Ubuntu Mono', 'Courier';
  text-align: left;
}

.remark-code {
  font-size: 18px;
}

.remark-code-line {
  min-height: 1em;
}

ul,
ol {
  text-align: left;
}

img {
  max-height: 400px;
  max-width: 700px;
  border: 0 !important;
  box-shadow: none !important;
  background: none !important;
}

.image-05 img {
  width: 5%;
}

.image-10 img {
  width: 10%;
}

.image-15 img {
  width: 15%;
}

.image-25 img {
  width: 25%;
}

.image-40 img {
  width: 40%;
}

.image-50 img {
  width: 50%;
}

.image-60 img {
  width: 60%;
}

.image-75 img {
  width: 75%;
}

.image-90 img {
  width: 100%;
}

.image-100 img {
  width: 100%;
}

.footnote {
  position: absolute;
  bottom: 60px;
  left: 0px;
  width: 100%;
  font-size: 15px;
  color: #444444;
}

.my-footer {
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 50px;
  width: 100%;
}

.my-footer span {
  font-size: 10pt;
  position: absolute;
  left: 15px;
  bottom: 2px;
}

.bottom-info-box {
  position: absolute;
  height: 120px;
  bottom: 0px;
  border: 1px solid grey;
  border-radius: 10px 10px 10px 10px;
  font-size: medium;
  padding-left: 10px;
  padding-right: 10px;
  margin-left:auto;
  margin-right:auto;
  margin-top: 0px;
  margin-bottom: 5px;
  left: 80px;
  transform: scale(0.8);
}

.bottom-info-box p {
   line-height: 5px;
   color: #0016ff99;
}

.my-header {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 25px;
  width: 100%;
}

.my-header span {
  font-size: 10pt;
  position: absolute;
  left: 15px;
  bottom: 2px;
}

.my-header a {
  color: grey;
}

.remark-slide-number {
  font-size: 12px;
}

.top{
  vertical-align: top !important;
}

.red{
  color: red;
}

.green{
  color: green;
}

.orange {
  color: orange;
}

.blue{
  color: blue;
}

a {
  text-decoration: none;
}

td,
th {
  text-align: left;
  padding-left: 5px;
  padding-right: 5px;
  border-bottom: 1px solid #ddd;
}

.left-column5 {
  width: 5%;
  float: left;
}

.right-column95 {
  width: 93%;
  float: right;
}

.left-column95 {
  width: 93%;
  float: left;
}

.right-column5 {
  width: 5%;
  float: right;
}

.left-column50 {
  width: 50%;
  float: left;
}

.right-column50 {
  width: 50%;
  float: right;
}

.left-column70 {
  width: 70%;
  float: left;
}

.right-column30 {
  width: 30%;
  float: right;
}

.left-column30 {
  width: 30%;
  float: left;
}

.right-column70 {
  width: 70%;
  float: right;
}

.reduce90 {
  font-size: 90%;
}

.reduce90 .remark-code {
  font-size: 16px;
}

.reduce70 {
  font-size: 70%;
}

.reduce70 .remark-code {
  font-size: 12px;
}

.reduce50 {
  font-size: 50%;
}

.reduce50 .remark-code {
  font-size: 9px;
}

.enlarge120 {
  font-size: 120%;
}

.enlarge120 .remark-code {
  font-size: 22px;
}

.enlarge150 {
  font-size: 150%;
}

.enlarge150 .remark-code {
  font-size: 30px;
}

.strike {
  text-decoration: line-through;
}

.pull-left {
  float: left;
  width: 47%;
}

.pull-right {
  float: right;
  width: 47%;
}

.pull-right ~ p {
  clear: both;
}

.left {
  text-align: left !important;
}

.requirements li {
  list-style-type: none;
  text-align: left;
}

.me {
  margin: 0 !important;
  text-align: center !important;
}

.me li {
  list-style-type: none;
  text-align: left;
}

.me li a {
  margin-left: 15px;
}

/* for icons */
.visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.contributors-line {
    color: $gray;
    font-size: 1.1em;
    margin-bottom: 5rem;
}

.contributor-badge {
  /* prevent breaking across lines */
  white-space: nowrap;
}

.contributor-badge img {
  height: 0.9em;
  border-radius: 50%;
  padding-right: 0.25em;
  padding-left: 0.25em;
}


.btn {
	display: inline-block;
	font-weight: 400;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border: 1px solid transparent;
	padding: .5rem .75rem;
	font-size: 1rem;
	line-height: 1.25;
	border-radius: .25rem;
	transition: all .15s ease-in-out;
}

.remark-code .btn-light {
	color: #111;
	background-color: #f8f9fa;
	border-color: #f8f9fa;
}

.remark-code {
	position: relative;
}

.remark-code .btn{
	-webkit-transition:opacity .3s ease-in-out;
	-o-transition:opacity .3s ease-in-out;
	transition:opacity .3s ease-in-out;
	opacity:0;
	padding:2px 6px;
	position:absolute;
	right:4px;
	top:4px;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}

.remark-code:hover .btn,.remark-code .btn:focus{
	opacity:1
}


