@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic);

body {
  font-family: 'Droid Serif';
}

body.theme-night div.remark-slide-content {
	background-color: #000 !important;
	color: orange !important;
}

body.theme-night .footnote {
	color: #999;
}

body.theme-night a {
	color: white;
}


body.theme-midnight div.remark-slide-content, body.theme-halloween div.remark-slide-content {
	background-color: #000 !important;
	color: orange !important;
}

body.theme-midnight .footnote, body.theme-halloween .footnote {
	color: #222;
}

body.theme-midnight a, body.theme-halloween a {
	color: white;
}

body div.remark-slide-number {
	color: white;
}

body.theme-rainbow div.my-header {
	background: linear-gradient(to bottom,#e2453c 0,#e2453c 16%,#e07e39 16%,#e07e39 32%,#e5d667 32%,#e5d667 48%,#51b95b 48%,#51b95b 66%,#1e72b7 66%,#1e72b7 86%,#6f5ba7 86%) no-repeat !important;
}
body.theme-rainbow .my-header i {color: black;}

.color-overview { background: #8A9AD0; }
.color-agenda { background: #86D486; }
.color-keypoints { background: #FFA1A1; }
.color-tip { background: #FFE19E; }
.color-warning { background: #de8875; }
.color-comment { background: #ffecc1; }
.color-handson { background: #dfe5f9; }
.color-question { background: #8A9AD0; }
.color-solution { background: #B8C3EA; }
.color-feedback { background: #86D486; }
.color-code { background: #86D486; }
.color-code-out { background: #fb99d0; }
.color-details { background: #ddd; }

