.slide-logo {
	height: 7em;
	position: fixed;
	top: 1em;
	right: 1em;
}

.remark-slide-content h1 { font-size: 3.5rem; font-family: Calibri, sans-serif;}
.remark-slide-content h2 { font-size: 3rem; font-family: Calibri, sans-serif;}
.remark-slide-content h3 { font-size: 2.5rem; font-family: Calibri, sans-serif;}
p {font-size: 1.8rem; font-family: Calibri, sans-serif;}
