img{
    border: 0 !important;
    box-shadow: none !important;
    background: none !important;
}

.requirements li {
    list-style-type: none;
    text-align: left;
}

.me {
    margin: 0 !important;
    text-align: center !important;
}

.me li {
    list-style-type: none;
    text-align: left;
}

.me li a {
    margin-left: 15px;
}
