@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic);
@import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic);

body {
  font-family: 'Droid Serif';
}

h1,
h2,
h3 {
  font-family: 'Yanone Kaffeesatz';
  font-weight: normal;
  text-align: center;
}

h3 {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 100%;
}

.packed h3 {
  position: absolute;
  top: 10px;
  left: 0px;
  width: 100%;
  margin-top: 0px;
}

.hljs-monokai .hljs {
  display: block;
  overflow-x: auto;
  padding: .5em;
  background: #272822;
  color: #ddd;
}

.remark-code,
.remark-inline-code {
  font-family: 'Ubuntu Mono', 'Courier';
  text-align: left;
}

.remark-code {
  font-size: 18px;
}

.remark-code-line {
  min-height: 1em;
}

ul,
ol {
  text-align: left;
}

img {
  max-height: 400px;
  max-width: 700px;
  border: 0 !important;
  box-shadow: none !important;
  background: none !important;
}

.image-05 img {
  width: 5%;
}

.image-10 img {
  width: 10%;
}

.image-15 img {
  width: 15%;
}

.image-25 img {
  width: 25%;
}

.image-50 img {
  width: 50%;
}

.image-75 img {
  width: 75%;
}

.image-90 img {
  width: 100%;
}

.image-100 img {
  width: 100%;
}

.footnote {
  position: absolute;
  bottom: 60px;
  left: 0px;
  width: 100%;
  font-size: 15px;
  color: #444444;
}

.my-footer {
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 50px;
  width: 100%;
}

.my-footer span {
  font-size: 10pt;
  position: absolute;
  left: 15px;
  bottom: 2px;
}

.remark-slide-number {
  font-size: 12px;
}

a {
  text-decoration: none;
}

td,
th {
  text-align: left;
  padding-left: 5px;
  padding-right: 5px;
  border-bottom: 1px solid #ddd;
}

.left-column5 {
  width: 5%;
  float: left;
}

.right-column95 {
  width: 93%;
  float: right;
}

.left-column95 {
  width: 93%;
  float: left;
}

.right-column5 {
  width: 5%;
  float: right;
}

.left-column50 {
  width: 50%;
  float: left;
}

.right-column50 {
  width: 50%;
  float: right;
}

.reduce90 {
  font-size: 90%;
}

.reduce90 .remark-code {
  font-size: 16px;
}

.reduce70 {
  font-size: 70%;
}

.reduce70 .remark-code {
  font-size: 12px;
}

.reduce50 {
  font-size: 50%;
}

.reduce50 .remark-code {
  font-size: 9px;
}

.enlarge120 {
  font-size: 120%;
}

.enlarge120 .remark-code {
  font-size: 22px;
}

.enlarge150 {
  font-size: 150%;
}

.enlarge150 .remark-code {
  font-size: 30px;
}

.strike {
  text-decoration: line-through;
}

.pull-left {
  float: left;
  width: 47%;
}

.pull-right {
  float: right;
  width: 47%;
}

.pull-right ~ p {
  clear: both;
}

.left {
  text-align: left !important;
}

.requirements li {
  list-style-type: none;
  text-align: left;
}

.me {
  margin: 0 !important;
  text-align: center !important;
}

.me li {
  list-style-type: none;
  text-align: left;
}

.me li a {
  margin-left: 15px;
}
