.highlight table td { padding: 5px; }
.highlight table pre { margin: 0; }

.highlight .c, .highlight .ch, .highlight .cd, .highlight .cpf, .highlight .cm, .highlight .c1 {
  color: white;
  font-style: italic;
}

.highlight .cp {
  color: #86c5d2;
  font-weight: bold;
}
.highlight .cs {
  color: #86c5d2;
  font-weight: bold;
  font-style: italic;
}
.highlight .err {
  color: #f8f8f2;
  background-color: #403d3d;
}
.highlight .gi {
  color: #000;
  background-color: #66d9ef;
}
.highlight .gd {
  background-color: #000;
  color: #66d9ef;
  text-decoration: line-through;
}
.highlight .ge {
  color: #f8f8f2;
  font-style: italic;
}
.highlight .gr {
  color: #fb7caa;
}
.highlight .gt {
  color: #fb7caa;
}
.highlight .gh {
  color: #b1b0b0;
}
.highlight .go {
  color: #b1b0b0;
}
.highlight .gp {
  color: #66d9ef;
}
.highlight .gs {
  font-weight: bold;
}
.highlight .gu {
  color: #b1b0b0;
}
.highlight .k, .highlight .kv {
  color: #66d9ef;
  font-weight: bold;
}
.highlight .kc {
  color: #66d9ef;
  font-weight: bold;
}
.highlight .kd {
  color: #66d9ef;
  font-weight: bold;
}
.highlight .kp {
  color: #66d9ef;
  font-weight: bold;
}
.highlight .kr {
  color: #66d9ef;
  font-weight: bold;
}
.highlight .kt {
  color: #66d9ef;
  font-weight: bold;
}
.highlight .nt {
  color: rgb(238, 134, 172);
}
.highlight .kn {
  color: rgb(238, 134, 172);
  font-weight: bold;
}
.highlight .ow {
  color: rgb(238, 134, 172);
  font-weight: bold;
}
.highlight .o {
  color: rgb(238, 134, 172);
  font-weight: bold;
}
.highlight .mf {
  color: #b997ff;
}
.highlight .mh {
  color: #b997ff;
}
.highlight .il {
  color: #b997ff;
}
.highlight .mi {
  color: #b997ff;
}
.highlight .mo {
  color: #b997ff;
}
.highlight .m, .highlight .mb, .highlight .mx {
  color: #b997ff;
}
.highlight .se {
  color: #b997ff;
}
.highlight .sb {
  color: #d7d787;
}
.highlight .sc {
  color: #d7d787;
}
.highlight .sd {
  color: #d7d787;
}
.highlight .s2 {
  color: #d7d787;
}
.highlight .sh {
  color: #d7d787;
}
.highlight .si {
  color: #d7d787;
}
.highlight .sx {
  color: #d7d787;
}
.highlight .sr {
  color: #d7d787;
}
.highlight .s1 {
  color: #d7d787;
}
.highlight .ss {
  color: #d7d787;
}
.highlight .s, .highlight .sa, .highlight .dl {
  color: #d7d787;
}
.highlight .na {
  color: #a6e22e;
}
.highlight .nc {
  color: #a6e22e;
  font-weight: bold;
}
.highlight .nd {
  color: #a6e22e;
  font-weight: bold;
}
.highlight .ne {
  color: #a6e22e;
  font-weight: bold;
}
.highlight .nf, .highlight .fm {
  color: #a6e22e;
  font-weight: bold;
}
.highlight .no {
  color: #66d9ef;
}
.highlight .bp {
  color: #f8f8f2;
}
.highlight .nb {
  color: #f8f8f2;
}
.highlight .ni {
  color: #f8f8f2;
}
.highlight .nn {
  color: #f8f8f2;
}
.highlight .vc {
  color: #f8f8f2;
}
.highlight .vg {
  color: #f8f8f2;
}
.highlight .vi {
  color: #f8f8f2;
}
.highlight .nv, .highlight .vm {
  color: #f8f8f2;
}
.highlight .w {
  color: #f8f8f2;
}
.highlight .nl {
  color: #f8f8f2;
  font-weight: bold;
}
.highlight {
  color: #f8f8f2;
  background-color: #1b1d1e;
}
