@mixin syntax-dark {

.c, .ch, .cd, .cpf, .cm, .c1 {
  color: white;
  font-style: italic;
}

.cp {
  color: #86c5d2;
  font-weight: bold;
}
.cs {
  color: #86c5d2;
  font-weight: bold;
  font-style: italic;
}
.err {
  color: #f8f8f2;
  background-color: #403d3d;
}
.gi {
  color: #000;
  background-color: #66d9ef;
}
.gd {
  background-color: #000;
  color: #66d9ef;
  text-decoration: line-through;
}
.ge {
  color: #f8f8f2;
  font-style: italic;
}

.gr, .gt {
  color: #fb7caa;
}
.gh, .go {
  color: #b1b0b0;
}
.gp {
  color: #66d9ef;
}
.gs {
  font-weight: bold;
}
.gu {
  color: #b1b0b0;
}
.k, .kv, .kc, .kd, .kp, .kr, .kt {
	color: #66d9ef;
	font-weight: bold;
}
.nt {
  color: rgb(238, 134, 172);
}
.kn, .ow, .o {
  color: rgb(238, 134, 172);
  font-weight: bold;
}

.mf, .mh, .il, .mi, .mo, .m, .mb, .mx, .se {
  color: #b997ff;
}
.sb, .sc, .sd, .s2, .sh, .si, .sx, .sr, .s1, .ss, .s, .sa, .dl {
  color: #d7d787;
}
.na {
  color: #a6e22e;
}

.nc, .nd, .ne, .nf, .fm {
  color: #a6e22e;
  font-weight: bold;
}
.no {
  color: #66d9ef;
}


.nb, .ni, .nn, .vc, .vg, .vi, .nv, .vm, .w, .bp {
  color: #f8f8f2;
}

.nl {
  color: #f8f8f2;
  font-weight: bold;
}
}
