body.theme-night {
	--color-background: #444;
	--text-color: #eee;
	--text-color-muted: #ccc;
	--hyperlink: #7bf;
	--hyperlink-hover: #fff;
	--brand-color: #424a66;
	--slide-heading-color: var(--text-color);

	--secondary-color: #222;
	--secondary-color-text: #fff;
}

body.theme-midnight {
	--brand-color: #000;
	--color-background: #000;
	--hyperlink-hover: #fff;
	--hyperlink: #7bf;
	--navbar-border-size: 1px;
	--text-color-muted: #ccc;
	--text-color: #eee;
	--slide-heading-color: #eee;
	--slide-heading-color: var(--text-color);

	--secondary-color: #222;
	--secondary-color-text: var(--text-color);
}

body.theme-blm {
	--brand-color: #462300;
	--color-background: #000;

	nav.navbar, .remark-slide .my-header {
		background: repeating-linear-gradient(135deg, #731 0, #731 2em,#743 2em,#743 4em,#631 4em, #631 6em,#421 6em,#421 8em,#310 8em, #310 10em, #000 10em, #000 12em);
	}
	--navbar-item-hover: #000;

	--hyperlink-hover: #fff;
	--hyperlink: #fba870;
	--navbar-border-size: 1px;
	--text-color-muted: #ccc;
	--text-color: #eee;
	--slide-heading-color: #eee;
	--slide-heading-color: var(--text-color);

	--secondary-color: #222;
	--secondary-color-text: var(--text-color);
}

body.theme-halloween {
	--brand-color: orange;
	--brand-color-contrast: black;
	--color-background: #000;
	--hyperlink-hover: #fff;
	--hyperlink: #7bf;
	--text-color-muted: #ccc;
	--text-color: #eee;
	--slide-heading-color: var(--brand-color);
	--h1-theme-before: " 🎃 ";
	--h1-theme-after: " 🎃 ";
	--h2-theme-before: " 👻 ";
	--h2-theme-after: " 👻 ";

	--secondary-color: #402900;
	--secondary-color-text: var(--text-color);
}

body.theme-progress, body.theme-rainbow {
	--brand-color: black;
	--brand-color-contrast: white;
	--navbar-item-background: #0008;
	--navbar-item-hover: #000f;

	.contributor-hexylena {
		background: repeating-linear-gradient(45deg, #cfe4f777 0em, #cfe4f777 2em, #f7d7dc77 2em, #f7d7dc77 4em, white 4em, white 6em, #f7d7dc77 6em, #f7d7dc77 8em, #cfe4f777 8em, #cfe4f777 10em);
	}

	.tutorials-list:not(.topic-type-use) table.table-striped {
		tbody tr:nth-of-type(5n+1) td:not(:first-child) { color: red; i{color: red} }
		tbody tr:nth-of-type(5n+2) td:not(:first-child) { color: orange; i{color: orange} }
		tbody tr:nth-of-type(5n+3) td:not(:first-child) { color: green; i{color: green} }
		tbody tr:nth-of-type(5n+4) td:not(:first-child) { color: blue; i{color: blue} }
		tbody tr:nth-of-type(5n+5) td:not(:first-child) { color: purple; i{color: purple} }
	}
	.tutorials-list.topic-type-use table.table-striped {
		tbody tr td:nth-of-type(6n+2) { color: red; i{color: red} }
		tbody tr td:nth-of-type(6n+3) { color: orange; i{color: orange} }
		tbody tr td:nth-of-type(6n+4) { color: green; i{color: green} }
		tbody tr td:nth-of-type(6n+5) { color: blue; i{color: blue} }
		tbody tr td:nth-of-type(6n+6) { color: purple; i{color: purple} }

        thead th:nth-of-type(6n+2) { color: red }
		thead th:nth-of-type(6n+3) { color: orange }
		thead th:nth-of-type(6n+4) { color: green }
		thead th:nth-of-type(6n+5) { color: blue }
		thead th:nth-of-type(6n+6) { color: purple }

	}
}

body.theme-rainbow {
	.tutorial {
		--h1-theme-before: " 🌈 ";
		--h1-theme-after: " 🌈 ";

		h1::after {
			display: inline-block;
			transform: scale(-1, 1) translateX(-1rem);
		}
	}

	nav.navbar, .remark-slide .my-header {
		background: linear-gradient(to bottom,#e2453c 0,#e2453c 16%,#e07e39 16%,#e07e39 32%,#e5d667 32%,#e5d667 48%,#51b95b 48%,#51b95b 66%,#1e72b7 66%,#1e72b7 86%,#6f5ba7 86%) no-repeat !important;
	}
}


body.theme-progress {
	.tutorial {
		--h1-theme-before: "🏳️‍🌈";
		--h1-theme-after: "🏳️‍⚧️ ";
	}

	nav.navbar, .remark-slide .my-header {
		background: linear-gradient(120deg,#2c3143 0px 130px,#fdda0f 131px 139px,#fff 140px 148px,#f4b0c9 149px 157px,#7ccee6 158px 166px,#93540c 167px 175px,#000 176px 184px,transparent 185px),linear-gradient(45deg,#2c3143 0px 110px,#2c314300 110px),linear-gradient(180deg,#FE0000 16.66%,#FD8C00 16.66% 33.32%,#FFE500 33.32% 49.98%,#119F0B 49.98% 66.64%,#0644B3 66.64% 83.3%,#C22EDC 83.3%);
	}

	p:nth-child(8n+7)::selection {background: hsl(285,76%,57%)}
	p:nth-child(8n+0)::selection {background: hsl(330,76%,57%)}
	p:nth-child(8n+1)::selection {background: hsl(15,76%,57%)}
	p:nth-child(8n+2)::selection {background: hsl(60,76%,57%)}
	p:nth-child(8n+3)::selection {background: hsl(105,76%,57%)}
	p:nth-child(8n+4)::selection {background: hsl(150,76%,57%)}
	p:nth-child(8n+5)::selection {background: hsl(195,76%,57%)}
	p:nth-child(9n+6)::selection {background: hsl(240,76%,57%)}
	li:nth-child(8n+7)::selection {background: hsl(285,76%,57%)}
	li:nth-child(8n+0)::selection {background: hsl(330,76%,57%)}
	li:nth-child(8n+1)::selection {background: hsl(15,76%,57%)}
	li:nth-child(8n+2)::selection {background: hsl(60,76%,57%)}
	li:nth-child(8n+3)::selection {background: hsl(105,76%,57%)}
	li:nth-child(8n+4)::selection {background: hsl(150,76%,57%)}
	li:nth-child(8n+5)::selection {background: hsl(195,76%,57%)}
	li:nth-child(9n+6)::selection {background: hsl(240,76%,57%)}

}

body.downunder {
	transform:rotate(180deg);
}

body.theme-straya {
	h1::after {
		content: " 🦘";
	}

	h2::after {
		content: " 🐨";
	}

	h3::after {
		content: " 🦈";
	}
}
