body {
  background-color: #fff;
  padding: 50px;
  font-family: -apple-system, BlinkMacSystemFont, "Ubuntu", "Segoe UI", "Roboto", "Oxygen", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  color: #000000;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 20px;
}

p,
ul,
ol,
table,
pre,
dl {
  margin: 0 0 20px;
}

h1,
h2,
h3 {
  line-height: 1.1;
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 25px;
  color: #393939;
}

h3,
h4,
h5,
h6 {
  color: #494949;
}

a {
  color: #39c;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #069;
}

a small {
  font-size: 11px;
  color: #777;
  margin-top: -0.3em;
  display: block;
}

a:hover small,
a:focus small {
  color: #777;
}

.wrapper {
  width: 860px;
  margin: 0 auto;
}

blockquote {
  border-left: 5px solid #eee;
  margin: 0;
  padding: 0 0 0 20px;
  font-style: normal;
  border: 1px solid;
  page-break-inside: avoid;
  font-size: inherit;
  padding-left: 10px;
  padding-top: 0;
  padding-right: 10px;
  padding-bottom: 15px;
  margin-bottom: 20px;
  margin-right: 20px;
  border-radius: 0.25rem;
}

code,
pre {
  font-family: Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal, Consolas, Liberation Mono, DejaVu Sans Mono, Courier New, monospace;
  color: #333;
  font-size: 12px;
}

pre {
  padding: 8px 15px;
  background: #f8f8f8;
  border-radius: 5px;
  border: 1px solid #e5e5e5;
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  text-align: left;
  padding: 5px 10px;
  border-bottom: 1px solid #e5e5e5;
}

dt {
  color: #444;
  font-weight: 700;
}

th {
  color: #444;
}

img {
  max-width: 100%;
}

header,
.main_header {
  width: 270px;
  float: left;
  position: fixed;
  -webkit-font-smoothing: subpixel-antialiased;
}

strong {
  color: #222;
  font-weight: 700;
}

section {
  width: 500px;
  float: right;
  padding-bottom: 50px;
}

small {
  font-size: 11px;
}

hr {
  border: 0;
  background: #e5e5e5;
  height: 1px;
  margin: 0 0 20px;
}

footer {
  width: 270px;
  float: left;
  position: fixed;
  bottom: 50px;
  -webkit-font-smoothing: subpixel-antialiased;
}

.bold {
  font-weight: bold;
}

cite {
  padding-left: 15px;
}

figure {
  text-align: center;
  margin: 1rem 2rem;
}

figure .figcaption-prefix {
  font-weight: 600;
}

.tutorial {
  margin-top: 20px;
  width: 770px;
}

blockquote h3 {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 16px;
  margin-top: 0px;
  margin-left: -10px;
  margin-bottom: 10px;
  padding-left: 10px;
  margin-right: -10px;
  border-bottom: 1px solid;
}

blockquote ol li {
  padding-top: 10px;
}

blockquote ul li {
  padding-top: 0px;
  padding-bottom: 1px;
}

blockquote ul {
  margin-bottom: 10px;
}

blockquote p {
  margin-bottom: 0px;
}

blockquote ol {
  margin-bottom: 10px;
}

.table.no-border tr td,
.table.no-border tr th {
  border-width: 0;
}

.overview {
  border-color: #adc17c;
}

.overview h3 {
  background: #adc17c;
  border-color: #adc17c;
}

.agenda {
  border-color: #d18ccc;
}

.agenda h3 {
  background: #d18ccc;
  border-color: #d18ccc;
}

.key_points {
  border-color: #e27761;
}

.key_points h3 {
  background: #e27761;
  border-color: #e27761;
}

.hands_on {
  border-color: #ce9268;
}

.hands_on h3 {
  background: #ce9268;
  border-color: #ce9268;
}

.tip {
  border-color: #bbb6b2;
}

.tip h3 {
  background: #bbb6b2;
  border-color: #bbb6b2;
}

.question {
  border-color: #6dc9b7;
}

.question h3 {
  background: #6dc9b7;
  border-color: #6dc9b7;
}

.comment {
  border-color: #bbb6b2;
}

.comment h3 {
  background: transparent;
  border-color: #bbb6b2;
}

summary::-webkit-details-marker {
  color: #bbbbbb;
}

summary:focus {
  outline-style: none;
}

details {
  color: #bbbbbb;
  margin-top: 10px;
  margin-bottom: 10px;
}

.name-holder {
  margin-left: 10px;
}

.navbar {
  margin-bottom: 20px;
}

.navbar .navbar-brand {
  padding: 0px;
  margin-right: 30px;
}

.navbar .navbar-brand img {
  height: 51px;
}

.navbar-right li {
  font-size: 15px;
}

#site-title {
  line-height: 50px;
  font-weight: bold;
}

@media (max-width: 992px) {
  #main-menu li {
    font-size: 15px;
  }

  #main-menu li a {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media print, screen and (max-width: 960px) {
  div.wrapper {
    width: auto;
    margin: 0;
  }

  header,
  section,
  footer {
    float: none;
    position: static;
    width: auto;
  }

  header {
    padding-right: 320px;
  }

  section {
    border: 1px solid #e5e5e5;
    border-width: 1px 0;
    padding: 20px 0;
    margin: 0 0 20px;
  }

  header a small {
    display: inline;
  }

  header ul {
    position: absolute;
    right: 50px;
    top: 52px;
  }
}

@media print, screen and (max-width: 720px) {
  body {
    word-wrap: break-word;
  }

  header {
    padding: 0;
  }

  header ul,
  header p.view {
    position: static;
  }

  pre,
  code {
    word-wrap: normal;
  }
}

@media print, screen and (max-width: 480px) {
  body {
    padding: 15px;
  }

  header ul {
    width: 99%;
  }

  header li,
  header ul li + li + li {
    width: 33%;
  }
}

@media print {
  body {
    padding: 0.4in;
    font-size: 12pt;
    color: #444;
  }
}
