.tutorial {
  width:770px;
}


blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
    font-size: inherit;
    border-left: 5px solid #eee;

    padding-left: 10px;
    padding-top: 0;
    padding-right: 10px;
    padding-bottom: 0px;
    border: 1px solid;
    margin-bottom: 20px;

}

blockquote h3{
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 16px;
    margin-top: 0px;
    margin-left: -10px;
    padding-left: 20px;
    margin-right: -10px;

    border-bottom: 1px solid;
}

.overview{
    border-color: #adc17c;
}

.overview h3 {
    background: #adc17c;
    border-color: #adc17c;
}

.key_points{
    border-color: #e27761;
}

.key_points h3 {
    background: #e27761;
    border-color: #e27761;
}

.hands_on{
    border-color: #ce9268;
}

.hands_on h3 {
    background: #ce9268;
    border-color: #ce9268;
}

.tip{
    border-color: #bbb6b2;
}

.tip h3 {
    background: #bbb6b2;
    border-color: #bbb6b2;
}

.question{
    border-color: #6dc9b7;
}

.question h3 {
    background: #6dc9b7;
    border-color: #6dc9b7;
}

.comment{
    border-color: #bbb6b2;
}

.comment h3 {
    background: transparent;
    border-color: #bbb6b2;
}

ul.tutorial-header{
    list-style-type: none;
    margin-left: 35px;
    margin-bottom: 10px;
    padding-left: 0;
    padding-right: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
}

ul.tutorial-header li {
    float: left;
    border-right: 1px solid #bbb;

    padding-left: 16px;
    padding-right: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
}

ul.tutorial-header li a {
    display: block;
    color: #666;
    text-align: center;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
ul.tutorial-header li a:hover {
    text-color: #111;
}

ul.tutorial-header li:last-child {
    border-right: none;
}
