.tutorial {
    margin-top: 20px;
    width:770px;
    
}

body {
    color: #000000;
}


blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
    font-size: inherit;
    border-left: 5px solid #eee;

    padding-left: 10px;
    padding-top: 0;
    padding-right: 10px;
    padding-bottom: 15px;
    border: 1px solid;
    margin-bottom: 20px;
    margin-right: 20px;
    border-radius: 0.25rem;
    font-style: normal;
}

blockquote h3{
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 16px;
    margin-top: 0px;
    margin-left: -10px;
    padding-left: 10px;
    margin-right: -10px;
    border-bottom: 1px solid;
}

.overview{
    border-color: #adc17c;
}

.overview h3 {
    background: #adc17c;
    border-color: #adc17c;
}

.agenda{
    border-color: #d18ccc;
}

.agenda h3 {
    background: #d18ccc;
    border-color: #d18ccc;
}

.key_points{
    border-color: #e27761;
}

.key_points h3 {
    background: #e27761;
    border-color: #e27761;
}

.hands_on{
    border-color: #ce9268;
}

.hands_on h3 {
    background: #ce9268;
    border-color: #ce9268;
}

.tip{
    border-color: #bbb6b2;
}

.tip h3 {
    background: #bbb6b2;
    border-color: #bbb6b2;
}

.question{
    border-color: #6dc9b7;
}

.question h3 {
    background: #6dc9b7;
    border-color: #6dc9b7;
}

.comment{
    border-color: #bbb6b2;
}

.comment h3 {
    background: transparent;
    border-color: #bbb6b2;
}

summary::-webkit-details-marker {
    color: #bbbbbb;
}

summary:focus {
    outline-style: none;
}

details{
    color: #bbbbbb;
    margin-top: -10px;
    margin-bottom: 10px;
}

/*navbar stuff*/
.name-holder{
  margin-left:10px;
}

/*Primary navigation bar*/
.navbar {
    margin-bottom: 20px;
}

.navbar .navbar-brand {
  padding: 0px;
  margin-right: 30px;
}
.navbar .navbar-brand img {
  height: 51px;/* because the navbar has a height of 50px and 1px border bottom*/
}

.navbar-right li{
  font-size: 15px;
}

#site-title{
  line-height: 50px;
  font-weight: bold;
}

@media (max-width: 992px) {
  #main-menu li{
    font-size: 15px;
  }
  #main-menu li a {
    padding-left: 10px;
    padding-right: 10px;
  }
}
