<!doctype html>
<html lang="en">

    <head>
        <meta charset="utf-8">

        <title>Tutorial name</title>

        <link rel="stylesheet" href="../../shared/reveal.js/css/reveal.css">
        <link rel="stylesheet" href="../../shared/reveal.js/css/theme/simple.css" id="theme">

        <!-- Code syntax highlighting -->
        <link rel="stylesheet" href="../../shared/reveal.js/lib/css/zenburn.css">
        <link rel="stylesheet" href="../../shared/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="../../shared/css/custom.css" id="theme">

        <!-- Printing and PDF exports -->
        <script>
          if( window.location.search.match( /print-pdf/gi ) ) {
            var link = document.createElement( 'link' );
            link.rel = 'stylesheet';
            link.type = 'text/css';
            link.href = '../../shared/reveal.js/css/print/pdf.css';
            document.getElementsByTagName( 'head' )[0].appendChild( link );
          }
        </script>
        <!--<script>
            if (window.location.search.match(/print-pdf/gi)) {
                document.write('<link rel="stylesheet" href="css/pdf.css" type="text/css">');
            }
        </script>-->

        <!--[if lt IE 9]>
        <script src="../../shared/reveal.js/lib/js/html5shiv.js"></script>
        <![endif]-->
    </head>

    <body>
        <div class="reveal">
            <div class="slides">
                <section data-markdown>
                    <script type="text/template">
                        ## Welcome!

                        <img src="../../shared/images/GTNLogo1000.png" alt="GTNLogo1000" width=30%/>

                        The easiest way to **navigate** this slide deck
                        is **by hitting `[space]` on your keyboard**

                        You can also navigate with arrow keys, but be careful because some
                        slides can be nested inside of each other (vertically)
                        <aside class="notes">
                            Speaker notes:

                            These slides are from/based on the [Galaxy Training Network's collection of slide decks](http://github.com/bgruening/training-material).
                        </aside>
                    </script>
                </section>

                <section data-markdown>
                    <script type="text/template">
                        ## Requirements

                        Before diving into this slide deck, <br/>
                        we recommend you to have a look at:

                        1. [Galaxy introduction](../../Introduction/slides/index.html)
                        2. [Topic name introduction](index.html)
                    </script>
                </section>

                <section data-markdown>
                    <script type="text/template">
                        # Tutorial name
                    </script>
                </section>

                <section>
                    <section data-markdown>
                        <script type="text/template">
                            ## Small introduction (vertical part)
                        </script>
                    </section>

                    <section data-markdown>
                        <script type="text/template">
                            ### Subpart1.1

                            - list
                            - list
                            - list
                        </script>
                    </section>

                    <section data-markdown>
                        <script type="text/template">
                            ### Subpart1.2

                            With an image...

                            <img src="../../shared/images/GTNLogo1000.png" alt="GTNLogo1000" width=30%/>
                        </script>
                    </section>
                </section>

                <section>
                    <section data-markdown>
                        <script type="text/template">
                            ### <i class="fa fa-question-circle" aria-hidden="true"></i> Questions

                            - Major question that would be addressed in this tutorial (same as the markdown)
                            - Second question

                            <aside class="notes">
                                Oh hey, these are some notes. They'll be hidden in your presentation, but you can see them if you open the speaker notes window.

                                To see the notes, hit **'s'** on your keyboard

                                See https://github.com/hakimel/reveal.js#speaker-notes
                            </aside>
                        </script>
                    </section>

                    <section data-markdown>
                        <script type="text/template">
                            ### <i class="fa fa-bullseye" aria-hidden="true"></i> Objectives

                            - First objective of this tutorial (same as the markdown)
                            - Second objective
                            - Third objective
                            - ...
                        </script>
                    </section>
                </section>

                <section>
                    <section data-markdown>
                        <script type="text/template">
                            ## Part 1
                        </script>
                    </section>

                    <section data-markdown>
                        <script type="text/template">
                            ### Small introduction

                            Introduction about this part
                        </script>
                    </section>

                    <section data-markdown>
                        <script type="text/template">
                            ### Subpart 1

                            Short introduction about this subpart.

                            <i class="fa fa-pencil" aria-hidden="true"></i> ***Hands on!***
                        </script>
                    </section>

                    <section data-markdown>
                        <script type="text/template">
                            ### Subpart1.2

                            Short introduction about this subpart.

                            <i class="fa fa-pencil" aria-hidden="true"></i> ***Hands on!***
                        </script>
                    </section>
                </section>


                <section data-markdown>
                    <script type="text/template">
                        ### <i class="fa fa-exclamation-circle" aria-hidden="true"></i> Key points

                        - Simple sentence to sum up the first key point of the tutorial (Take home message)
                        - Second key point
                        - Third key point
                        - ...
                    </script>
                </section>
            </div>

        </div>

        <script type="text/javascript" src="../../shared/reveal.js/lib/js/head.min.js"></script>
        <script type="text/javascript" src="../../shared/reveal.js/js/reveal.js"></script>
        <script type="text/javascript">
            Reveal.initialize({
                slideNumber: !window.location.search.match(/print-pdf/gi),
                history: true,

                theme: Reveal.getQueryHash().theme,
                transition: Reveal.getQueryHash().transition || 'concave',

                dependencies: [
                    { src: '../../shared/reveal.js/lib/js/classList.js', condition: function() { return !document.body.classList; } },
                    { src: '../../shared/reveal.js/plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
                    { src: '../../shared/reveal.js/plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
                    { src: '../../shared/js/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
                    { src: '../../shared/reveal.js/plugin/notes/notes.js', async: true },
                ]
            });
        </script>

    </body>
</html>
