extends layout.pug

block content
    section.section-content
        if toc
            div.col-md-9
                +renderPageTitle
                div !{ contents }
            div.col-md-3
                div#sidebar
                    +renderToc(toc)
        else
            div.col-md-12
                section.section-content
                    +renderPageTitle
                    div !{ contents }
