<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Galaxy Training!</title>
        <link media="all" href="https://netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://galaxyproject.github.io/training-material//assets/css/main.css">
        <link rel="stylesheet" href="https://galaxyproject.github.io/training-material//assets/css/font-awesome.css">
        <link rel="stylesheet" href="https://galaxyproject.github.io/training-material//assets/css/syntax_highlighting.css">
    </head>
    <body>
        <div class="wrapper">
            <header>
  <h1>Galaxy Training!</h1>
  <p>Collection of tutorials developed and maintained by the worldwide Galaxy community.</p>
  <a href="https://gitter.im/Galaxy-Training-Network/Lobby?utm_source=badge&amp;utm_medium=badge&amp;utm_campaign=pr-badge&amp;utm_content=badge">
    <img src="https://camo.githubusercontent.com/66dbecf63f6c9c68127a18afaca4790a7eb6f1c1/68747470733a2f2f6261646765732e6769747465722e696d2f47616c6178792d547261696e696e672d4e6574776f726b2f747261696e696e672d6d6174657269616c2e737667" alt="Gitter" data-canonical-src="https://badges.gitter.im/Galaxy-Training-Network/training-material.svg" style="max-width:100%;">
  </a>
</header>



<section>
    <h1></h1>

    <p></p>

    

    <a name="material"></a>
    <h2>Material</h2>

    <table class="table table-striped">
        <tr>
              <td class="bold">Lesson</td>
              <td class="bold">Hands-on</td>
              <td class="bold">Slides</td>

              
                  <td class="bold">Input dataset</td>
                  <td class="bold">Galaxy tour</td>
              
        </tr>

        
    </table>

    

    

    <a name="contributors"></a>
    <h2>Contributors</h2>

    <p>This material is maintained by:</p>

    <ul>
        
    </ul>

    <p><em>For any question related to this topic and the content, you can contact them.</em></p>

    <p>The following persons have contributed to this training material:</p>

    <ul>
        
    </ul>

    
</section>

<footer>
  <p>
    The <a href="https://galaxyproject.org/teach/gtn/">Galaxy Training Network</a> helps researchers find online training material, and trainers in their geographic area, and helps advertise training events as well.
  </p>
  <img src="https://galaxyproject.github.io/training-material///assets/images/GTN.png"  alt="Galaxy Training Network logo" style="max-width: 222px;">
</footer>


        </div>
    </body>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
</html>
