---
---
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{{ site.title }}</title>
        <link rel="stylesheet" href="{{ site.url }}/assets/css/bootstrap.min.css?v=2">
        <link rel="stylesheet" href="{{ site.url }}/assets/css/main.css?v=2">
        <link rel="stylesheet" href="{{ site.url }}/assets/css/font-awesome.css">
        <link rel="stylesheet" href="{{ site.url }}/assets/css/syntax_highlighting.css">
    </head>
    <body>
        {{ content }}
    </body>
    <script type="text/javascript" src="{{ site.url }}/assets/js/jquery.slim.min.js"></script>
    <script type="text/javascript" src="{{ site.url }}/assets/js/popper.min.js"></script>
    <script type="text/javascript" src="{{ site.url }}/assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{ site.url }}/assets/js/details-element-polyfill.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
</html>
