---
layout: base
---

{% assign tool_id_path = page.latest_tool_id %}

<hgroup>
	<h1>
		{{ site.data['tool-meta'][tool_id_path].name }}:
		{{ site.data['tool-meta'][tool_id_path].desc }}
	</h1>
	<pre>{{ tool_id_path }}</pre>
</hgroup>

<section>
	<div class="stats">
		<div class="row">
			<div class="col-md-3">
				<h2>Metadata</h2>

				<h3>Links</h3>
				<ul>
					{% if site.data['tool-meta'][tool_id_path]['bio.tools'] %}
					<li>
						<a href="https://bio.tools/{{ site.data['tool-meta'][tool_id_path]['bio.tools'] }}">
						bio.tools: {{ site.data['tool-meta'][tool_id_path]['bio.tools_name'] }}
						</a>
					</li>
					{% endif %}
					{% if site.data['toolshed-revisions'][tool_id] %}
					<li>
						{% assign repo_info = site.data['toolshed-revisions'][tool_id] %}
						<a href="https://toolshed.g2.bx.psu.edu/view/{{ repo_info[0] }}/{{ repo_info[1] }}/{{ repo_info[2] }}">
						Galaxy ToolShed Repository
						</a>
					</li>
					{% endif %}
				</ul>

				{% assign edam_op_count = site.data['tool-meta'][tool_id_path].edam_operations | size %}
				{% if edam_op_count > 0 %}
				<h3>EDAM Operations</h3>
				<ul>
				{% for topic in site.data['tool-meta'][tool_id_path].edam_operations %}
					<li>
						{% assign edam_info = topic | edamify: site %}
						<a href="https://www.ebi.ac.uk/ols4/ontologies/edam/classes/http%253A%252F%252Fedamontology.org%252F{{ topic }}">
							{{ edam_info['Preferred Label'] | default: topic }}
						</a>
					</li>
				{% endfor %}
				</ul>
				{% endif %}

				{% assign edam_topic_count = site.data['tool-meta'][tool_id_path].edam_topics | size %}
				{% if edam_topic_count > 0 %}
				<h3>EDAM Topics</h3>
				<ul>
				{% for topic in site.data['tool-meta'][tool_id_path].edam_topics %}
					<li>
						{% assign edam_info = topic | edamify: site %}
						<a href="https://www.ebi.ac.uk/ols4/ontologies/edam/classes/http%253A%252F%252Fedamontology.org%252F{{ topic }}">
							{{ edam_info['Preferred Label'] | default: topic }}
						</a>
					</li>
				{% endfor %}
				</ul>
				{% endif %}

				<hgroup>
					<h3>Observed Tool Versions</h3>
					<p>Within GTN tutorials</p>
				</hgroup>

				{% for tool in page.observed_tool_ids %}
				<details>
					<summary>{{ tool[1] }}</summary>
					{% assign v_id = tool[0] %}
					{% assign supported = site | tool_version_support: v_id %}
					{% assign usegalaxy_exact = supported.exact | where: "usegalaxy", "true"   %}
					{% assign other_exact = supported.exact | where: "usegalaxy", "false"   %}

					<ul>
						{% for inst in usegalaxy_exact %}
						<li>
							<a href="{{ inst.url }}?tool_id={{ tool[0] }}&version={{ tool[1] }}">
								{{ inst.name }} <abbr title="This is a UseGalaxy.* server which meets minimum requirements for a public Galaxy">⭐️</abbr>
							</a>
						</li>
						{% endfor %}
						{% for inst in other_exact %}
						<li>
								<a href="{{ inst.url }}?tool_id={{ tool[0] }}&version={{ tool[1] }}">
								{{ inst.name }}
							</a>
						</li>
						{% endfor %}
					</ul>
				</details>
				{% endfor %}

			</div>

			<div class="col-md-9">
				<h2>Relevant Tutorials</h2>
				<ul>
					{% for tutorial in page.tutorial_list %}
					<li>
						{{ tutorial[2] }} /
						<a href="{{ site.baseurl }}{{ tutorial[3] }}">
						{{ tutorial[1] }}
						</a>
					</li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>
</section>

<style>
details {
	border: 1px solid black;
	margin-bottom: 0.2rem;
	cursor: pointer;

	summary {
		padding: 0.5rem
	}
}
details:hover {
	box-shadow: 5px 5px var(--brand-color)
}
details:active {
	box-shadow: 3px 3px var(--brand-color)
}
</style>
