---
layout: base
---

{% assign contributors = site.data['contributors'] %}

<script type="application/ld+json">
	{% assign c = contributors[page.contributor] %}
	{{ page.contributor | to_person_jsonld: c,site }}
</script>

<style type="text/css" media="all">
.card-title {
	font-size: 2rem;
}

</style>
<section>
	<div class="stats">
		<div class="row">

			<div class="col-md-3">
				{% if contributors[page.contributor].github != false %}
					<img src="https://avatars.githubusercontent.com/{{ page.contributor }}" alt="github avatar" >
				{% elsif contributors[page.contributor].avatar %}
					<img src="{{ contributors[page.contributor].avatar }}" alt="avatar" >
				{% else %}
					<span class="thumbnail">
						<img src="https://avatars.githubusercontent.com/{{ page.contributor }}" alt="github avatar" >
					</span>
				{% endif %}

                {% if contributors[page.contributor].bio %}
				<p class="text-muted">
					{{ contributors[page.contributor].bio }}
				</p>
				{% endif %}

				{% if page.has_philosophy %}
				<div class="contact-items">
					<a href="{{ site.baseurl }}/topics/teaching/tutorials/experiences/tutorial.html#{{ page.contributor }}">
						Training Philosophy
					</a>
				</div>
				{% endif %}

				{% if contributors[page.contributor].github != false %}
				<div class="contact-items">
					<a title="GitHub" href="https://github.com/{{ page.contributor }}">
						{% icon github %} {{ page.contributor }}
					</a>
				</div>
				{% endif %}

				{% if contributors[page.contributor].email %}
				<div class="contact-items">
					<a title="E-mail" href="mailto:{{ contributors[page.contributor].email }}">
						{% icon email %} {{ contributors[page.contributor].email }}
					</a>
				</div>
				{% endif %}

				{% if contributors[page.contributor].gitter %}
				<div class="contact-items">
					<a title="Gitter" href="https://gitter.im/{{ contributors[page.contributor].gitter }}">
						{% icon gitter %} {{ contributors[page.contributor].gitter }}
					</a>
				</div>
				{% endif %}

				{% if contributors[page.contributor].twitter %}
				<div class="contact-items">
					<a title="Twitter" href="https://twitter.com/{{ contributors[page.contributor].twitter }}">
						{% icon twitter %} {{ contributors[page.contributor].twitter }}
					</a>
				</div>
				{% endif %}

				{% if contributors[page.contributor].linkedin %}
				<div class="contact-items">
					<a title="LinkedIn" href="https://www.linkedin.com/in/{{ contributors[page.contributor].linkedin }}">
						{% icon linkedin %} {{ contributors[page.contributor].linkedin }}
					</a>
				</div>
				{% endif %}

				{% if contributors[page.contributor].orcid %}
				<div class="contact-items">
					<a title="ORCID" href="https://orcid.org/{{ contributors[page.contributor].orcid }}">
						{% icon orcid %} {{ contributors[page.contributor].orcid }}
					</a>
				</div>
				{% endif %}

				{% if contributors[page.contributor].elixir_node %}
				<div class="contact-items">
					<img src="{{ site.baseurl }}/assets/images/elixir/elixir-{{ contributors[page.contributor].elixir_node }}.svg" alt="elixir logo for {{ contributors[page.contributor].elixir_node | elixirnode2name }}">
				</div>
				{% endif %}

				<h4>Favourite Topics</h4>
				<canvas id="myChart" height="300px"></canvas>
				<h4>Favourite Formats</h4>
				<canvas id="slidesVsTutorials" height="300px"></canvas>

			</div>

			<div class="col-md-9">
				<h1>
					{{ contributors[page.contributor].name | default: page.contributor }}
				</h1>
				{% if contributors[page.contributor].in_memoriam %}
				<div class="alert alert-dark" role="alert">
					<h2 class="alert-heading">In Memoriam</h2>
					<p>{{ contributors[page.contributor].in_memoriam | markdownify }}</p>
				</div>

				{% endif %}

				<h2>Contributions</h2>

				<p class="text-muted">
					{% if contributors[page.contributor].funder %}
						{{ contributors[page.contributor].funding_statement | markdownify }}
					{% else %}
					The following list includes only slides and tutorials where the individual has been added to the contributor list. This may not include the sum total of their contributions to the training materials (e.g. GTN css or design, tutorial datasets, workflow development, etc.) unless described by a news post.
					{% endif %}

                {% unless contributors[page.contributor].github == false %}
                <br><br>
                <h3> GitHub Activity</h4>
                <ul>
                  <li><a href="https://github.com/galaxyproject/training-material/pulls?q=is%3Apr+author%3A{{page.contributor}}">{% icon github %} Pull Requests</a> </li>
                  <li><a href="https://github.com/galaxyproject/training-material/commits?author={{page.contributor}}">{% icon github %} Commits</a></li>
                  <li><a href="https://github.com/galaxyproject/training-material/issues?q=+is%3Aissue+author%3A{{page.contributor}}">{% icon github %} Issues Reported</a></li>
                </ul>
                {% endunless %}
                </p>

				{% if page.tutorials_count > 0 %}
				<h3>Tutorials</h3>
				<ul>
				{% for res in page.tutorials %}
					<li>
						{% assign topic_id = res[0] | get_topic %}
						{% assign topic = site.data[topic_id] %}
						<a href="{{ site.baseurl }}/topics/{{ topic_id }}">
							{{ topic.title }}
						</a>
						/
						<a href="{{ site.baseurl }}/{{ res[0].url }}">
						{{ res[0].title }}
						</a>
						{% assign res_activity = res[1] %}
						{% include _includes/contributor-human-icons.html activity=res_activity %}
					</li>
				{% endfor %}
				</ul>
				{% endif %}

				{% if page.slides_count > 0 %}
				<h3>Slides</h3>
				<ul>
				{% for res in page.slides %}
					<li>
						{% assign topic_id = res[0] | get_topic %}
						{% assign topic = site.data[topic_id] %}
						<a href="{{ site.baseurl }}/topics/{{ topic_id }}">
							{{ topic.title }}
						</a>
						/
						<a href="{{ site.baseurl }}/{{ res[0].url }}">
						{{ res[0].title }}
						</a>
						{% assign res_activity = res[1] %}
						{% include _includes/contributor-human-icons.html activity=res_activity %}
					</li>
				{% endfor %}
				</ul>
				{% endif %}

				{% if page.news_count > 0 %}
                <h3>News</h3>
                <div class="newslist">
                {% assign news_sorted = page.news | sort: 'date' | reverse %}
                {% for n in news_sorted %}
                   {% include _includes/news-card.html news=n %}
                {% endfor %}
                </div>
				{% endif %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.js"></script>

<script type="text/javascript">
const isReduced = window.matchMedia(`(prefers-reduced-motion: reduce)`) === true || window.matchMedia(`(prefers-reduced-motion: reduce)`).matches === true;
if(isReduced){
    Chart.defaults.global.animation.duration = 0;
}

var ctx = document.getElementById('myChart').getContext('2d');
var ctx2 = document.getElementById('slidesVsTutorials').getContext('2d');

var topics = [
{% for res in page.tutorials %}
	{% assign topic_id = res[0] | get_topic %}
	{% assign topic = site.data[topic_id] %}
	"{{ topic.title }}",
{% endfor %}
{% for res in page.slides %}
	{% assign topic_id = res[0] | get_topic %}
	{% assign topic = site.data[topic_id] %}
	"{{ topic.title }}",
{% endfor %}
];

var slidesVsTutos = [
{% for res in page.tutorials %}
	"Tutorials",
{% endfor %}
{% for res in page.slides %}
	"Slides",
	{% if res.video %}
	"Videos",
	{% endif %}
{% endfor %}
{% for res in page.news %}
	"News Posts",
{% endfor %}
]

function foo(arr) {
	var a = [], b = [], prev;

	arr.sort();
	for ( var i = 0; i < arr.length; i++ ) {
		if ( arr[i] !== prev ) {
			a.push(arr[i]);
			b.push(1);
		} else {
			b[b.length-1]++;
		}
		prev = arr[i];
	}

	return [a, b];
}

out = foo(topics)

function genColors(size) {
	var o = [];
	for(i = 0; i < size; i++){
		o.push(`hsl(${ i * 360 / size }, 100%, 50%)`)
	}
	return o;
}


// Which topics
var chart = new Chart(ctx, {
	type: 'doughnut',
	data: {
		labels: out[0],
		datasets: [{
			label: 'Contribution Areas',
			backgroundColor: genColors(out[0].length),
			data: out[1]
		}]
	},
	options: {
		legend: {
			display: false
		}
	}
});

out = foo(slidesVsTutos);
// What material type
var chart2 = new Chart(ctx2, {
	type: 'doughnut',
	data: {
		labels: out[0],
		datasets: [{
			label: 'Contribution Areas',
			backgroundColor: genColors(out[0].length),
			data: out[1]
		}]
	},
	options: {
		legend: {
			display: false
		}
	}
});
				</script>

			</div>

			</div>
		</div>
	</div>
</section>
