---
layout: base
---

{% assign event = page %}

<script type="application/ld+json">
{{ page | generate_event_jsonld: site }}
</script>

<section class="event">
    <hgroup>
      <h1>{{ event.title }}</h1>
      {% if event.location.name == "Online" %}
      <p>Virtual course</p>
      {% else %}
      <p>In-person course</p>
      {% endif %}
    </hgroup>

    <div class="row">
	    <div class="col-md-9">

<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="home-tab" data-toggle="tab" data-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Course Overview</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="profile-tab" data-toggle="tab" data-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Programme</button>
  </li>
  <!-- <li class="nav-item" role="presentation"> -->
  <!--   <button class="nav-link" id="register-tab" data-toggle="tab" data-target="#register" type="button" role="tab" aria-controls="register" aria-selected="false">How to Register</button> -->
  <!-- </li> -->
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="contact-tab" data-toggle="tab" data-target="#contact" type="button" role="tab" aria-controls="contact" aria-selected="false">Instructor Zone</button>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane show active" id="home" role="tabpanel" aria-labelledby="home-tab">
    <p>{{ event.description | markdownify }}</p>
    <p>{{ content | markdownify }}</p>

    <h3>Who is this course for?</h3>
    {{ event.audience }}

    {% if event.requirements %}
    <h3 id="requirements">Requirements</h3>
    <p>Before joining this event, we recommend you to have a look at:</p>

    <ul>
        {% include _includes/display_extra_training.md extra_trainings=event.requirements %}
    </ul>
    {% endif %}
<section>
	<!-- Maintained by -->
	<h3 id="Organisers">Organisers & Instructors</h3>
	<p>This event is brought to you by:</p>
	{% include _includes/contributor-list2.html contributors=page.contributions badge=true %}


	{% if event.contributions.funding %}
	{% include _includes/funding-statement.md contributions=page.contributions %}
	{% endif %}

</section>

  </div>
  <div class="tab-pane " id="profile" role="tabpanel" aria-labelledby="profile-tab">
    <h2> Program </h2>
    {% for section in event.program %}
        <h3 id="{{ section.section | slugify }}">{{ section.section }}</h3>
        <p>{{ section.description | markdownify }}</p>

	{% if section.tutorials %}
        {% assign material_list = site | convert_to_material_list: section.tutorials %}
	{% include _includes/tutorial_list.html sub=material_list page=page %}
	{% endif %}
    {% endfor %}
  </div>
  <!-- <div class="tab-pane " id="register" role="tabpanel" aria-labelledby="register-tab"> -->
  <!--   <h2>Registering</h2> -->
  <!--  -->
  <!--   TODO: registration button -->
  <!-- </div> -->
  <div class="tab-pane " id="contact" role="tabpanel" aria-labelledby="contact-tab">
<section>
	<h2>Instructor Zone</h2>
	<details open>
		<summary>Are you an instructor? Here are some useful things</summary>

		<h3>Promote the Event</h3>

		<p>Tootable/Tweetable version:</p>
<div data-commit="Add requirement" class="language-markdown highlighter-rouge"><div class="highlight"><pre class="highlight"><code>
{{ event.title }}! 📢

{{ page.description }}

📅 {{ event | collapse_date_pretty }}
➡️ {% if page.short_id %}https://gxy.io/GTN:{{ page.short_id }}{% else %}{{ site.url }}{{ site.baseurl }}{{ page.url }}{% endif %}
{%- if event.registration.link %}
📝 Registration is open {% if event.registration.deadline %}until {{ event.registration.deadline }}{% endif %}! {{ event.registration.link }}
{% endif %}
</code></pre></div>      </div>

{{ event.short_id }}


		{% if event.infrastructure %}
		<h3>TIaaS</h3>

{%- capture org0 -%}
{{ event.contributions.organisers[0] }}
{%- endcapture -%}

		<ul>
		{% for server in event.infrastructure.servers %}

{%- capture urlparams -%}
?name={{ site.data.contributors[org0].name | uri_escape}}
&email={{ site.data.contributors[org0].email | uri_escape }}
&title={{ event.title | uri_escape }}
&description={{ event.description | uri_escape }}
&start={{ event.date_start }}
&end={{ event.date_end }}
&website={{ site.url }}{{ site.baseurl }}{{ page.url }}
&use_gtn=true&gtn_links={{ 'See course event' | uri_escape }}
&training_identifier={{ server.tiaas | uri_escape }}
{%- endcapture -%}
			<li>
				<a href="{{ server.server }}/tiaas/new/{{ urlparams }}">Request TIaaS @ {{ server.server }}</a>
			</li>
		{% endfor %}
		</ul>
		{% endif %}
		
	</details>
</section>

  </div>
</div>

	</div> <!-- col-md-9 -->
	<div class="col-md-3">

		<a href="{{ event.registration.link }}" class="btn btn-primary btn-lg btn-block">Register Now</a>
		todo: registration date / check if passed.

		<hr/>

		<table>
			<tr><td style="min-width: 2rem">{% icon event-date %}</td><td>{{ event | collapse_date_pretty }}</td></tr>
			<tr><td>{% icon event-location %}</td><td>{{ event.location | format_location }}</td></tr>
			<tr><td>{% icon event-cost %}</td><td>{{ event.cost }}</td></tr>
			<tr><td>{% icon email %}</td><td><a href="mailto:{{ event.contact_email }}?subject={{ event.title | uri_escape }}">{{event.contact_email}}</a></td></tr>
		</table>

		<hr />
		    TODO: "Add to calendar" buttons

		<hr />

		<b>Organisers</b><br/>
		{% for org in event.contributions.organisers %}
			{% include _includes/contributor-badge-inline.html id=org %}
		{% endfor %}

		<hr />
		<b>In collaboration with</b><br/>
		{% for org in event.contributions.funding %}
			{% include _includes/contributor-badge-inline.html id=org %}
		{% endfor %}


	</div>
</div><!-- row -->

</section>



