---
layout: faqs
---

{% if page.snippets_dir %}
{% assign snippets_dir = page.snippets_dir %}
{% else %}
{% assign snippets_dir = page.dir | remove_first: '/' %}
{% endif %}

{% assign faqs =  site.pages | where: "layout", "faq"  %}
{% assign topic_faqs = faqs | where_exp: "item", "item.path contains snippets_dir "%}


{% if page.area_order %}
  {% for a in page.area_order %}
    {% assign tmp = topic_faqs | where: "area", a %}
    {% if forloop.first %}
      {% assign topic_faqs_sorted = tmp %}
    {% else %}
      {% assign topic_faqs_sorted = topic_faqs_sorted | concat: tmp %}
    {% endif %}
  {% endfor %}
{% else %}
  {% assign topic_faqs_sorted = topic_faqs | sort: "area" %}
{% endif %}



{% assign area_prev = '' %}
{% for q in topic_faqs_sorted %}
{% unless q.area == area_prev %}
{% unless forloop.first %} <br><br> {% endunless %}
<h2 id="{{q.area}}"> <a href="#{{q.area}}"> {{ q.area | capitalize}} </a></h2>
<hr/>
{% assign area_prev = q.area %}
{% endunless %}

<h3 class="faq-area"> {{q.title}} <a href="{{site.baseurl}}{{q.url}}"><i class="fas fa-external-link-alt"></i></a> </h3>
{{q.description}}
{% snippet {{q.path}} %}



{% endfor %}

{% if page.cited %}
<h2 id="bibliography">{{locale['references']| default: "References" }}</h2>
{% bibliography --cited %}
{% endif %}
