---
layout: base
---

{% assign topic = site.data[page.topic_name] %}
{% assign locale = site.data.lang[page.lang] %}
{% assign contributors = site.data['contributors'] %}

<section class="tutorial faqs">
    <h1 data-toc-skip>{{ locale['faqs'] | default: "Frequently Asked Questions"}}</h1>
<div class="contributors-line">{{ locale['authors'] | default: "Authors" }}: {% include _includes/contributor-list.html contributors=page.contributors badge=true newcontributors=true %}
    </div>
    <div class="container">
        <div class="row">
            <!-- sidebar, which will move to the top on a small screen -->
            <div class="col-sm-2">
                <nav id="toc" data-toggle="toc" class="sticky-top"></nav>
            </div>
            <div class="col-sm-10">
                {{ content
                    | replace: '<blockquote class="hands_on">', '<blockquote class="notranslate hands_on">'
                    | no_translate:site.words_to_not_translate }}
            </div>
        </div>
    </div>
</section>
