---
layout: base
---

{% assign contributors = site.data['contributors'] %}
{% assign stories = site.pages | where:"layout", "training_philosophy" %}


{% include _includes/default-header.html %}

<div class="container main-content">
    <section>
        <h1>Hall of Fame</h1>

        <p class="lead">
            A big <em>Thank You!</em> to the <strong>{{ contributors|size }}</strong>
            awesome contributors to the Galaxy training materials!
        </p>

        <div class="hall-of-fame">
            {% for contributor in contributors %}
                {% assign username = contributor[0] %}
                <div class="hall-of-fame-hero" id="{{ username }}">
                    {% if contributors[username].github != false %}
                        <a href="https://github.com/{{ username }}" class="thumbnail">
                            <img src="https://avatars.githubusercontent.com/{{ username }}" alt="{{ username }}">
                        </a>
                    {% else %}
                        <span class="thumbnail">
                            <img src="https://avatars.githubusercontent.com/{{ username }}" alt="{{ username }}">
                        </span>
                    {% endif %}

                    <div class="name">
                        {{ contributors[username].name | default: username }}
                    </div>

                    {% assign has_philosophy = false %}
                    {% for story in stories %}
                        {% if story.username == username %}
                            {% assign has_philosophy = true %}
                        {% endif %}
                    {% endfor %}

                    {% if has_philosophy %}
                    <div class="contact-items">
                        <a href="{{ site.baseurl }}/topics/instructors/philosophies/#{{ username }}">
                            Training Philosophy
                        </a>
                    </div>
                    {% endif %}

                    <div class="contact-items">
                        {% if contributors[username].github != false %}
                            <a title="GitHub" href="https://github.com/{{ username }}">
                                {% icon github %}
                            </a>
                        {% endif %}
                        {% if contributors[username].email %}
                            <a title="E-mail" href="mailto:{{ contributors[username].email }}">
                                {% icon email %}
                            </a>
                        {% endif %}
                        {% if contributors[username].gitter %}
                            <a title="Gitter" href="https://gitter.im/{{ contributors[username].gitter }}">
                                {% icon gitter %}
                            </a>
                        {% endif %}
                        {% if contributors[username].twitter %}
                            <a title="Twitter" href="https://twitter.com/{{ contributors[username].twitter }}">
                                {% icon twitter %}
                            </a>
                        {% endif %}
                        {% if contributors[username].linkedin %}
                            <a title="LinkedIn" href="https://www.linkedin.com/in/{{ contributors[username].linkedin }}">
                                {% icon linkedin %}
                            </a>
                        {% endif %}
                        {% if contributors[username].orcid %}
                            <a title="ORCID" href="https://orcid.org/{{ contributors[username].orcid }}">
                                {% icon orcid %}
                            </a>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
</div>

{% include _includes/default-footer.html %}
