---
layout: base_slides
---

{{ content }}

---

{% assign topic = site.data[page.topic_name] %}

## Related tutorials

{% for material in topic.material %}
    {% if material.type == "tutorial" %}
        {% if material.hands_on == "yes" %}
- [{{ material.title }}]({{ site.url }}/topics/{{ topic.name }}/tutorials/{{ material.name }}/tutorial.html)
        {% elsif material.hands_on == "github" %}
- [{{ material.title }}]({{ site.github_repository }}/tree/master/topics/{{ topic.name }}/tutorials/{{ material.name }}.md)
        {% elsif material.slides == "yes" %}
- [{{ material.title }}]({{ site.url }}/topics/{{ topic.name }}/tutorials/{{ material.name }}/slides.html)
        {% endif %}
    {% endif %}
{% endfor %}

