---
layout: base
---

{% assign pathway = page %}

<!-- Gitter -->
{% if topic.gitter %}
  {% assign gitter = topic.gitter %}
{% else %}
  {% assign gitter = site.gitter_url %}
{% endif %}

<script type="application/ld+json">
{
	"@context": "https://schema.org",
	"@type": "Course",
	"name": "{{ pathway.title }}",
	"description": "{{ pathway.description }}",
	"provider": {
		"@type": "Organization",
		"email": "galaxytrainingnetwork@gmail.com",
		"name": "Galaxy Training Network",
		"url": "https://training.galaxyproject.org",
		"logo": "https://training.galaxyproject.org/training-material/assets/images/GTNLogo1000.png",
		"sameAs": "https://training.galaxyproject.org"
	}
}
</script>



<section class="tutorials-list {{ page.topic_name }} topic-type-{{ topic.type }}">
    <hgroup>
      <h1>{{ pathway.title }}</h1>
      {% icon purl %}<abbr title="Persistent URL">PURL</abbr>:</strong> <a href="https://gxy.io/GTN:{{ page.short_id }}">https://gxy.io/GTN:{{ page.short_id }}</a>
    </hgroup>

    {% snippet faqs/gtn/what-is-a-learning-pathway.md %}

    <p>{{ pathway.description | markdownify }}</p>
    <p>{{ content | markdownify }}</p>


    {% if pathway.requirements %}
    <h2 id="requirements">Requirements</h2>
    <p>Before diving into this learning pathway, we recommend you to have a look at:</p>

    <ul>
        {% include _includes/display_extra_training.md extra_trainings=pathway.requirements %}
    </ul>
    {% endif %}



    {% for section in page.pathway %}
        <h3 id="st-{{ section.section | slugify }}">{{ section.section }}</h3>
        <p>{{ section.description | markdownify }}</p>

	{% if section.tutorials %}
        {% assign material_list = site | convert_to_material_list: section.tutorials %}
	{% include _includes/tutorial_list.html sub=material_list %}
	{% endif %}
    {% endfor %}
</section>

<hr style="margin-top: 6em"/>
<section>
	<!-- Maintained by -->
	<h2 id="editorial-board">Editorial Board</h2>
	<p>This material is reviewed by our Editorial Board:</p>
	{% assign editorial_board = pathway.editorial_board %}
	{% include _includes/contributor-list.html contributors=editorial_board badge=true %}

	{% if pathway.funding %}
	<h2 id="funders">Funders</h2>
	<p>This material was funded by:</p>
	{% assign funders = pathway.funding | sorted %}
	{% include _includes/contributor-list.html contributors=funders badge=true %}
	{% endif %}

</section>
