---
layout: base
---

{% assign pathway = page %}

<!-- Gitter -->
{% if topic.gitter %}
  {% assign gitter = topic.gitter %}
{% else %}
  {% assign gitter = site.gitter_url %}
{% endif %}

<script>
  ((window.gitter = {}).chat = {}).options = {
  room: '{{ gitter | remove: "https://gitter.im/" }}'
  };
</script>
<script src="https://sidecar.gitter.im/dist/sidecar.v1.js" async defer></script>


<section>
<h3> GTN Learning Pathway </h3>
<p> We recommend you follow the tutorials in the order presented on this page. They have been selected to fit together and build up your knowledge step by step. If a lesson has both slides and a tutorial, we recommend you start with the slides, then proceed with the tutorial.</p>
</section>

<section class="tutorials-list {{ page.topic_name }} topic-type-{{ topic.type }}">
    <h1>{{ pathway.title }}</h1>
    <p>{{ content | markdownify }}</p>

    {% if pathway.requirements %}
    <h2 id="requirements">Requirements</h2>
    <p>Before diving into this learning pathway, we recommend you to have a look at:</p>

    <ul>
        {% include _includes/display_extra_training.md extra_trainings=pathway.requirements %}
    </ul>
    {% endif %}



    {% for section in page.pathway %}
        <h3 id="st-{{ section.section | slugify }}">{{ section.section }}</h3>
        <p>{{ section.description }}</p>

        {% assign material_list = "" | split: "" %}
        {% for tut in section.tutorials %}
          <!-- TODO: make more efficient!-->
          {% assign topic_material = site | topic_filter:tut.topic %}
          {% assign m = topic_material | where: "tutorial_name", tut.name %}
          {% assign material_list = material_list | concat: m %}

        {% endfor %}
        {% include _includes/tutorial_list.html sub=material_list %}
    {% endfor %}

