---
layout: page
---

{% assign contributors = site.data['contributors'] %}
{% if page.cover %}
 {% assign coverimage = page.cover %}
 {% assign coverimagealt = page.coveralt %}
{% elsif page.tags contains "cofest" %}
 {% assign coverimage = "/assets/images/cofest.png" %}
 {% assign coverimagealt = "CoFest logo with two generic people shapes conversing next to the GTN logo and text 'gtn cofest'" %}
{% elsif page.tags contains "galaxy" %}
 {% assign coverimage = "/assets/images/GalaxyNews.png" %}
 {% assign coverimagealt = "Galaxy News logo on dark blue background with Galaxy logo and words 'Galaxy News'" %}
{% elsif n.tags contains "gat" %}
 {% assign coverimage = "/assets/images/gat.png" %}
 {% assign coverimagealt = "GTN Logo on a spiral galaxy background with text 'galaxy admin training'" %}
{% else %}
 {% assign coverimage = "/assets/images/GTN.png" %}
 {% assign coverimagealt = "GTN logo with a multi-coloured star and the words Galaxy Training Network" %}
{% endif %}
<div class="newsitem">
{% include _includes/contributors-line.html page=page %}

{% for tag in page.tags %}
<button class="label label-default tutorial_tag" id="{{ tag }}" style="{{ tag | colour_tag }}" title="{{tag}}">{{ tag  }}</button>
{% endfor %}

<hr/>

<div class="row">
  <div class="col-md-8">
    <p class="text-muted">
      Posted on: {{ page.date | date: "%-d %B %Y" }}
    </p>

    {{content}}

    {% if page.link %}
    <a href="{{page.link}}" class="btn btn-primary">Full Story</a>
    {% endif %}

    {% if page.tutorial %}
    <a href="{{site.baseurl}}/{{page.tutorial}}" class="btn btn-primary">View Tutorial</a>
    {% endif %}

    {% if page.cited %}
    <h2 id="bibliography">{{locale['references']| default: "References" }}</h2>
    {% bibliography --cited %}
    {% endif %}

    {% if page.contributions %}
    {% include _includes/funding-statement.md contributions=page.contributions %}
    {% endif %}
  </div>

  <div class="col-md-4">
    <img alt="{{ coverimagealt }}" src="{% unless coverimage contains 'http' %}{{site.baseurl}}/{% endunless %}{{coverimage}}" width="300" loading="lazy"/>
  </div>
</div>
</div>

<script type="application/ld+json">
{{ page | generate_news_jsonld: site }}
</script>
