---
layout: base
---

{% include _includes/default-header.html %}

{% assign topic = site.data[page.topic_name] %}
{% assign contributors = site.data['contributors'] %}
{% assign instances = site.data['instances'] %}
{% assign topic_material = site.pages | topic_filter:page.topic_name %}
{% assign language = site.other_languages | split: ", " %}

<div class="container main-content">
    <section>
        <h1>{{ topic.title }}</h1>
        <p>{{ topic.summary }}</p>

        {% if topic.requirements %}
        <h2 id="requirements">Requirements</h2>
        <p>Before diving into this topic, we recommend you to have a look at:</p>

        <ul>
            {% include snippets/display_extra_training.md extra_trainings=topic.requirements %}
        </ul>
        {% endif %}

        <h2 id="material">Material</h2>

        <h3>Core Topics</h3>
        <p>These are the core, foundational topics for the majority of administration in Galaxy.</p>
        {% include _includes/topic-list.html material=topic_material tag='core' %}

        <h3>Further Learning</h3>
        <p>These topics will let you further expand your knowledge. They all build upon what you learned in the core topics, and many expect that you have a setup identical to the one started in the core trainings.</p>
        {% include _includes/topic-list.html material=topic_material tag='features' %}

        <h3>Extras</h3>
        {% include _includes/topic-list.html material=topic_material %}


        <h2 id="maintainers">Maintainers</h2>
        <p>This material is maintained by:</p>
        {% assign maintainers = topic.maintainers | sorted %}
        {% include _includes/contributor-badge-list.html contributors=maintainers %}

        <p>
            <em>For any question related to this topic and the content, you can contact them or visit our <a href="https://gitter.im/Galaxy-Training-Network/Lobby">Gitter channel</a>.</em>
        </p>

        <h2 id="contributors">Contributors</h2>
        <p>This material was contributed to by:</p>
        {% assign contributors_list = "" | split: ',' %}
        {% for material in topic_material %}
            {% for c in material.contributors %}
                {% if contributors_list contains c %}
                {% else %}
                    {% assign contributors_list = contributors_list | push: c %}
                {% endif %}
            {% endfor %}
        {% endfor %}
        {% assign contributors_list_sorted = contributors_list | sorted %}
        {% include _includes/contributor-badge-list.html contributors=contributors_list_sorted %}

        {% if topic.references %}
        <h2 id="references">References</h2>
        <ul>
        {% for reference in topic.references %}
            <li class="citation">
                <strong>{{ reference.authors }}:</strong> <a href="{{ reference.link }}">{{ reference.title }}</a>
                {% if reference.summary != "" %}
                <br><cite>{{ reference.summary }}</cite>
                {% endif %}
            </li>
        {% endfor %}
        </ul>
        {% endif %}
    </section>
</div>

{% include _includes/default-footer.html %}
