---
layout: base
---


{% assign topic = site.data[page.topic_name] %}
{% assign t = site.data[topic] %}
{% assign topic_material = site.pages | topic_filter:topic.name %}


{% include _includes/default-header.html %}


<style type="text/css">
::cue {
   color:#333;
}
</style>
<div class="container main-content">
  <section>
    <h1 data-toc-skip > Video Slides - {{ topic.title }} </h1>

    <div class="container">
      <div class="row">
      <!-- sidebar, which will move to the top on a small screen -->
        <div class="col-sm-4">
          <nav id="toc" data-toggle="toc" class="sticky-top"></nav>
        </div>
      <div class="col-sm-8">
        {% for material in topic_material %}
          {% if material.video %}
          <h2 id="video-{{ topic.name }}-{{ material.tutorial_name }}"> {{ material.title }}</h2>
          <video controls preload="metadata" width="800" height="610">
            <source  src="https://galaxy-training.s3.amazonaws.com/videos/topics/{{ topic.name }}/{% if material.type == "introduction" %}slides/introduction.mp4{% else %}tutorials/{{ material.tutorial_name }}/slides.mp4{% endif %}"
                type="video/mp4">
            <track label="English" kind="captions" srclang="en"
                   src="https://training.galaxyproject.org/videos/topics/{{ topic.name }}/{% if material.type == "introduction" %}slides/introduction.en.vtt{% else %}tutorials/{{ material.tutorial_name }}/slides.en.vtt{% endif %}" default>
          </video>
          {% endif %}
        {% endfor %}
      </div>
    </div>

  </section>
</div>

{% include _includes/default-footer.html %}
