---
layout: base
---

{% assign topic = site.data[page.topic_name] | default: page.topic %}
{% assign topic_material = site | list_materials_structured:topic.name %}

<!-- Gitter -->
{% if topic.gitter %}
  {% assign gitter = topic.gitter %}
{% else %}
  {% assign gitter = site.gitter_url %}
{% endif %}

<section class="tutorials-list {{ topic.name }} topic-type-{{ topic.type }}">
    <h1>{{ topic.title }}</h1>
    <p>{{ topic.summary | markdownify }}</p>

    {% if topic.community_ctas %}
        <div class="row" style="margin-bottom: 1em">
            {% for cta in topic.community_ctas %}
            <div class="col-md-3">
                {{ cta.description | markdownify }}
                <a href="{{ cta.link }}" class="btn {% if forloop.first %} btn-primary {% else %} btn-secondary {% endif %} ">
                   {% icon_var cta.icon %} &nbsp; {{ cta.link_text }}
                </a>
            </div>
            {% endfor %}
        </div>
    {% else %}

        {% if topic.gitter %}
        <p><em>For any question or discussions related to this topic, or to connect with others in the community, please visit the community chat:</em></p>
        <p><a class="btn btn-success" href="https://matrix.to/#/#{{topic.gitter}}">{% icon comment %} &nbsp; Community Matrix Chat</a></p>
        {% endif%}

        {% if topic.requirements %}
        <h2 id="requirements">Requirements</h2>
        <p>Before diving into this topic, we recommend you to have a look at:</p>
        <ul>
            {% include _includes/display_extra_training.md extra_trainings=topic.requirements %}
        </ul>
        {% endif %}
    {% endif %}

    {% if topic.learning_path_cta %}
    <div id="cta-lp" style="color: var(--brand-color-contrast);background: var(--brand-color);">
      <div style="background: repeating-linear-gradient( 135deg, transparent, transparent 10px, #fff1 10px, #fff1 20px );padding: 1rem;">
        <h3 style="margin: unset;">Not sure where to start?</h3>
        <p style="display: flex;justify-content: space-between;align-items: center;vertical-align: bottom;margin-bottom: 0;">
          <span>Try the {{ topic.title }} Learning Pathway!</span>
	  <a href="/training-material/learning-pathways/{{ topic.learning_path_cta }}.html?utm_source=gtn&utm_medium=topic-{{ topic.name }}&utm_campaign=home-cta-lp" class="btn btn-success">Start Learning</a>
        </p>
      </div>
    </div>
    {% endif %}

    {% if topic.learning_path_ctas %}
    <div id="cta-lp" style="color: var(--brand-color-contrast);background: var(--brand-color);">
      <div style="background: repeating-linear-gradient( 135deg, transparent, transparent 10px, #fff1 10px, #fff1 20px );padding: 1rem;">
        <h3 style="margin: unset;">Not sure where to start?</h3>
        <p style="display: flex;justify-content: space-between;align-items: center;vertical-align: bottom;margin-bottom: 0;">
          <span>Try a {{ topic.title }} Learning Pathway!</span>
          <span>
	  {% for cta in topic.learning_path_ctas %}
	  <a href="/training-material/learning-pathways/{{ cta[1] }}.html?utm_source=gtn&utm_medium=topic-{{ topic.name }}&utm_campaign=home-cta-lp" class="btn btn-success">{{ cta[0] }}</a>
	  {% endfor %}
          </span>
        </p>
      </div>
    </div>
    {% endif %}

    <h2 id="material">Material</h2>

    {% if topic.toc %}
      <p>
      <blockquote class="agenda">
      <div class="box-title agenda-title" id="agenda">Jump to a section!</div>
      <ul class="markdown-toc">
      {% for subtopic in topic_material %}
        <li><a href="#st-{{ subtopic[0] | slugify }}">{{subtopic[1].subtopic.title}}</a></li>
      {% endfor %}
      </ul>
      </blockquote>
      </p>
    {% endif %}

    <i>You can view the tutorial materials in different languages by clicking the dropdown icon next to the slides ({% icon slides %}) and tutorial ({% icon tutorial %}) buttons below. </i>

    {% if topic.draft %}
    <div class="label label-default tutorial_tag" style="{{ 'work-in-progress' | colour_tag }}">work-in-progress</div>{% endif %}
    {% for subtopic in topic_material %}
        <!-- subtopic = [{{subtopic[0]}}, {subtopic => {{ subtopic[1].subtopic }}, materials => [ ... ]} ] -->

        {% if subtopic[0] != "__FLAT__" %}
        <h3 id="st-{{ subtopic[0] | slugify }}">{{ subtopic[1].subtopic.title }}</h3>
        <p>{{ subtopic[1].subtopic.description }}</p>
        {% endif %}

        {% include _includes/tutorial_list.html sub=subtopic %}
    {% endfor %}

    {{ content }}

    {% unless topic.tag_based %}
    <h2 id="topic-faq">Frequently Asked Questions</h2>
    <p>Common questions regarding this topic have been collected on a <a href="faqs/">dedicated FAQ page </a>. Common questions related to specific tutorials can be accessed from the tutorials themselves.</p>

    {% if jekyll.environment == "production" %}
    <p><a href="feed.xml">Follow topic updates {% icon rss-feed %}</a> with our RSS Feed</p>
    {% endif %}
    {% endunless %}

    {% unless topic.tag_based %}
    <h2 id="community">Community Resources</h2>
    <a class="btn btn-primary" href="community.html">Community Home</a>
    <a class="btn btn-primary" href="maintainer.html">Maintainer Home</a>
    {% endunless %}

    {% if topic.editorial_board %}
    <h2 id="editorial-board">Editorial Board</h2>
    <p>This material is reviewed by our Editorial Board:</p>
    {% assign editorial_board = topic.editorial_board | sorted %}
    {% include _includes/contributor-list.html contributors=editorial_board badge=true %}
    {% unless topic.tag_based %}
    <p>Are you on the editorial board or want to help out with this topic? View the <a href="{{site.baseurl}}/topics/{{topic.name}}/maintainer.html">topic maintainer page</a> for ways to improve this topic!</p>
    {% endunless %}
    {% endif %}


    <h2 id="contributors">Contributors</h2>
    <p>This material was contributed to by:</p>
    {% assign contributors_list_sorted = topic_material | identify_contributors: site %}
    {% include _includes/contributor-list.html contributors=contributors_list_sorted badge=true %}

	<h2 id="funding">{{locale['references']| default: "Funding" }}</h2>
	<p>These individuals or organisations provided funding support for the development of this resource</p>
    {% assign funders_list_sorted = topic_material | identify_funders: site %}
    {% include _includes/funding-statement.md funders=funders_list_sorted %}

    {% if topic.references %}
    <h2 id="references">References</h2>
    <ul>
    {% for reference in topic.references %}
        <li class="citation">
            <strong>{{ reference.authors }}:</strong> <a href="{{ reference.link }}">{{ reference.title }}</a>
            {% if reference.summary != "" %}
            <br><cite>{{ reference.summary }}</cite>
            {% endif %}
        </li>
    {% endfor %}
    </ul>
    {% endif %}
</section>
