---
layout: base_slides
---

{% assign topic = site.data[page.topic_name] %}
{% assign topic_material = site.pages | topic_filter:page.topic_name %}
{% for tuto in topic_material %}
    {% if tuto.name == page.tutorial_name %}
        {% assign tutorial = tuto %}
        {% assign title = tutorial.title %}
    {% endif %}
{% endfor %}


### {% icon question %} Questions

{% for question in page.questions %}
- {{ question }}
{% endfor %}

---

{% if page.objectives %}
### {% icon objectives %} Objectives

{% for objective in page.objectives %}
- {{ objective }}
{% endfor %}

---
{% endif %}

{{ content }}

---

{% if page.key_points %}
### {% icon keypoints %} Key points

{% for key_point in page.key_points %}
- {{ key_point }}
{% endfor %}
{% endif %}
