---
layout: base
---
<section class="tutorial">
    <ul class="tutorial-header">
            <li><a href="{{ site.url }}">Home</a></li>
            <li><a href="{{ site.url }}/{{ page.related_topic }}">Related topic</a></li>
    	    <li><a href="{{ site.url }}/{{ page.related_topic }}/tutorials/introduction">Topic Introduction</a></li>

            <li><a href="{{ site.url }}/{{ page.related_topic }}/slides/{{ page.name }}">Associated slides</a></li>
            <li><a href="{{ site.github_repository }}/tree/master/{{ page.related_topic }}/docker">Docker image</a></li>
            <li><a href="{{ page.zenodo_link }}">Input Dataset</a></li>
    </ul>

    <h1>{{ page.title }}</h1>

    <blockquote class="overview">
        <h3>Overview</h3>

        <p class="bold"> :grey_question: Questions</p>
        <ul>
        {% for question in page.questions %}
	       <li>{{ question }}</li>
	    {% endfor %}
        </ul>

        <p class="bold"> :dart: Objectives</p>
        <ul>
        {% for objective in page.objectives %}
	       <li>{{ objective }}</li>
	    {% endfor %}
        </ul>

        <p class="bold"> :heavy_check_mark: Requirements</p>
        <ul>
        {% for requirement in page.requirements %}
	       <li><a href="{{ requirement.link }}">{{ requirement.title }}</a></li>
	    {% endfor %}
        </ul>

        <p><span class="bold"> :hourglass: Time estimation:</span> {{ page.time_estimation }}</p>

    </blockquote>

{{ content }}

    <blockquote class="key_points">
        <h3> :grey_exclamation: Key points</h3>

        <ul>
        {% for key_point in page.key_points %}
           <li>{{ key_point }}</li>
        {% endfor %}
        </ul>
    </blockquote>

</section>
