---
layout: base
---

{% assign topic = site.data[page.topic_name] %}
{% assign contributors = site.data['contributors'] %}
{% assign instances = site.data['instances'] %}
{% assign topic_material = site.pages | topic_filter:page.topic_name %}
{% assign language = site.other_languages  %}

{% assign intro_link = false %}
{% assign intro_target = "" %}
{% assign associated_slides = false %}
{% assign own_material = null %}
{% for material in topic_material %}
    {% if material.enable != "false" %}
        {% if material.tutorial_name == page.tutorial_name %}
            {% assign own_material = material %}
            {% if material.slides  %}
                {% assign associated_slides = true %}
            {% endif %}
        {% endif %}
        {% if material.type == "introduction" %}
            {% assign intro_link = true %}
            {% assign intro_target = material.tutorial_name | append: '.html' %}

        {% endif %}
    {% endif %}
{% endfor %}

<!-- Gitter -->
{% if page.gitter %}
  {% assign gitter = page.gitter %}
{% elsif topic.gitter %}
  {% assign gitter = topic.gitter %}
{% else %}
  {% assign gitter = site.gitter_url %}
{% endif %}

<script>
  ((window.gitter = {}).chat = {}).options = {
  room: '{{ gitter | remove: "https://gitter.im/" }}'
  };
</script>
<script src="https://sidecar.gitter.im/dist/sidecar.v1.js" async defer></script>

<header>
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container">
            <a class="navbar-brand" href="{{ site.baseurl }}/">
                <img src="{{ site.baseurl }}/{{ site.small_logo }}" height="30" alt="Galaxy Training Network logo">
                {{ site.title }}
            </a>

            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#top-navbar" aria-controls="top-navbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="top-navbar">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ site.baseurl }}/topics/{{ topic.name }}" title="Go back to list of tutorials">
                            {% icon topic %} {{ topic.title }}
                        </a>
                    </li>

                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false" title="Language Selector">
                            {% icon language %} Language
                        </a>
                        <div class="dropdown-menu">
                            {% for lang in site.other_languages %}
                            <a class="dropdown-item" href="https://translate.google.com/translate?hl=jp&sl=en&tl={{ lang[0] }}&u=https%3A%2F%2Ftraining.galaxyproject.org%2Ftopics%2F{{ topic.name }}%2Ftutorials%2F{{ page.tutorial_name }}%2Ftutorial.html&edit-text=&act=url" title="{{ inst[0] }}">
                                {{ lang[1] }}
                            </a>
                            {% endfor %}
                            <a class="dropdown-item" href="https://translate.google.com/translate?hl=jp&sl=en&tl=&u=https%3A%2F%2Ftraining.galaxyproject.org%2Ftopics%2F{{ include.topic }}%2Ftutorials%2F{{ include.material.tutorial_name }}%2Ftutorial.html&edit-text=&act=url" title="{{ inst[0] }}">
                                And more!
                            </a>
                        </div>
                    </li>

                    {% include _includes/help.html %}

                    <li class="nav-item">
                        <a class="nav-link" href="{{ site.github_repository }}/edit/{{ site.github_repository_branch }}/topics/{{ topic.name }}/tutorials/{{ page.tutorial_name }}/tutorial.md">
                            {% icon github %} Edit
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<div class="container main-content">
    <script type="application/ld+json">
        {% include _includes/material.jsonld material=page topic=topic site=site %}
    </script>

    <section class="tutorial">
        <h1 data-toc-skip>{{ page.title }}</h1>
        {% if page.enable == false or page.enable == "false" %}
        <div class="alert alert-warning" role="alert">
            <h4 class="alert-heading">Under Development!</h4>
            <p>This tutorial is not in its final state. The content may change a lot in the next months.
            Because of this status, it is also not listed in the topic pages.</p>
        </div>
        {% endif %}

        <div class="contributors-line">By: {% include _includes/contributor-badge-list.html contributors=page.contributors %}</div>

        <blockquote class="overview">
            <h3>Overview</h3>
            <strong>{% icon question %} Questions</strong>
            <ul>
            {% for question in page.questions %}
            <li>{{ question | markdownify }}</li>
            {% endfor %}
            </ul>

            <strong>{% icon objectives %} Objectives</strong>
            <ul>
            {% for objective in page.objectives %}
            <li>{{ objective | markdownify }}</li>
            {% endfor %}
            </ul>

            {% if topic.requirements or page.requirements %}
            <strong>{% icon requirements %} Requirements</strong>
            <ul>
            {% include snippets/display_extra_training.md extra_trainings=topic.requirements %}
            {% include snippets/display_extra_training.md extra_trainings=page.requirements %}
            </ul>
            {% endif %}

            {% if page.time_estimation %}
            <p><strong>{% icon time %} Time estimation:</strong> {{ page.time_estimation | duration_to_human }}</p>
            {% endif %}

            {% if page.level %}
            <p><strong>{% icon level %} Level: </strong>
            {% include _includes/difficulty-indicator.html level=page.level textlabel=true %}</p>
            {% endif %}

            {% if instances[topic.name].supported or topic.docker_image %}
                {% if instances[topic.name]['tutorials'][own_material.tutorial_name].supported or topic.docker_image %}
                    {% assign tuto_has_docker = true %}
                {% endif %}
            {% endif %}
            {% if own_material.zenodo_link and own_material.zenodo_link != "" %}
                {% assign tuto_has_zenodo = true %}
            {% endif %}

            {% if associated_slides or intro_link or tuto_has_zenodo or own_material.workflows or own_material.tours or tuto_has_docker %}
            <p id="supporting-materials"><strong><i class="fa fa-external-link" aria-hidden="true"></i> Supporting Materials</strong></p>
            <ul>
                <div class="supporting_material">
                {% if associated_slides %}
                    <li class="btn btn-default"><a href="{{ site.baseurl }}/topics/{{ topic.name }}/tutorials/{{ page.tutorial_name }}/slides.html" title="Slides for this tutorial">
                        {% icon slides %} Slides
                    </a></li>
                {% elsif intro_link %}
                    <li class="btn btn-default supporting_material"><a href="{{ site.baseurl }}/topics/{{ topic.name }}/slides/{{ intro_target }}" title="Introduction slides">
                        {% icon slides %} Introduction slides
                    </a></li>
                {% endif %}

                {% if tuto_has_zenodo %}
                    <li class="btn btn-default supporting_material">{% include _includes/resource-zenodo.html material=own_material topic=topic.name label=true %}</li>
                {% endif %}

                {% if own_material.workflows %}
                    <li class="btn btn-default supporting_material">{% include _includes/resource-workflows.html material=own_material topic=topic.name label=true %}</li>
                {% endif %}

                {% if own_material.tours %}
                    <li class="btn btn-default supporting_material">{% include _includes/resource-tours.html material=own_material topic=topic.name label=true %}</li>
                {% endif %}

                {% if tuto_has_docker and topic.name != 'admin' %}
                    <li class="btn btn-default supporting_material">{% include _includes/instance-dropdown.html instances=instances topic=topic.name tuto=own_material.tutorial_name docker=topic.docker_image label=true %}</li>
                {% endif %}
                </div>
            </ul>
            {% endif %}

            <p><strong> {% icon last_modification %} Last modification:</strong> {{ page.last_modified_at | date: "%b %-d, %Y"}} </p>
        </blockquote>

        <div class="container">
            <div class="row">
                <!-- sidebar, which will move to the top on a small screen -->
                <div class="col-sm-2">
                    <nav id="toc" data-toggle="toc" class="sticky-top"></nav>
                </div>
                <div class="col-sm-10">
                    {{ content
                        | replace: '<blockquote class="hands_on">', '<blockquote class="notranslate hands_on">'
                        | no_translate:site.words_to_not_translate }}

                    {% if page.key_points %}
                    <blockquote class="key_points">
                        <h3>{% icon keypoints %} Key points</h3>
                        <ul>
                            {% for key_point in page.key_points %}
                            <li>{{ key_point | markdownify }}</li>
                            {% endfor %}
                        </ul>
                    </blockquote>
                    {% endif %}

                    {% if topic.references %}
                    <h1 data-toc-skip>Useful literature</h1>
                    <p>Further information, including links to documentation and original publications, regarding the tools, analysis techniques and the interpretation of results described in this tutorial can be found <a href="{{ site.baseurl }}/topics/{{ topic.name }}#references">here</a>.</p>
                    {% endif %}

                    {% if material.cited %}
                    <h1 id="bibliography">References</h1>
                    {% bibliography --cited %}
                    {% endif %}

                    <h1>Citing this Tutorial</h1>
                    <p>
                        <ol>
                            <li id="citation-text">
                            {%- include _includes/contributor-author-list-comma.html contributors=page.contributors -%}, {{ page.last_modified_at | date: "%Y" }} <b>{{ page.title }} (Galaxy Training Materials)</b>. <a href="{{ site.baseurl }}{{page.url}}">{{ site.baseurl }}{{page.url}}</a> Online; accessed TODAY
                            </li>
                            <li>
                            Batut et al., 2018 <b>Community-Driven Data Analysis Training for Biology</b> Cell Systems <a href="https://doi.org/10.1016%2Fj.cels.2018.05.012">10.1016/j.cels.2018.05.012</a>
                            </li>
                        </ol>
                    </p>


                    <blockquote class="details">
                      <h3><i class="fa fa-info-circle" aria-hidden="true"></i><span class="visually-hidden">details</span> BibTeX</h3>
                      <p style="display: none;">

                    <div class="highlighter-rouge"><div class="highlight"><pre class="highlight">
<code id="citation-code">@misc{% raw %}{{% endraw %}{{topic.name}}-{{page.tutorial_name}},
    author = "{%- include _includes/contributor-author-list.html contributors=page.contributors -%}",
    title = "{{ page.title }} (Galaxy Training Materials)",
    year = "{{ page.last_modified_at | date: "%Y"}}",
    month = "{{ page.last_modified_at | date: "%m"}}",
    day = "{{ page.last_modified_at | date: "%d" }}"
    url = "{% raw %}\url{{% endraw %}{{ site.baseurl }}{{page.url}}{% raw %}}{% endraw %}",
    note = "[Online; accessed TODAY]"
}
@article{Batut_2018,
        doi = {10.1016/j.cels.2018.05.012},
        url = {https://doi.org/10.1016%2Fj.cels.2018.05.012},
        year = 2018,
        month = {jun},
        publisher = {Elsevier {BV}},
        volume = {6},
        number = {6},
        pages = {752--758.e1},
        author = {B{\'{e}}r{\'{e}}nice Batut and Saskia Hiltemann and Andrea Bagnacani and Dannon Baker and Vivek Bhardwaj and Clemens Blank and Anthony Bretaudeau and Loraine Brillet-Gu{\'{e}}guen and Martin {\v{C}}ech and John Chilton and Dave Clements and Olivia Doppelt-Azeroual and Anika Erxleben and Mallory Ann Freeberg and Simon Gladman and Youri Hoogstrate and Hans-Rudolf Hotz and Torsten Houwaart and Pratik Jagtap and Delphine Larivi{\`{e}}re and Gildas Le Corguill{\'{e}} and Thomas Manke and Fabien Mareuil and Fidel Ram{\'{\i}}rez and Devon Ryan and Florian Christoph Sigloch and Nicola Soranzo and Joachim Wolff and Pavankumar Videm and Markus Wolfien and Aisanjiang Wubuli and Dilmurat Yusuf and James Taylor and Rolf Backofen and Anton Nekrutenko and Björn Grüning},
        title = {Community-Driven Data Analysis Training for Biology},
        journal = {Cell Systems}
}</code>
                    </pre></div></div>
                    </p>
                    </blockquote>


<script type="text/javascript">
// update the date on load, or leave fallback of 'today'
d = new Date();
document.getElementById("citation-code").innerHTML = document.getElementById("citation-code").innerHTML.replace("TODAY", d.toDateString());
document.getElementById("citation-text").innerHTML = document.getElementById("citation-text").innerHTML.replace("TODAY", d.toDateString());
</script>

                </div>
            </div>
        </div>

        <h3>{% icon congratulations %} Congratulations on successfully completing this tutorial!</h3>

        {% if topic.name == "contributing" %}
        <blockquote class="agenda">
            <h3>Developing GTN training material</h3>
            This tutorial is part of a series to develop GTN training material, feel free to also look at:
            {% assign topic = site.data[page.topic_name] %}
            <ol>
            {% for material in topic_material %}
                {% if material.enable != "false" %}
                    {% if material.type == "introduction" %}
            <li><a href="{{ site.baseurl }}/topics/{{ topic.name }}/slides/{{ material.tutorial_name }}.html">{{ material.title }}</a></li>
                    {% elsif material.type == "tutorial" %}
                        {% if material.hands_on %}
            <li><a href="{{ site.baseurl }}/topics/{{ topic.name  }}/tutorials/{{ material.tutorial_name }}/tutorial.html">{{ material.title }}</a></li>
                        {% elsif material.slides %}
            <li><a href="{{ site.baseurl }}/topics/{{ topic.name }}/tutorials/{{ material.tutorial_name }}/slides.html">{{ material.title }}</a></li>
                        {% endif %}
                    {% endif %}
                {% endif %}
            {% endfor %}
            </ol>
        </blockquote>
        {% endif %}

        {% if page.follow_up_training %}
        <blockquote class="agenda follow-up">
            <strong class="follow-up">{% icon curriculum %} Do you want to extend your knowledge? Follow one of our recommended follow-up trainings:</strong>
            <ul>
                {% include snippets/display_extra_training.md extra_trainings=page.follow_up_training %}
            </ul>
        </blockquote>
        {% endif %}

        <hr>
        <br>

        <p class="text-muted">Did you use this material as an instructor? Feel free to give us feedback on <a href="https://github.com/galaxyproject/training-material/issues/1452" target="_blank">how it went</a>.</p>
        <iframe id="feedback-google" class="google-form" src="https://docs.google.com/forms/d/e/1FAIpQLSd4VZptFTQ03kHkMz0JyW9b6_S8geU5KjNE_tLM0dixT3ZQmA/viewform?embedded=true&entry.1235803833={{ page.title }} ({{ topic.title }})">Loading...
        </iframe>

        <blockquote class="feedback">
            <h3>{% icon feedback %} Give us even more feedback on this content!</h3>
            <p>To give us more detailed feedback about these materials, please take a moment to fill in the extended <a href="https://docs.google.com/forms/d/e/1FAIpQLSc_GLZRpxZGAL9tN6DA1bE6WkNhmQdXT7B16TpOb-X4YwKUsQ/viewform?entry.1548889262={{ page.title }} ({{ topic.title }})">Feedback Form</a>.</p>
        </blockquote>
    </section>
</div>


<footer>
    <div class="container">
        <p>
            This material is the result of a collaborative work. Thanks to the
            <a href="https://wiki.galaxyproject.org/Teach/GTN">Galaxy Training Network</a>
            and all the <a href="{{ site.baseurl }}/hall-of-fame">contributors</a> ({% include _includes/contributor-text-list.html contributors=page.contributors %})!
        </p>
        <p>
            Found a typo? Something is wrong in this tutorial? Edit it on
            <a href="{{ site.github_repository }}/tree/{{ site.github_repository_branch }}/topics/{{ topic.name }}/tutorials/{{ page.tutorial_name }}/tutorial.md">GitHub</a>.
        </p>
        {% include _includes/license.html %}
    </div>
</footer>
