name: Lint YAML Metadata

concurrency:
  group: ci-yaml-${{ github.head_ref }}
  cancel-in-progress: true

on:
  pull_request:
    paths:
      - '**/tutorial*.md'
      - '**/slides.html'
      - '**/slides/*.html'
      - '**/*.yaml'
      - '**/*.yml'

jobs:
  lint-frontmatter:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 1

      - uses: reviewdog/action-setup@v1
        with:
          reviewdog_version: latest

      # BEGIN Dependencies
      - uses: actions/setup-python@v2
        with:
          python-version: '3.7'
          architecture: 'x64'
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: "2.5"
      - uses: actions/setup-node@v2
        with:
          node-version: '14'
      - uses: actions/cache@v2
        with:
          path: |
            vendor/bundle
            ~/.cache/pip
            ~/.npm
          key: ${{ runner.os }}-gems-${{ hashFiles('**/Gemfile.lock') }}-py-${{ hashFiles('**/requirements.txt') }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-gems-${{ hashFiles('**/Gemfile.lock') }}-py-${{ hashFiles('**/requirements.txt') }}-node-
            ${{ runner.os }}-gems-${{ hashFiles('**/Gemfile.lock') }}-py--node-
            ${{ runner.os }}-gems-
      - name: Install dependencies
        run: |
          gem install bundler
          bundle config path vendor/bundle
          bundle install --jobs 4 --retry 3
          pip install -r requirements.txt
          npm install
          bundle pristine ffi
      # END Dependencies

      - name: Check Frontmatter
        run: |
          make check-frontmatter ACTIVATE_ENV=pwd
          make check-contributors ACTIVATE_ENV=pwd
