name: Accessibility Linting

concurrency:
  group: ci-${{ github.head_ref }}
  cancel-in-progress: true

# https://docs.github.com/en/free-pro-team@latest/actions/reference/workflow-syntax-for-github-actions#example-using-a-list-of-events
on:
  pull_request:
    paths:
      - '**/*.md'
      - '**/*.html'
      - '*.yml'
      - '*.yaml'
      - 'metadata/*'
      - 'topics/*/images/*'
      - '_plugins/*'
      - '_plugins_dev/*'
      - '**/*.bib'

jobs:
  build-site:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 1

      # BEGIN Dependencies
      - uses: actions/setup-python@v2
        with:
          python-version: '3.7'
          architecture: 'x64'
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: "2.7"
      - uses: actions/setup-node@v2
        with:
          node-version: '14'
      - uses: actions/cache@v2
        with:
          path: |
            vendor/bundle
            ~/.npm
          key: ${{ runner.os }}-gems-${{ hashFiles('**/Gemfile.lock') }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-gems-${{ hashFiles('**/Gemfile.lock') }}-node-
            ${{ runner.os }}-gems-
      - name: Install dependencies
        run: |
          gem install bundler
          bundle config path vendor/bundle
          bundle install --jobs 4 --retry 3
          npm install
          bundle pristine ffi
      # END Dependencies

      - name: Build the site
        run: bundle exec jekyll build --strict_front_matter -d _site/training-material --trace

      - name: Validate all links, enforce alt text
        run: |
          bundle exec htmlproofer \
            --ignore-urls "/.*localhost.*/","/.*vimeo\.com.*/","/.*gitter\.im.*/","/.*drmaa\.org.*/","/.*slides.html#.*/,/#embedded_jbrowse/","/.*videos.*.mp4.png/","/krona_(all|multisample).html/" \
            --ignore-files "/.*krona.*\.html/","/.*\/files\/.*/","/.*\/node_modules\/.*/","/\/tutorials\/.*\/docker\//","/.*content.html/" \
            --swap-urls "github.com/galaxyproject/training-material/tree/main:github.com/${GITHUB_REPOSITORY}/tree/${GITHUB_HEAD_REF}" \
            --disable-external=true \
            --enforce-https=false \
            ./_site

      - name: Run aXe accessibility testing on some representative URLs
        run: |
          node_modules/.bin/http-server _site/ &
          node_modules/.bin/axe http://localhost:8080/training-material/
          node_modules/.bin/axe http://localhost:8080/training-material/hall-of-fame/
          node_modules/.bin/axe http://localhost:8080/training-material/hall-of-fame/hexylena/
          node_modules/.bin/axe http://localhost:8080/training-material/topics/introduction/
          node_modules/.bin/axe http://localhost:8080/training-material/topics/statistics/
          node_modules/.bin/axe http://localhost:8080/training-material/topics/genome-annotation/
          node_modules/.bin/axe http://localhost:8080/training-material/topics/admin/
          node_modules/.bin/axe http://localhost:8080/training-material/topics/dev/
          node_modules/.bin/axe http://localhost:8080/training-material/topics/introduction/tutorials/galaxy-intro-short/tutorial.html
          node_modules/.bin/axe http://localhost:8080/training-material/topics/introduction/tutorials/galaxy-intro-short/workflows/

      - name: Validate notebooks (If this fails, ask @hexylena to look at your notebook)
        run: |
          find _site | grep ipynb | xargs bundle exec ruby bin/check-valid-json.rb
