name: Lint Broken Links

concurrency:
  group: ci-${{ github.head_ref }}
  cancel-in-progress: true

# https://docs.github.com/en/free-pro-team@latest/actions/reference/workflow-syntax-for-github-actions#example-using-a-list-of-events
on:
  pull_request:
    paths:
      - '**/*.md'
      - '**/*.html'
      - '*.yml'
      - '*.yaml'
      - 'metadata/*'
      - 'topics/*/images/*'
      - '_plugins/*'
      - '_plugins_dev/*'
      - '**/*.bib'

jobs:
  build-site:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 1

      # BEGIN Dependencies
      - uses: actions/setup-python@v2
        with:
          python-version: '3.7'
          architecture: 'x64'
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: "2.5"
      - uses: actions/setup-node@v2
        with:
          node-version: '14'
      - uses: actions/cache@v2
        with:
          path: |
            vendor/bundle
            ~/.cache/pip
            ~/.npm
          key: ${{ runner.os }}-gems-${{ hashFiles('**/Gemfile.lock') }}-py-${{ hashFiles('**/requirements.txt') }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-gems-${{ hashFiles('**/Gemfile.lock') }}-py-${{ hashFiles('**/requirements.txt') }}-node-
            ${{ runner.os }}-gems-${{ hashFiles('**/Gemfile.lock') }}-py--node-
            ${{ runner.os }}-gems-
      - name: Install dependencies
        run: |
          gem install bundler
          bundle config path vendor/bundle
          bundle install --jobs 4 --retry 3
          pip install -r requirements.txt
          npm install
          bundle pristine ffi
      # END Dependencies

      - run: bundle exec jekyll build --strict_front_matter -d _site/training-material --trace
      - run: |
          bundle exec htmlproofer \
            --assume-extension \
            --http-status-ignore 405,429,503,999 \
            --url-ignore "/.*localhost.*/","/.*vimeo\.com.*/","/.*gitter\.im.*/","/.*drmaa\.org.*/","/.*slides.html#.*/,/#embedded_jbrowse/","/.*videos.*.mp4.png/" \
            --url-swap "github.com/galaxyproject/training-material/tree/main:github.com/${GITHUB_REPOSITORY}/tree/${GITHUB_HEAD_REF}" \
            --file-ignore "/.*\/files\/.*/","/.*\/node_modules\/.*/","/\/tutorials\/.*\/docker\//" \
            --allow-hash-href \
            --disable-external \
            ./_site
